app-personal-menu {

    .personal_menu_list {
        margin: 0px;
    }

    .personal_menu_item {
        ion-icon {
            margin: 0px 5px 0px 0px;
            font-size: 2.2rem;
        }

        .personal_menu_contact_icon {
            width: 27px;
            height: auto;
            vertical-align: middle;
            margin: 0px 3px 0px 0px;
        }

        span {
            vertical-align: middle;
            font-size: 1.5rem;
            color: #333;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .personal_menu_item {
        padding: 0px !important;

        .item-inner {
            padding: 3px 9px 3px 15px !important;
        }
    }

    .personal_menu_item:last-child {
        border-bottom: none !important;
    }

}