<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Hóa đơn cần thanh toán
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="next()">
        Next
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list style="margin: 0">
    <ion-item>
      <ion-thumbnail item-left>
        <img src="{{shop.avatarurl}}">
      </ion-thumbnail>
      <h2>{{shop.title}}</h2>
      <p>
        <img style="width: 15px ;height: 15px;" src="assets/imgs/ic_phone_gray.png"> {{shop.shop_phone}}</p>
      <p>
        <img style="width: 17px ;height: 17px;" src="assets/imgs/ic_place_blue.png"> {{shop.shop_address}}</p>
      <button ion-button clear item-right></button>
    </ion-item>
    <ion-item>
      <p>
        <strong>Thông tin chủ cửa hàng</strong>
      </p>
      <p>{{shop.owner_name}}</p>
      <p>
        <img style="width: 15px ;height: 15px;" src="assets/imgs/ic_phone_gray.png"> {{shop.owner_phone}}</p>
      <p>
        <img style="width: 17px ;height: 17px;" src="assets/imgs/ic_place_blue.png"> {{shop.owner_address}}</p>
    </ion-item>
  </ion-list>
  <div style="background-color: #fff;">
    <ion-list>
      <ion-item *ngFor="let product of products">
        <ion-thumbnail item-left>
          <img *ngIf="product.images" src="{{product.images[0]}}">
        </ion-thumbnail>
        <h2>{{product.title}}</h2>
        <p style="color: red; position: relative;font-weight: bold">{{formatCurrency(product,product.currency)}}
          <span *ngIf="product.hasInventory==null || product.hasInventory==1"  style="color: black;font-weight: normal"> x {{product.display_quantity}}</span>
          <span *ngIf="product.hasInventory==2" style="color: black;font-weight: normal"> x {{product.redeem_quantity}}</span>
        </p>
        <p *ngIf="product.hasInventory && product.hasInventory==1" style="color: orange;font-size: 11px">
          CÓ TRONG KHO CỦA TÔI
        </p>
        <button *ngIf="product.hasInventory && product.hasInventory==1" ion-button clear item-right (click)="showInventoryItem(product)">Sử dụng</button>
        <button *ngIf="product.hasInventory && product.hasInventory==2" ion-button clear item-right>Đã sử dụng</button>
      </ion-item>
    </ion-list>
  </div>

  <ion-row>
    <div style="position: fixed; bottom: 0px; width: 100%">
      <ion-item>
        Tổng tiền :
        <ion-note class="ionNote" item-end>
          <p style="color: red; position: relative;font-weight: bold">{{formatTotalPrice()}}</p>
        </ion-note>
      </ion-item>
    </div>
  </ion-row>
</ion-content>