app-group {
  .ion_navbar_width {
    width: 27rem;
  }

  .group_cover {
    width: 100%;
    min-height: 200px;
    text-align: center;
    background-position: center !important;
    background-size: cover !important;
    box-shadow: inset 0px 0px 45px #000000;
  }

  .group_avatar_row {
    background-color: #fff;

    .group_avatar {
      width: 12rem;
      height: 12rem;
      margin: auto;
      overflow: hidden;
      border-radius: 5px;
      border: 5px solid #efeff4;
      box-shadow: 0px 1px 5px 1px #999;
      position: relative;
      top: -5.5rem;

      img {
        width: 100%;
        height: 100%;
        text-align: center;
        object-fit: contain;
        object-position: center;
        image-rendering: pixelated;
      }
    }

    .group_cover_title {
      color: #333;
      font-size: 2.4rem;
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      padding: 0px 5px;
      position: relative;
      top: -3rem;
    }
  }

  .about-info p {
    color: #697072;
    text-align: left;
  }

  .about-info ion-icon {
    color: color($colors, primary);
    width: 20px;
  }

  .md, .wp {
    .about-info [text-right] {
      margin-right: 0;
    }
  }

  .ios .about-info {
    text-align: center;
  }

  .ios .about-info ion-icon {
    width: auto;
    margin-right: 10px;
  } 

  .segment-ios-primary .segment-button.segment-activated{
    background-color: transparent;
    color: #00bdf2;
  }

  .segment-activated img#tabIconFeeds {
    content:url(./../../assets/imgs/ic_feed_actived.png);
  }

  .segment-activated img#tabIconMember {
    content:url(./../../assets/imgs/ic_friend_actived.png);
  }

  .iconGroup{
    width: 25px;
    height: auto;
    float: left;
    margin-right: 5px;
  }

   .group_bar_icon{
    width: auto;
    height: 20px;
    margin-right: 1px;
  }

  .group_bar_title {
    color: #999;
    text-transform: capitalize;
  }

  .group_bar_button {
    padding: 0px;
  }

  .group_navigation {
    background-color: #fff;
    border-top: 1px solid #c7c8cc;
  }

  .segment-ios-primary .segment-button.segment-activated {
    background-color: transparent;
    color: #00bdf2;
  }

  .group_tab {
    border-bottom: 1px solid #c7c8cc;

    .group_tab_box{
      border: 0px;
      background-color: transparent; 
      color: #999;
      height: 45px;
    }

    ion-icon {
      margin: 10px 0px 0px 0px;
    }

    .tab_border {
      border-right: 1px solid #ddd;
    }

    .group_tab_title{
      font-size: 12px;
      display: inline;
      text-transform: uppercase;
      margin: 10px 0px 0px 5px;
      vertical-align: super;
    }
  }

  .group_bar {
    border-bottom: 1px solid #c7c8cc;

    ion-col {
      padding: 7px 0px 7px 0px;
    }
  }

  .group_info {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    margin: 0px 0px 10px 0px;

    .card-content-ios {
        padding: 5px 16px 5px;
        font-size: 14px;
        line-height: 20px;
    }
  }

  .group_info_row {
    margin: 15px 0px 18px 0px;
  }

  .list-ios {
    margin: 0px;
  }

  ion-infinite-scroll-content {
    min-height: 0px;
  }

  .group_more_icon {
    color: #fff;
    margin: 1px 7px 0px 0px;
  }

   .user_fab {
    bottom: 12px;
    right: 12px;

    .user_fab_icon {
      color: #fff;
      background-color: #f0ad4e;
    }
  }

  .group_bar_add_group {
    margin-left: 3px;
  }
}
