app-renewal-item{
    .text_right{
        text-align: right;
        color: green;width: 100%;
    }
    #input_renewal{
        font-size: 22px;
        border: 1px solid;
        padding: 4px;
        border-bottom-color: black;
        border-width: 1px;
        border-radius: 5px;
        
    }
    .text-input{
        text-align: center;
    }
}