<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button icon-only (click)="onBackPress()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Xác thực tài khoản</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>
      Xác thực tài khoản qua SMS
    </ion-card-header>

    <ion-card-content>
      <ion-grid>

        <ion-row>
          <!-- PHONE NUMBER -->
          <ion-col col-12>
            <ion-label>Số điện thoại :</ion-label>
            <ion-label id="txtPhoneNumber">{{user.mobilelogin}}</ion-label>
          </ion-col>
        </ion-row>
        <!-- END PHONE NUMBER -->


        <!-- VERIFY CODE -->
        <ion-row>
          <ion-col col-12>
            <ion-label>Nhập mã xác thực </ion-label>
          </ion-col>

          <ion-col col-12>
            <ion-item id="edtVerifyCode">
              <ion-label>
                <img src="assets/imgs/ic_sms.png" />
              </ion-label>
              <ion-input [(ngModel)]="code" type="text" placeholder="Mã xác thực"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- END VERIFY CODE -->

        <!-- BUTTON SUBMIT -->
        <ion-row>
          <ion-col col-6>
            <button ion-button round (click)="sendVerifyCode();">Gửi xác thực</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button round>Yêu cầu mã mới</button>
          </ion-col>
        </ion-row>
        <!-- END BUTTON SUBMIT -->

      </ion-grid>
    </ion-card-content>

  </ion-card>

</ion-content>