app-signin {
	ion-content {
		background-image: url("../assets/imgs/background.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-color: transparent;
	}

	.scroll-content {
		background-image: radial-gradient(center center, ellipse cover, #ffeda3, #ffc800);
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	.logo {
		width: 30vw;
		height: auto;
		max-width: 12em;
		margin: 0 auto;
		padding: 20px 0px 40px 0px;
	}

	.no-border {
		border-bottom: 0 !important;
		box-shadow: none !important;
	}

	ion-row {
		align-items: center;
		text-align: center;
	}

	@media only screen and (min-width: 768px) {
		ion-col.col {
		margin: 0 auto;
		max-width: 40%;
		}
	}

	span {
		color: white;
	}

	ion-item {
		padding-left: 10px !important;
		margin-bottom: 10px;
		background-color: #fff;
		// opacity: 0.7;
		font-size: 0.9em;
	}

	ion-list {
		margin: 0;
	}

	ion-label {
		font-size: 15px;
		color: #333;
	}

	ion-input {
		font-size: 15px;
    	color: black;
	}

	.item-ios {
		background-color: rgba(255, 255, 255, 0.3);
	}

	.login_icon {
		width: 25px;
		height: 25px;
		margin: 1px 0px 0px 9px;
	}
	
	.signin_icon {
		color: #fff;
    	margin: 0px 0px 0px 3px;
	}

	.login-button {
		background: transparent;
		border: none;
		padding: 0px;
	}

	.label-ios {
		margin: 9px 5px 9px 0px;
	}

	.list-ios[inset] {
    	margin: 15px 0px 15px 0px;
    	border-radius: 4px;
	}

	.list-ios[inset] .item {
		border: none;
    	margin: 0px 0px 10px 0px;
    	border-radius: 30px;
	}

	.text-input:-ms-input-placeholder {
		color: black;
		opacity: 0.5;
		font-style: italic;
	}

	.text-input::-webkit-input-placeholder {
		color: black;
		opacity: 0.5;
		font-style: italic;
	}

	.footer-ios .toolbar-ios:first-child .toolbar-background-ios {
		border-width: 0.55px 0 0;
		background-color: #25a9e0;
	}
}