<ion-content padding class="transparent-header">
  <div padding>
    <ion-row>
      <ion-col>
        <img class="logo" src="assets/imgs/logo.png" />
      </ion-col>
    </ion-row>
    <form (ngSubmit)="onLogin()">
      <ion-row>
        <ion-col>
          <ion-list inset class="no-border">
            <ion-item>
              <ion-label>
                <img class="login_icon" src="assets/imgs/ic_username.png" />
              </ion-label>
              <ion-input type="text" name="username" [(ngModel)]="username" (ionChange)="setUsername(username)"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                <img class="login_icon" src="assets/imgs/ic_password.png" />
              </ion-label>
              <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button class="login-button" type="submit" id="btnLogin">Đăng Nhập</button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="txtRememberRegister" (click)="forgotPassword()">
            <span>Quên Mật Khẩu</span>
            <ion-icon class="signin_icon" name="arrow-dropright-circle"></ion-icon>
          </div>
        </ion-col>
        
        <ion-col>
          <div (click)="onRegister()" class="txtRememberRegister">
            <span>Đăng Ký</span>
            <ion-icon class="signin_icon" name="arrow-dropright-circle"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>