<ion-content class="outer-content" style="height: 90%; top: 102px;">
  <ion-list>
    <ion-item-sliding *ngFor="let counterOffer of counterOffers">
      <ion-item>
        <ion-thumbnail item-start>
          <img width="100%" src="{{ counterOffer.product_snapshot.images[0] }}">
          <img *ngIf="counterOffer.product_snapshot.images[0]==''" width="100%" src="assets/imgs/image_not_found.jpg" />
        </ion-thumbnail>
        <h2>{{ counterOffer.product_snapshot.title }}</h2>
        <p>{{ counterOffer.description }}</p>
        <ion-item class="user-info">
          <ion-avatar item-start>
            <img width="100%" src="{{ counterOffer.offer.owner.avatar }}">
          </ion-avatar>
          <h2>{{ counterOffer.offer.owner.username }}</h2>
        </ion-item>
        <ion-icon name="md-arrow-back" item-end></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="detail(counterOffer)">
          <ion-icon name="eye"></ion-icon>
          Xem chi tiết
        </button>
        <button ion-button color="danger" (click)="delete(counterOffer)">
          <ion-icon name="trash"></ion-icon>
          Xóa
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

