app-payment-items{
  .buttonIon {
    width: 50px;
    height: 30px;
    border-radius: 8px;
    border-width: 1px;
    border-style: inset;
    background-color: #ffffff;
  }

  .inputIon {
    width: 50px;
    height: 30px;
    border-radius: 8px;
    border-width: 1px;
    border-style: inset;
    background-color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
  }
  .text-input-ios {
    margin: 7px 8px 11px 4px;
  }
  .list.list-inline {
    display: -moz-box;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    flex-wrap: nowrap;
    top: -12px;
    position: relative;
  }

  .ionNote {
    color: red;
    font-weight: bold;
  }
  .item-ios {
  padding-left: 0 !important;
  border-radius: 0;
  position: relative;
  font-size: 1.7rem;
  color: #000;
  background-color: #ffffff;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  }
  .item-ios.item-block .item-inner {
  border-bottom: 0.55px solid #eee !important;
  }
  .iconTrash {
    font-size: 2.2em;
    color: #b1b1b1;
  }
  .divIcon {
    position: relative;
    top: 20px;
    margin-left: 40px;
  }

  .payment_item_next {
    color: #fff;
    
    ion-icon {
      font-size: 2.4rem;
      margin: 0px 0px 0px 7px;
    }
  }

  .payment_item_content {
    background-color: #fff;
  }

  .payment_item_product {
    border-bottom: 1px solid #c8c7cc;

    .payment_item_product_img {
      border-radius: 3px;
    }
  }

  .payment_item_product_price {
    color: red;
    margin: 0px 0px 0px 1px;
  }

  .payment_item_product_title {
    color: #333;
    font-size: 1.5rem;
    margin: 1px 0px 3px 1px;
  }

  .payment_item_product_quantity {
    color: #9e9e9e;
  }

  .payment_item_total {
    position: absolute; 
    bottom: 0px; 
    width: 100%;

    .item-inner {
      padding: 0px 8px 0px 8px;
    }
  }

}
