
<ion-header>
  <ion-navbar>
   <button ion-button icon-only menuToggle>
     <ion-icon name="menu"></ion-icon>
   </button>

   <ion-title>
     Thống kê
   </ion-title>

   <ion-buttons end>
     <button ion-button icon-only (click)="changePage()">
       Next <ion-icon name="arrow-forward"></ion-icon>
     </button>
   </ion-buttons>
 </ion-navbar>
</ion-header>



<ion-content class="outer-content">
  <div style="background-color: #fff;">
    <ion-row>
    	<ion-col col-12 style="text-align: left; position: relative; margin-bottom: -25px; top: -10px;" *ngFor="let number of [0,1,2,3]">
        <ion-grid>
          <ion-row>
            <ion-col col-3 style="margin-right: 15px;">
              <img width="100%" src="assets/imgs/logo.png" />
            </ion-col>
            <ion-col col-6>
              <div>
                <h4>Name</h4>
              </div>
              <div class="">
                <h4 style="color: red; top: -10px; position: relative;">300,000 đ <i style="color: #9e9e9e;">x 1</i></h4>
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="divIcon">

              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    	</ion-col>
    </ion-row>
  </div>
  <div style="position: absolute; bottom: 0px; width: 100%">
    <ion-item>
      Tổng tiền trước thuế :
      <ion-note class="ionNote" item-end>
      300,000 đ
      </ion-note>
    </ion-item>
    <ion-item>
      Thuế :
      <ion-note class="ionNote" item-end>
      300,000 đ
      </ion-note>
    </ion-item>
    <ion-item>
      Tổng tiền :
      <ion-note class="ionNote" item-end>
      600,000 đ
      </ion-note>
    </ion-item>
  </div>
</ion-content>
