<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start>
      <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <div class="ion_navbar_title ion_navbar_width">thống kê</div>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button class="payment_item_next" (click)="changePage()">
        Tiếp Tục <ion-icon ios="md-arrow-forward" md="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <div class="payment_item_content">
    <ion-row>
    	<ion-col class="payment_item_item" col-12 *ngFor="let product of products">
        <ion-grid>
          <ion-row>
            <ion-col col-3><img src="{{ product.images[0] }}" /></ion-col>
            <ion-col col-6>
              <div>{{ product.title }}</div>
              <div class="payment_item_product_quantity">{{ formatCurrency(product) }}<i style="color: #9e9e9e;">x {{ product.display_quantity }}</i></div>
            </ion-col>
            <ion-col col-2>
              <div class="divIcon"></div>
            </ion-col>
          </ion-row>
        </ion-grid>
    	</ion-col>
    </ion-row>
  </div>
  
  <div style="position: absolute; bottom: 0px; width: 100%">
    <!-- <ion-item>
      Tổng tiền trước thuế :
      <ion-note class="ionNote" item-end>
         {{ customService.formatCurrency(sub_total, currency) }}
      </ion-note>
    </ion-item>
    <ion-item>
      Thuế :
      <ion-note class="ionNote" item-end>
         {{ customService.formatCurrency(tax, currency) }}
      </ion-note>
    </ion-item> -->
    <ion-item>
      Tổng tiền :
      <ion-note class="ionNote" item-end>
         {{ customService.formatCurrency(total, currency) }}
      </ion-note>
    </ion-item>
  </div>
</ion-content>
