<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start>
      <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <div *ngIf="item" class="ion_navbar_title">{{item.product_snapshot.title}}</div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="item_product_main" *ngIf="product">
  <ion-card class="item_product_image">
    <img imageViewer *ngIf="product.images[0]" src="{{product.images[0]}}" />
    <img imageViewer *ngIf="product.images[0]==null" src="assets/imgs/logo.png" />
    <div *ngIf="!is_remove_item" style="position: absolute;right: 0;bottom: 0">
      <button (click)="onWishList(false)" *ngIf="item.wishlist=='2'" ion-button icon-only class="item_wishlist_off">
        <ion-icon class="iconLike1" name="iconLike1"></ion-icon>
      </button>
      <button (click)="onWishList(true)" *ngIf="item.wishlist=='1' || item.wishlist==undefined" ion-button icon-only class="item_wishlist_on">
        <ion-icon class="iconLike" name="iconLike"></ion-icon>
      </button>

      <button *ngIf="item.givelist=='2'" (click)="onGiveList(false)" ion-button icon-only class="item_givelist_off">
        <ion-icon class="iconWannaSend1" name="iconWannaSend"></ion-icon>
      </button>
      <button (click)="onGiveList(true)" *ngIf="item.givelist=='1' || item.givelist==undefined" ion-button icon-only class="item_givelist_on">
        <ion-icon class="iconWannaSend" name="iconWannaSend"></ion-icon>
      </button>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>{{product.title}}</ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Thông tin sản phẩm
    </ion-card-header>
    <ion-row class="inventtory_item_row">Số lượng : {{item.quantity}}</ion-row>
    <ion-row>
      <ion-col class="inventtory_item_timeout inventtory_item_row" col-12>Ngày hết hạn lưu kho: {{stored_end | date: 'dd/MM/yyyy'}}</ion-col>
    </ion-row>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
  </ion-card>

  <ion-card class="item_info_store">
    <ion-card-header>Thông tin cửa hàng</ion-card-header>
    <ion-card-content>
      <ion-row class="item_info_store_row">
        <ion-col col-6>Tên cửa hàng</ion-col>
        <ion-col col-6>{{shop.title}}</ion-col>
      </ion-row>

      <ion-row class="item_info_store_row">
        <ion-col col-6>Chủ cửa hàng</ion-col>
        <ion-col col-6>{{shop.owner_name}}</ion-col>
      </ion-row>

      <ion-row class="item_info_store_row">
        <ion-col col-6>Địa chỉ cửa hàng</ion-col>
        <ion-col col-6>{{shop.shop_address}}</ion-col>
      </ion-row>

      <ion-row class="item_info_store_row">
        <ion-col col-6>Số điện thoại</ion-col>
        <ion-col col-6>{{shop.shop_phone}}</ion-col>
      </ion-row>

      <ion-row class="item_info_store_row">
        <ion-col col-6>Mã số thuế</ion-col>
        <ion-col col-6>{{shop.shop_bidn}}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="item_footer" *ngIf="item">
  <ion-toolbar>
    <ion-grid class="item_footer_row" *ngIf="isUser; else other_content2 ">
      <ion-row *ngIf="expiryType < 1; else other_content ">
        <ion-col col-3 *ngIf="!is_remove_item">
          <button class="item_footer_btn" [ladda]="is_used" ion-button block (click)="createCode()">sử dụng</button>
        </ion-col>

        <ion-col col-3 *ngIf="!is_remove_item">
          <button class="item_footer_btn" ion-button block (click)="gift()" >tặng quà</button>
        </ion-col>

        <ion-col col-3 *ngIf="!is_remove_item">
          <button class="item_footer_btn" (click)="delivery()" ion-button block>giao hàng</button>
        </ion-col>

        <ion-col col-3 *ngIf="!is_remove_item">
          <button class="item_footer_btn" (click)="renewalItem()" ion-button block>gia hạn</button>
        </ion-col>

        <ion-col col-12 *ngIf="is_remove_item" (click)="removeItem()">
          <button class="item_footer_delete" ion-button block>Xóa sản phẩm</button>
        </ion-col>
      </ion-row>

      <ng-template #other_content>
        <ion-row>
          <ion-col col-4 *ngIf="!is_remove_item">
            <button class="item_footer_btn" [ladda]="is_used" ion-button block (click)="createCode()">sử dụng</button>
          </ion-col>

          <ion-col col-4 *ngIf="!is_remove_item && isUser">
            <button class="item_footer_btn" ion-button block (click)="gift()">tặng quà</button>
          </ion-col>

          <ion-col col-4 *ngIf="!is_remove_item">
            <button class="item_footer_btn" ion-button block (click)="renewalItem()">gia hạn</button>
          </ion-col>
        </ion-row>
      </ng-template>
    </ion-grid>

    <ng-template #other_content2>
      <ion-row *ngIf="expiryType < 1; else other_content ">
        <ion-col col-4 *ngIf="!is_remove_item">
          <button class="item_footer_btn" [ladda]="is_used" ion-button block (click)="createCode()">sử dụng</button>
        </ion-col>
      
        <ion-col col-4 *ngIf="!is_remove_item">
          <button class="item_footer_btn" (click)="delivery()" ion-button block>giao hàng</button>
        </ion-col>
      
        <ion-col col-4 *ngIf="!is_remove_item">
          <button class="item_footer_btn" (click)="renewalItem()" ion-button block>gia hạn</button>
        </ion-col>
      
        <ion-col col-12 *ngIf="is_remove_item" (click)="removeItem()">
          <button class="item_footer_delete" ion-button block>Xóa sản phẩm</button>
        </ion-col>
      </ion-row>
      
      <ng-template #other_content>
        <ion-row>
          <ion-col col-4 *ngIf="!is_remove_item">
            <button class="item_footer_btn" [ladda]="is_used" ion-button block (click)="createCode()">sử dụng</button>
          </ion-col>
      
          <ion-col col-4 *ngIf="!is_remove_item && isUser">
            <button class="item_footer_btn" ion-button block (click)="gift()">tặng quà</button>
          </ion-col>
      
          <ion-col col-4 *ngIf="!is_remove_item">
            <button class="item_footer_btn" ion-button block (click)="renewalItem()">gia hạn</button>
          </ion-col>
        </ion-row>
      </ng-template>
    </ng-template>
  </ion-toolbar>
</ion-footer>