app-item{
    .iconLike{
        background-repeat: no-repeat;
        background-position:center;
        font-size: 1.3em;
        width: 40px;
        content: url('../assets/imgs/ic_like_blue.png');
    }
    .iconLike1{
        background-repeat: no-repeat;
        background-position:center;
        font-size: 1.3em;
        width: 40px;
        content: url('../assets/imgs/ic_like.png');
    }
    .iconWannaSend{
        background-repeat: no-repeat;
        background-position:center;
        font-size: 1.3em;
        width: 40px;
        content: url('../assets/imgs/ic_wanna_send_blue.png');
    }
  
}