<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>OPPO F3</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card style="position: relative;">
    <img src="assets/imgs/logo.png"/>
    <div style="position: absolute;right: 0;bottom: 0">
      <button ion-button icon-only style="background: #fff; color: #488aff;border: 1px solid #eee;border-radius: 25px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);">
        <ion-icon name="home"></ion-icon>
      </button>
      <button ion-button icon-only style="background: #fff; color: #488aff;border: 1px solid #eee;border-radius: 25px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);">
        <ion-icon name="home"></ion-icon>
      </button>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-header>
      OPPO F3
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Thông tin cửa hàng
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-6>
          Tên cửa hàng
        </ion-col>
        <ion-col col-6>
          vipn600
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          Địa chỉ cửa hàng
        </ion-col>
        <ion-col col-6>
          quận 12
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          Số điện thoại
        </ion-col>
        <ion-col col-6>
          789456321
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          Mã số thuế
        </ion-col>
        <ion-col col-6>
          123456789
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar class="toolbarFooter">
    <ion-grid>
    <ion-row>
      <ion-col col-4>
        <button ion-button block>Su dung</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button block>Tang qua</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button block>Giao hang</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-footer>
