<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons start>
            <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
            <div class="ion_navbar_title">lịch sử giao hàng</div>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card padding *ngIf="deliveryOrder" >
        <ion-card-header style="text-align: center; font-size: 20px; color: #666;">
            Thông Tin Người Nhận
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col col-5>
                    Người nhận:
                </ion-col>
                <ion-col col-7>
                    {{deliveryOrder.shipping_fullname}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-5>
                    Địa chỉ:
                </ion-col>
                <ion-col col-7>
                    {{deliveryOrder.address}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-5>
                    Phí giao hàng:
                </ion-col>
                <ion-col col-7>
                    <i style="color: red;">{{ formatTotalPrice() }}</i>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-5>
                    Trạng thái:
                </ion-col>
                <ion-col col-7 style="">
                    <i style="color: #24ce57;">{{deliveryOrder.ghtk_status_text}}</i>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-5>
                    Ghi chú:
                </ion-col>
                <ion-col col-7 style="">
                    {{deliveryOrder.shipping_note}}
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-card padding *ngIf="deliveryOrder" >
        <ion-card-header style="text-align: center; font-size: 20px; color: #666;">
            Thông Tin Cửa Hàng
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-thumbnail item-left>
                    <img src="{{deliveryOrder.owner.avatar}}"  onError="this.src='assets/imgs/image_not_found.jpg';">
                </ion-thumbnail>
                <h2>{{deliveryOrder.owner.title}}</h2>
                <p>{{deliveryOrder.owner.shop_phone}}</p>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card padding *ngIf="deliveryOrder" >
        <ion-card-header style="text-align: center; font-size: 20px; color: #666;">
            Danh Sách Sản Phẩm
        </ion-card-header>
        <ion-card-content>
            <ion-item *ngFor="let item of deliveryOrder.products" >
                <ion-thumbnail item-left>
                    <img src="{{item.images[0]}}"  onError="this.src='assets/imgs/image_not_found.jpg';">
                </ion-thumbnail>
                <h2>{{item.title}}</h2>
                <p>Số lượng: <i style="color: red;">{{item.display_quantity}}</i></p>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>