app-forgot-change-pass{
    ion-content {
		background-image: url("../assets/imgs/background.png");
    }
    .inputForgot {
        background-color: #f4f4f4;
        border-radius: 20px;
    }

    .text-input-ios {
        text-align: center;
    }

    .buttonSubmit {
        border-radius: 20px;
        color: #fff;
        background-color: #f47b37;
        height: 40px;
        width: 140px;
    }

    .button-inner {
        color: white;
    }
}