app-personal {
    .searchbar-search-icon { display:none; width:0; height:0; }
    
    .tabs {
        a[aria-selected=false]{
            .tab-button-icon[ng-reflect-name=contactpage], .tab-button-icon[aria-label=contactpage] {
            background-image: url(../assets/imgs/ic_contact.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
        a[aria-selected=true] {
            .tab-button-icon[ng-reflect-name=contactpage], .tab-button-icon[aria-label=contactpage] {
            background-image: url(../assets/imgs/ic_contact_actived.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
    }

    .tabs {
        a[aria-selected=false]{
            .tab-button-icon[ng-reflect-name=chat], .tab-button-icon[aria-label=chat] {
            background-image: url(../assets/imgs/ic_tab_chat.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
        a[aria-selected=true] {
            .tab-button-icon[ng-reflect-name=chat], .tab-button-icon[aria-label=chat] {
            background-image: url(../assets/imgs/ic_tab_chat_actived.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
    }

    .tabs {
        a[aria-selected=false]{
            .tab-button-icon[ng-reflect-name=notify], .tab-button-icon[aria-label=notify] {
            background-image: url(../assets/imgs/ic_notify.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
        a[aria-selected=true] {
            .tab-button-icon[ng-reflect-name=notify], .tab-button-icon[aria-label=notify] {
            background-image: url(../assets/imgs/ic_notify_actived.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
    }
}