app-personal {
    .toolbar-background-ios {
        background: #00bdf2;
        color: #fff;
    }

    .bar-button-ios {
        margin: 0px 10px 0px 0px;
        color: #fff;
    }

    .toolbar-title-ios {
        color: #fff;
        line-height: 20px;
    }

    .searchbar-search-icon 
    { 
        display:none; 
        width:0; 
        height:0; 
    }

    .tabs-ios .tabbar {
        padding: 2px 0px 0px 0px;
    }

    .tab-button-text {
        padding: 3px 0px 0px 0px;
    }

    .tabs-ios .tab-button {
        padding: 0px 0px 5px 0px;
    }

    .tabs-ios .tab-button[aria-selected=true] {
        border-bottom: 1px solid #488aff;
    }
    
    .tabs {
        a[aria-selected=false]{
            .tab-button-icon[ng-reflect-name=contactpage], .tab-button-icon[aria-label=contactpage] {
            background-image: url(../assets/imgs/ic_contact.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
        a[aria-selected=true] {
            .tab-button-icon[ng-reflect-name=contactpage], .tab-button-icon[aria-label=contactpage] {
            background-image: url(../assets/imgs/ic_contact_actived.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
    }

    .tabs {
        a[aria-selected=false]{
            .tab-button-icon[ng-reflect-name=chat], .tab-button-icon[aria-label=chat] {
            background-image: url(../assets/imgs/ic_tab_chat.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
        a[aria-selected=true] {
            .tab-button-icon[ng-reflect-name=chat], .tab-button-icon[aria-label=chat] {
            background-image: url(../assets/imgs/ic_tab_chat_actived.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
    }

    .tabs {
        a[aria-selected=false]{
            .tab-button-icon[ng-reflect-name=notify], .tab-button-icon[aria-label=notify] {
            background-image: url(../assets/imgs/ic_notify.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
        a[aria-selected=true] {
            .tab-button-icon[ng-reflect-name=notify], .tab-button-icon[aria-label=notify] {
            background-image: url(../assets/imgs/ic_notify_actived.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
    }

    .tabs-md {
        top: 50px;
    }

    .scroll-content {
        padding-top: 0px !important;
        background-color: #fff;
    }

    .personal_event {
        margin: 0px 10px 0px 10px;
    }

    ::-webkit-scrollbar,
    *::-webkit-scrollbar {
        display: none;
    }

    #top_navigation_default {
        top: 64px;
    }

    #top_navigation_iphonex {
        top: 0px;
    }

    .social_more {
        font-size: 18px;
    }

    .personal_searchbar {
        color: #fff;
        min-height: 30px;
    }

    .searchbar-input {
        background: rgba(255, 255, 255, 1) !important;
    }

    .personal_box {
        font-size: 18px;
        color: #fff;
    }
}