<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isOn">Của tôi</ion-title>
    <ion-searchbar [(ngModel)]="search" *ngIf="isOn"></ion-searchbar>
    <ion-buttons end>
      <button class="personal_search" ion-button (click)="toggleDetails()" style="font-size: 18px;">
        <ion-icon name="ios-search"></ion-icon>
      </button>
      <button class="personal_event" ion-button (click)="openPopover($event)" style="font-size: 18px;">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-tabs tabsPlacement="top" primary>
  <ion-tab [root]="tab1Root" tabTitle="Danh bạ" tabIcon="contactpage"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Tin nhắn" tabIcon="chat"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Thông báo" tabIcon="notify"></ion-tab>
</ion-tabs>
