app-history-order {
    .history_order_content {
        .list-ios {
            margin: -1px 0 0px;
        }
    }

    .inventory_history_item {
        padding: 0px;

        .item-inner {
            padding-left: 10px;
        }
    }

    .inventory_history_icon {
        margin: 0px 7px 0px 0px;
        vertical-align: bottom;
    }

    .inventory_history_row {
        font-size: 14px;
    }

    .inventory_history_datetime {
        float: right;
        font-size: 13px;
        color: #666;
    }

    .inventory_history_price {
        margin: 3px 0px 0px 24px;
    }
}