app-cart-items{
    .cart_items_container {
      background-color: #fff;
    }

    .cart_items_product {
      padding: 0px;
    }

    .cart_items_product_price {
      color: red;
      margin: 3px 0px 3px 4px;
      font-size: 14px;
      font-weight: 500;
    }

    .cart_items_payment {
      background-color: #ffffff;
    }

    .cart_items_product_title {
      font-size: 1.4rem;
      font-weight: normal;
      color: #333;
      text-transform: capitalize;
      margin: 0px 0px 0px 10px;
      text-align: left;
      text-overflow: ellipsis;
    }

    .cart_items_quantity {
      .cart_items_product_decrease {
        height: 30px;
        margin: auto;
        border-radius: 3px;
        width: 30px;
      }

      .cart_items_product_increase {
        height: 30px;
        margin: auto;
        border-radius: 3px;
        width: 30px;
      }
    }

    .cart_items_product_number {
      line-height: 27px;
      text-align: center;
      color: #4a8bfc;
      font-weight: bold;
    }

    .cart_items_delete {
      width: 35px;
      height: 35px;
      margin: 10px auto 0px;
    }

    .buttonIon {
      width: 50px;
      height: 30px;
      border-radius: 8px;
      border-width: 1px;
      border-style: inset;
      background-color: #ffffff;
    }

    .inputIon {
      width: 50px;
      height: 30px;
      border-radius: 8px;
      border-width: 1px;
      border-style: inset;
      background-color: #ffffff;
      margin-left: 5px;
      margin-right: 5px;
    }
    .text-input-ios {
      margin: 7px 8px 11px 4px;
    }
    .list.list-inline {
      display: -moz-box;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      flex-direction: row;
      flex-wrap: nowrap;
      top: -12px;
      position: relative;
    }
    h4 {
      font-size: 1.5rem;
    }
    .cart_item_vat {
      position: relative;
      top: -3px;
      font-size: 12px;
      color: #333;
    }
    .ionNote {
      color: red;
      font-weight: bold;
    }
    .item-ios {
      padding-left: 0 !important;
      border-radius: 0;
      position: relative;
      font-size: 1.7rem;
      color: #000;
      background-color: #ffffff;
      -webkit-transition: background-color 200ms linear;
      transition: background-color 200ms linear;
    }
    .item-ios.item-block .item-inner {
    border-bottom: 0.55px solid #eee !important;
    }
    .iconTrash {
      font-size: 2.2em;
      color: #b1b1b1;
    }
    .divIcon {
      position: relative;
      top: 20px;
      margin-left: 40px;
    }

    ::-webkit-scrollbar,
    *::-webkit-scrollbar {
      display: none;
    }

    .cart_item_image {
      background-position: center !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      height: 55px;
      width: 70px;
      border-radius: 5px;
      border: 1px solid #efeff4;
    }

    .cart_items_item {
      border-bottom: 1px solid #ddd;
    }
}
