<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start>
      <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <div class="ion_navbar_title">giỏ hàng</div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <div class="cart_items_container" *ngIf="items">
    <ion-row>
      <ion-col class="cart_items_item" col-12 *ngFor="let item of items">
        <ion-grid class="cart_items_product">
          <ion-row>
            <ion-col col-3>
              <div class="cart_item_image" [style.background]="'url(' + item.images_entities[item.images[0]] + ')'"></div>
            </ion-col>
            <ion-col col-7>
              <h4 class="cart_items_product_title" style="font-weight: bold;">{{ item.title }}</h4>
              <h4 class="cart_items_product_title">
                <div *ngIf="item.sale_price == 0 || item.sale_price == null; else other_content">
                  <div class="product_feature_price">{{ formatSalePriceShow( item.price, item.currency) }}</div>
                </div>
                <ng-template #other_content>
                  <div class="product_feature_price">{{formatSalePriceShow(item.sale_price,item.currency)}}</div>
                  <div class="product_sale_price">{{ formatSalePriceShow( item.price, item.currency) }}</div>
                </ng-template>
              </h4>
              <h4 class="cart_items_product_price">{{ formartCurrency( item) }}</h4>
              <ion-row class="cart_items_quantity">
                <ion-col col-3>
                  <button class="cart_items_product_decrease" ion-button block icon-only (click)="decrease(item.guid)">
                    <ion-icon name="remove"></ion-icon>
                  </button>
                </ion-col>
                <ion-col col-3 class="cart_items_product_number">
                  {{ item.quantity_cart }}
                </ion-col>
                <ion-col col-3>
                  <button class="cart_items_product_increase" ion-button block icon-only (click)="increase(item.guid)">
                    <ion-icon name="add"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-2>
              <button class="cart_items_delete" ion-button block icon-only color="danger" (click)="remove(item.guid)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer class="cart_items_payment">
  <div padding-horizontal>
    <ion-item>
      Tổng sản phẩm
      <ion-note class="ionNote" item-end>{{ number_items }}</ion-note>
    </ion-item>
    <ion-item>
      Tổng tiền
      <ion-note class="ionNote" item-end>{{ customService.formatCurrency( total, "VND") }}</ion-note>
    </ion-item>
    <div class="cart_item_vat">
      <ion-label>
        <i>(Đã bao gồm VAT)</i>
      </ion-label>
    </div>
  </div>
  <button type="button" name="button" ion-button full no-margin (click)="payment()">THANH TOÁN</button>
</ion-footer>