<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>

    </button>
    <ion-title>INVENTORY</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  <ion-card>
  <ion-card-header>
    <ion-icon name="ios-calculator"> TỔNG :</ion-icon>
  </ion-card-header>
</ion-card>

  <ion-grid>
  <ion-row>
    <ion-col>
      <div class="box inventory">
        <div class="divImg">
          <ion-badge item-end class="badge1">0</ion-badge>
          <img width="100%" src="assets/imgs/logo.png" />
        </div>
            <h3 class="h3Img">Ionic</h3>
     </div>
    </ion-col>
    <ion-col>
      <div class="box inventory">
        <div class="divImg">
          <ion-badge item-end class="badge1">0</ion-badge>
          <img width="100%" src="assets/imgs/logo.png" />
        </div>
            <h3 class="h3Img">Ionic</h3>
     </div>
    </ion-col>
    <ion-col>
      <div class="box inventory">
        <div class="divImg">
          <ion-badge item-end class="badge1">0</ion-badge>
          <img width="100%" src="assets/imgs/logo.png" />
        </div>
            <h3 class="h3Img">Ionic</h3>
     </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="box inventory">
        <div class="divImg">
          <ion-badge item-end class="badge1">0</ion-badge>
          <img width="100%" src="assets/imgs/logo.png" />
        </div>
            <h3 class="h3Img">Ionic</h3>
     </div>
    </ion-col>
    <ion-col>
      <div class="box inventory">
        <div class="divImg">
          <ion-badge item-end class="badge1">0</ion-badge>
          <img width="100%" src="assets/imgs/logo.png" />
        </div>
            <h3 class="h3Img">Ionic</h3>
     </div>
    </ion-col>
    <ion-col>
      <div class="box inventory">
      <div class="divImg">
        <ion-badge item-end class="badge1">0</ion-badge>
        <img width="100%" src="assets/imgs/logo.png" />
      </div>
          <h3 class="h3Img">Ionic</h3>
     </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="box inventory">
      <div class="divImg">
        <ion-badge item-end class="badge2">0</ion-badge>
        <img width="100%" src="assets/imgs/logo.png" />
      </div>
          <h3 class="h3Img">Ionic</h3>
     </div>
    </ion-col>
    <ion-col>
      <div class="box inventory">
        <ion-icon name="ios-more"></ion-icon>
     </div>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
<ion-footer>
  <ion-toolbar class="toolbarFooter">
    <ion-grid>
    <ion-row>
      <ion-col>
        <div class="box invenFooter">
          <div class="">
            <button class="buttonFooter" ion-button color="secondary" clear>Sắp hết hạn dùng<ion-badge class="badgeFooter">0</ion-badge></button>
          </div>
       </div>
      </ion-col>
      <ion-col>
        <div class="box invenFooter">
          <div class="divFooter">
              <button class="buttonFooter buttonFooterBorder" ion-button color="secondary" clear>Sắp hết hạn lưu kho<ion-badge class="badgeFooter">0</ion-badge></button>
          </div>
       </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-footer>
