<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Kho</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  <ion-card>
  <ion-card-header>
    <ion-icon name="ios-calculator"> TỔNG :</ion-icon>
  </ion-card-header>
</ion-card>

  <ion-grid>
  <ion-row>
    <ion-col>
      <div class="box inventory">
        <div class="divImg">
          <ion-badge item-end class="badge1">0</ion-badge>
          <img width="100%" src="assets/imgs/logo.png" />
        </div>
            <h3 class="h3Img">Ionic</h3>
     </div>
    </ion-col>
    <ion-col>
      <div class="box inventory">
        <div class="divImg">
          <ion-badge item-end class="badge1">0</ion-badge>
          <img width="100%" src="assets/imgs/logo.png" />
        </div>
            <h3 class="h3Img">Ionic</h3>
     </div>
    </ion-col>
    <ion-col>
      <div class="box inventory">
        <div class="divImg">
          <ion-badge item-end class="badge1">0</ion-badge>
          <img width="100%" src="assets/imgs/logo.png" />
        </div>
            <h3 class="h3Img">Ionic</h3>
     </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="box inventory">
        <div class="divImg">
          <ion-badge item-end class="badge1">0</ion-badge>
          <img width="100%" src="assets/imgs/logo.png" />
        </div>
            <h3 class="h3Img">Ionic</h3>
     </div>
    </ion-col>
    <ion-col>
      <div class="box inventory">
        <div class="divImg">
          <ion-badge item-end class="badge1">0</ion-badge>
          <img width="100%" src="assets/imgs/logo.png" />
        </div>
            <h3 class="h3Img">Ionic</h3>
     </div>
    </ion-col>
    <ion-col>
      <div class="box inventory">
      <div class="divImg">
        <ion-badge item-end class="badge1">0</ion-badge>
        <img width="100%" src="assets/imgs/logo.png" />
      </div>
          <h3 class="h3Img">Ionic</h3>
     </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="box inventory">
      <div class="divImg">
        <ion-badge item-end class="badge2">0</ion-badge>
        <img width="100%" src="assets/imgs/logo.png" />
      </div>
          <h3 class="h3Img">Ionic</h3>
     </div>
    </ion-col>
    <ion-col>
      <div class="box inventory">
        <ion-icon name="ios-more"></ion-icon>
     </div>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
<ion-footer>
  <ion-toolbar class="toolbarFooter">
    <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button block>Sắp hết hạn dùng</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block>Sắp hết hạn lưu kho</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-footer>
