<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button style="color: white;" ion-button (click)="dismiss()">
        <ion-icon name="arrow-back" class="iconBack"></ion-icon> Hình ảnh</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: black">
  <ion-slides class="image-slider" loop="false" zoom="true" pager="false">
    <ion-slide   *ngFor="let img of urlImage">
      <img src="{{img}}" class="thumb-img">        
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-card>
      <ion-card-content style="background-color: black;">
        <p style="color: white">{{description}}</p>
      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-footer>