<ion-header>
    <ion-navbar>
        <ion-title>Xác nhận sản phẩm</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="changePage()">
        Next
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="outer-content">
    <div style="background-color: #fff;" *ngIf="item">
        <ion-row>
            <ion-col col-12>
                <ion-grid>
                    <ion-row>
                        <ion-col col-3 *ngIf="item.product_snapshot.images">
                            <img width="100%" src="{{item.product_snapshot.images[0]}}" onError="this.src='assets/imgs/image_not_found.jpg';"/>
                        </ion-col>
                        <ion-col col-7>
                            <h4>{{item.product_snapshot.title}} x <i>{{quantity}}</i></h4>
                            <ion-row>
                                <ion-col col-8>
                                    <ion-range class="rangeIon" min="1" max="{{item.quantity}}" pin="true" [(ngModel)]="quantity" color="secondary">
                                        <ion-icon style="font-size: 3.4rem;" range-left name="remove" (click)="decrease()"></ion-icon>
                                        <ion-icon style="font-size: 3.4rem;" range-right name="add" (click)="increase()"></ion-icon>
                                    </ion-range>
                                </ion-col>
                            </ion-row>


                        </ion-col>

                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </div>
</ion-content>