<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons start>
            <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
            <div class="ion_navbar_title">Nạp tiền vào Amely Sec</div>
        </ion-buttons>

        <ion-buttons end>
            <button class="deposit_payment_next" ion-button icon-only (click)="changePage()">
        Tiếp Tục <ion-icon ios="md-arrow-forward" md="md-arrow-forward"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col class="deposit_payment_minmax" col-6>Tối thiểu :{{showLimitAmount(true)}}</ion-col>
        <ion-col class="deposit_payment_minmax" col-6>Tối đa: {{showLimitAmount(false)}} </ion-col>
    </ion-row>

    <ion-row>
        <ion-input class="deposit_payment_balance" [(ngModel)]=amount type="number" placeholder="Nhập số tiền muốn nạp vào Amely Sec"></ion-input>
    </ion-row>

    <ion-row>
        <div style="background-color: #fff;">
            <ion-list radio-group [(ngModel)]="payment_selected">
                <ion-item *ngFor="let payment_method of payment_methods">
                    <ion-thumbnail item-start>
                        <img *ngIf="payment_method.filename=='paypal/standard'" width="100%" src="assets/bank_image/ic_paypal.png" />
                        <img *ngIf="payment_method.filename=='ngl/atm'" width="100%" src="assets/bank_image/ic_atm.png" />
                        <img *ngIf="payment_method.filename=='ngl/creditcard'" width="100%" src="assets/bank_image/ic_visa.png" />
                        <img *ngIf="payment_method.filename=='onepay/opatm'" width="100%" src="assets/bank_image/ic_atm.png" />
                        <img *ngIf="payment_method.filename=='onepay/opcreditcard'" width="100%" src="assets/bank_image/ic_visa.png" />
                    </ion-thumbnail>
                    <ion-radio value="{{ payment_method.filename }}" item-end></ion-radio>
                    <ion-label>{{ payment_method.displayname }}</ion-label>
                </ion-item>
            </ion-list>
        </div>
    </ion-row>
</ion-content>