<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Trao đổi</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-slides  (ionSlideDidChange)="slideChanged()" #mySlider >
    <ion-slide style="display: block; overflow-y:scroll">
      <ion-list>
        <ion-item *ngFor="let number of [0,1]" class="ion-itemSocial">
          <ion-row>
            <ion-col col-12>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div class="box social">
                    <div class="divImg">
                      <ion-badge class="badgeSocialTop"> <ion-icon ios="ios-timer-outline" md="md-timer"></ion-icon> 1 ngày 23:49</ion-badge>
                      <img width="100%" src="assets/imgs/logo.png" />
                      <ion-badge class="badgeSocialBottom">0</ion-badge>
                    </div>
                        <h3 class="h3Img">Ionic</h3>
                   </div>
                  </ion-col>
                  <ion-col>
                    <div class="box social">
                    <div class="divImg">
                      <ion-badge class="badgeSocialTop"> <ion-icon ios="ios-timer-outline" md="md-timer"></ion-icon> 1 ngày 23:49</ion-badge>
                      <img width="100%" src="assets/imgs/logo.png" />
                      <ion-badge class="badgeSocialBottom">0</ion-badge>
                    </div>
                        <h3 class="h3Img">Ionic</h3>
                   </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide style="display: block; overflow-y:scroll">
      <ion-list>
        <ion-item *ngFor="let number of [0,1,2,3,4]">
          <ion-row>
            <ion-col col-12>
              DSA
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide style="display: block; overflow-y:scroll">
      <ion-list>
        <ion-item *ngFor="let number of [0,1]" class="ion-itemSocial">
          <ion-row>
            <ion-col col-12>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div class="box social">
                    <div class="divImg">
                      <ion-badge class="badgeSocialTop"> <ion-icon ios="ios-timer-outline" md="md-timer"></ion-icon> 1 ngày 23:49</ion-badge>
                      <img width="100%" src="assets/imgs/logo.png" />
                      <ion-badge class="badgeSocialBottom">0</ion-badge>
                    </div>
                        <h3 class="h3Img">Ionic</h3>
                   </div>
                  </ion-col>
                  <ion-col>
                    <div class="box social">
                    <div class="divImg">
                      <ion-badge class="badgeSocialTop"> <ion-icon ios="ios-timer-outline" md="md-timer"></ion-icon> 1 ngày 23:49</ion-badge>
                      <img width="100%" src="assets/imgs/logo.png" />
                      <ion-badge class="badgeSocialBottom">0</ion-badge>
                    </div>
                        <h3 class="h3Img">Ionic</h3>
                   </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
  <ion-fab right bottom>
    <button ion-fab class="ion-fabSocial"><ion-icon name="md-add"></ion-icon></button>
    </ion-fab>
</ion-content>
<ion-footer>
  <div class="bar bar-header bar-dark">
    <ion-segment color="primary">
      <ion-segment-button (click)="goToSlide(0);" value="user" class="segment-button {{currentIndex == 0 ? 'segment-activated activated': ''}}">
        CỦA TÔI
      </ion-segment-button>
      <ion-segment-button (click)="goToSlide(1);" value="group" class="segment-button {{currentIndex == 1 ? 'segment-activated activated': ''}}" >
        CHỜ DUYỆT
      </ion-segment-button>
      <ion-segment-button (click)="goToSlide(2);" value="business" class="segment-button {{currentIndex == 2 ? 'segment-activated activated': ''}}">
        TÌM KIẾM
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-footer>
