app-offers {
  .social {
    background-color: white;
    text-align: center;
    padding: 15vw;
    margin: 0em;
    width: auto;
  }
 
  .tabs-ios {
    top: -62px;
  }

  .scroll-content {
    padding-top: 0px !important;
  }

  .offer_tabs {
    .tab-button {
      app-social .tabs-ios .tab-button[aria-selected=true] {
        border: none;
        border-top: 1px solid #00bdf2;
      }
    }
  }

}