<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mua sắm</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list>
    <ion-item *ngFor="let voucher of vouchers" (click)="goToPage('product',voucher);">
      <ion-card>
        <img width="100%" *ngIf="voucher.images[0]" src="{{voucher.images[0]}}" />
        <img width="100%" *ngIf="voucher.images[0]==''" src="assets/imgs/image_not_found.jpg" />
        <h3>{{voucher.title}}</h3>
        <h3>{{customService.formatCurrency(voucher.price,voucher.currency)}}</h3>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-scroll scrollX style="height:50px;">
    <div class="scroll-item">
      <ion-col *ngFor="let category of categories" (click)="goToPage('category',null);">
        <div class="item-card">
          <button ion-button clear>{{category.title}}</button>
        </div>
      </ion-col>
    </div>
  </ion-scroll>
</ion-footer>