<ion-content class="outer-content">
  <ion-card class="voucher_content" *ngIf="vouchers">
    <ion-item *ngFor="let voucher of vouchers" (click)="goToPage('product',voucher);">
      <ion-card class="voucher_image_box">
        <div class="item-ribbon offer_search_ribbon">
          <span class="ribbon cruzeiro">
            <span>VOUCHER</span>
          </span>
        </div>

        <div class="wallphoto_quantity_4" *ngIf="voucher.images[0]" [style.background]="'url(' + voucher.images[0] + ')'"></div>
        <div class="wallphoto_quantity_4" *ngIf="voucher.images[0]==''" style="background-image: url('assets/imgs/image_not_found.jpg')"></div>
        
        <div class="voucher_limit"> * không giới hạn</div>
      </ion-card>
      <h3 class="voucher_title">{{voucher.title}}</h3>
      <div class="voucher_price">
        <div *ngIf="voucher.sale_price == 0 || voucher.sale_price == null; else other_content">
          <div class="product_feature_price">{{ formatSalePrice( voucher.display_price, voucher.display_currency) }}</div>
        </div>
        <ng-template #other_content>
          <div class="product_feature_price">{{formatSalePrice(voucher.display_price,voucher.display_currency)}}</div>
          <div class="product_sale_price">{{ formatSalePrice( voucher.display_old_price, voucher.display_currency) }}</div>
        </ng-template>
        <!-- {{formatCurrency(voucher)}} -->
      </div>
    </ion-item>
    <div *ngIf="vouchers.length == 0" class="voucher_nodata">
      Không có dữ liệu...
    </div>
  </ion-card>

  <ion-card *ngIf="!vouchers">
    <ion-item *ngFor="let fake of fakeUsers" class="fakeItem">
      <ion-card class="voucher_image_box">
        <div class="divCustom"></div>
      </ion-card>
      <h2 class="voucher_title"></h2>
      <div class="voucher_price">
        <h3></h3>
      </div>
    </ion-item>
  </ion-card>

</ion-content>

<ion-footer class="vouchers_button">
  <ion-scroll scrollX>
    <div class="scroll-item">
      <ion-col *ngFor="let category of categories" (click)="goToPage('category',null,category);">
        <div class="item-card">
          <button ion-button clear>{{category.title}}</button>
        </div>
      </ion-col>
    </div>
  </ion-scroll>
</ion-footer>