app-event {
  .event_cover {
    padding: 16px;
    width: 100%;
    min-height: 150px;
    text-align: center;
    background-position: center !important;
    background-size: cover !important;
    margin: 44px 0px 0px 0px;
  }

  .event_avatar {
    width: 100px;
    height: auto;
    padding: 10px 0 15px 0;
  }

  .event_cover_title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #333;
    text-transform: capitalize;
  }

  .about-info ion-icon {
    color: color($colors, primary);
    width: 20px;
  }

  .md,
  .wp {
    .about-info [text-right] {
      margin-right: 0;
    }
  }

  .ios .about-info {
    text-align: center;
  }

  .ios .about-info ion-icon {
    width: auto;
    margin-right: 10px;
  } 


  
  .segment-ios-primary .segment-button{
    border: 0px;
    background-color: transparent; 
    color: black;
    height: 45px;
  }

  .segment-ios-primary .segment-button.segment-activated{
    background-color: transparent;
    color:blue;
  }
  
  .txtTitle{
    clear: both;
    font-size: 14px;
    margin-top: -14px;
  }

  #tabIconFeeds{
    width: 30px;
    height: 30px;
    padding: 4px;
    content:url(./../../assets/imgs/ic_feed.png);
  }

  .segment-activated img#tabIconFeeds {
    content:url(./../../assets/imgs/ic_feed_actived.png);
  }

  #tabIconMember{
    width: 30px;
    height: 30px;
    padding: 4px;
    content:url(./../../assets/imgs/ic_friend.png);
  }

  .segment-activated img#tabIconMember {
    content:url(./../../assets/imgs/ic_friend_actived.png);
  }

  .iconGroup{
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
  }
}