<ion-header>
  <ion-navbar>
    <ion-title>Nhom A</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content" >
  <div class="about-header">
    <img src="assets/imgs/logo.png" alt="ionic logo">

  </div>
  <div class="bar bar-header bar-dark" style="background-color: #fff;">
    <ion-segment color="primary" [(ngModel)]="eventTab" style="border-bottom: 1px solid #eee;">
      <ion-segment-button value="newfeed" class="segment-button" style="border-radius: 0px; border: 0px; font-size: 20px; border-right: 1px solid #eee;"
        (click)="goToPage('newfeed');">
        <img id="tabIconFeeds" />
        <div class="txtTitle">Cập Nhật</div>
      </ion-segment-button>
      <ion-segment-button value="members" class="segment-button" style="border-radius: 0px; border: 0px; font-size: 20px" (click)="goToPage('members');">
        <img id="tabIconMember" />
        <div class="txtTitle">Bạn Bè</div>

      </ion-segment-button>
    </ion-segment>
    <ion-row text-center>
      <ion-col col-6>
        <button ion-button icon-left clear small color="danger" (click)="goToPage('gift')">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>Tặng quà</div>
        </button>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="newfeedsPage">
    <ion-card style="margin-left: 0px; margin-right: 0px; width: 100%">
      <ion-card-content>
        <ion-row>
          <ion-col col-12>
            <p>
              <img class="iconGroup" src="assets/imgs/ic_setting_private_actived.png"> Quản trị nhóm: dasdas
            </p>
            <p>
              <img class="iconGroup" src="assets/imgs/ic_inventory_history_actived.png"> Ngày lập: dasddasd
            </p>
            <p>
              <img class="iconGroup" src="assets/imgs/ic_member_actived.png"> Số thành viên:dasdas
            </p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <!-- <ion-list *ngIf="groupGuid">
        <app-feeds [type]="'group'" [feed_type]="feed_type" [owner_guid]="groupGuid"></app-feeds>
      </ion-list> -->
    </ion-list>
  </div>
  <div *ngIf="membersPage">
    <ion-list>
      <p>Chủ sự kiện</p>
      <ion-item>
        dsad
      </ion-item>
    </ion-list>
    <ion-list>
      <p>Đồng tổ chức</p>
      <ion-item>
        dsad
      </ion-item>
    </ion-list>
    <ion-list>
      <p>Khách mời</p>
      <ion-item>
        dsad
      </ion-item>
    </ion-list>
  </div>
</ion-content>