<ion-header>
  <ion-navbar>
    <ion-title>Chi tiết trao đổi</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <div style="background-color: #fff;">
    <ion-item no-padding style="font-size: 18px; text-align: center;">
    <strong>1000</strong> ngày <strong>23</strong> giờ <strong>59</strong> phút <strong>59</strong> giây
  </ion-item>
  </div>
  <div style="background-color: #fff; text-align: center; font-size: 18px;" padding>
    <div class="">
      <strong>Đồng hồ nam dây da Timex</strong>
    </div>
    <p>Số lượng : 1</p>
    <div class="">
      <img width="80%" src="assets/imgs/logo.png" />
    </div>
    <ion-item  no-padding >
    <div class="">
      <p style="text-align: left; color: #488aff"><ion-icon ios="ios-locate" md="md-locate" ></ion-icon> Xung quanh</p>
    </div>
    <div class="">
      <ion-grid>
        <ion-row>
          <ion-col col-3 style="margin-right: 20px;">
            <img width="100%" src="assets/imgs/logo.png" />
          </ion-col>
          <ion-col col-6 class="ionContent">
            <div>
              <h4 class="h4Ion">Name</h4>
            </div>
            <div class="">
              <button class="buttonIon" type="button" name="button" ion-button>Tham gia</button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    </ion-item>
    <div class="" style="margin-bottom: -20px;">
      <p style="text-align: left; color: #b7b7b7;"><ion-icon style="color: #b7b7b7" ios="ios-flower" md="md-flower"></ion-icon> Thông tin sản phẩm</p>
      <p style="color: #757575; text-align: left;"> Loại dây vải màu đen phối da khả năng chịu nước 50m, đèn nền định dạng 12h, có ngày Chất liệu mặt kính Mineral ( kính cứng ) bảo vệ mặt đồng hồ, khung viền bằng sắt chất liệu dây vải màu đen kích thước mặt đồng hồ 40mm.</p>
    </div>
  </div>
</ion-content>

<ion-footer>
    <button type="button" name="button" ion-button full no-margin>Xem danh sách tham gia</button>
</ion-footer>
