 app-offers-item-detail {
   .ionContent {
     left: -15px;
   }
   .h4Ion {
     left: 20px;
     position: relative;
     font-size: 15px;
   }

   .offer_detail_info {
     margin: 0px 0px 30px 0px;
   }

   .offer_detail_relation {
      float: right;
      color: #488aff;
      font-size: 16px;
   }
  
 }
