app-message {

  $userBackgroundColor: #00bdf2;
  $toUserBackgroundColor: #fff;

  ion-content .scroll-content {
    background-color: #f5f5f5;
  }

  ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
  }

  .line-breaker {
    white-space: pre-line;
  }

  .input-wrap {
    padding: 0 5px;
      ion-textarea {
        position: static;
      }

      ion-col.col {
        padding: 0;
      }

      button {
        width: 100%;
        height: 55px;
        font-size: 1.3em;
        margin: 0;
      }

    .message_input_textarea {
      border-bottom: 1px $userBackgroundColor;
    }
  }

  .message-wrap {
    padding: 0 10px;

    .message {
      position: relative;
      padding: 7px 0;

      .msg-detail {
        width: 100%;
        display: inline-block;

        .message_from_content {
            font-size: .8em;
            color: #888;
        }

        .message_box_info {
          position: relative;
          margin-top: 5px;
          border-radius: 5px;
          padding: 8px 15px 12px 12px;
          color: #fff;
          width: auto;
          max-width: 80%;
          box-shadow: 0px 1px 2px rgba(0,0,0,0.2);

          span.triangle {
            background-color: #fff;
            border-radius: 2px;
            height: 8px;
            width: 8px;
            top: 12px;
            display: block;
            border-style: solid;
            border-color: #ddd;
            border-width: 1px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
          }
        }
      }
    }

    .message.left {
      .message_box_info {
        background-color: $toUserBackgroundColor;
        float: left;
      }
      .msg-detail {
        padding-left: 60px;
      }
      .message_box_images {
        left: 0;
      }

      .message_box_info {
        color: #343434;
        span.triangle {
          border-top-width: 0;
          border-right-width: 0;
          left: -5px;
        }
      }

    }

    .message.right {
      .msg-detail {
        padding-right: 60px;

        .message_from_content {
          text-align: right;
        }
      }

      .message_box_images {
        right: 0;
      }

      ion-spinner {
        position: absolute;
        right: 10px;
        top: 50px;
      }

      .message_box_info {
        background-color: $userBackgroundColor;
        float: right;

        span.triangle {
          background-color: $userBackgroundColor;
          border-bottom-width: 0;
          border-left-width: 0;
          right: -5px;
        }
      }
    }
  }

  .message_box_images {
    position: absolute;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  .message_box_time_right {
    font-size: 1.1rem; 
    color: #8e9093;
    margin: 5px 0px 0px 0px;
  }

  .message_box_time_left {
    font-size: 1.1rem; 
    color: #eaeaea;
    margin: 5px 0px 0px 0px;
  }

  .message_box_local {
    font-weight: bold;
    color: #333;
    line-height: 1.8rem;
    margin: 5px 0px 7px 0px;
    font-size: 1.4rem;
  }

  .message_choose_btn {
    border-right: 1px solid #c7c8cc;
  }

  .message_choose_img {
    width: 25px;
  }

  .message_input_icon {
    color: #00bdf2;
  }

  .message_choose_box {
    border: 1px solid #c7c8cc;
    text-align: center;
  }

  .message_text_bold {
    font-weight: bold
  }

}
