<ion-header >

    <ion-navbar >
        <ion-title>asda</ion-title>
    </ion-navbar>

</ion-header>

<ion-content has-header="false" padding="true" has-tabs="false" hide-nav-bar="true">
  <div class="message-wrap">
    <div *ngFor="let message of messages" [ngClass]="message.isSender? 'message right' : 'message left'">
      <img *ngIf="message.avatar" class="user-img" src="{{ message.avatar }}" alt="ionic logo">
      <div class="msg-detail">
        <div class="msg-info">
          <p>{{ message.from }}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>

          <div *ngIf="message.gift">
            <p> Đã tặng {{ message.gift.item_quantity }} {{ message.gift.item_title }}</p>
            <img width="100%" src="{{ message.gift.item_image }}" />
            <ion-row *ngIf="!message.isSender">
              <ion-col col-6>
                <button *ngIf="message.gift.notification_type == 'gift:request'" ion-button round color="danger" style="padding: 10px" small>Từ chối</button>
              </ion-col>
              <ion-col col-6>
                <button *ngIf="message.gift.notification_type == 'gift:request'" ion-button round color="secondary" style="padding: 10px" small>Chập nhận</button>
              </ion-col>
            </ion-row>
          </div>
          <div *ngIf="message.attachment">
            <img *ngIf="message.attachment.media_type == 'image'" width="100%" src="{{ message.attachment.url }}" />
          </div>
          <p class="line-breaker ">{{ message.text }}</p>
          <time style="font-size: 10px; color: #eee;">{{ message.time | amTimeAgo }}</time>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-row text-center style="border: 1px solid #eee;">
    <ion-col col-4 style="border-right: 1px solid #eee">
      <button ion-button icon-left clear small (click)="goToPage('gift')">
        <ion-icon name="archive"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-4 style="border-right: 1px solid #eee">
      <button ion-button icon-left clear small (click)="selectFromGallery()">
          <img class="iconMenu" src="assets/imgs/ic_image_grey.png">
      </button>
    </ion-col>
    <ion-col col-4>
      <button ion-button icon-left clear small>
          <img class="iconMenu"src="assets/imgs/ic_place_grey.png">
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2>
      <button ion-button clear icon-only item-right (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-8>
      <ion-textarea #chat_input [(ngModel)]="messageText" name="title" placeholder="Text Input">
      </ion-textarea>
    </ion-col>
    <ion-col col-2>
      <button ion-button clear icon-only item-right (click)="sendMessage()">
          <img src="assets/imgs/ic_send_blue.png">
        <!-- <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon> -->
      </button>
    </ion-col>
  </ion-row>
</ion-footer>
