<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sự kiện</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <div *ngIf="userPage">
    <app-events-user></app-events-user>
  </div>
  <div *ngIf="guestPage">
    <app-events-guest></app-events-guest>
  </div>
  <div *ngIf="historyPage">
    <app-events-history></app-events-history>
  </div>
  <ion-fab right bottom *ngIf="userPage" (click)="goToPage('create-event')">
    <button ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>

<ion-footer>
  <div class="bar bar-header bar-dark">
    <ion-segment color="primary" [(ngModel)]="eventsTab">
      <ion-segment-button value="user" class="segment-button" (click)="goToPage('user');">
        Thành viên
      </ion-segment-button>
      <ion-segment-button value="guest" class="segment-button" (click)="goToPage('guest');">
        Khách mời
      </ion-segment-button>
      <ion-segment-button value="history" class="segment-button" (click)="goToPage('history');">
        Lịch sử
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-footer>