app-offers-myself{
    .around{
        content: url(../assets/imgs/ic_location_actived.png);
        width: 24px;
        height: 24px;
    }
    .friend{
        content: url(../assets/imgs/ic_friend_actived.png);
        width: 24px;
        height: 24px;
    }
    .public{
        content: url(../assets/imgs/ic_member_actived.png);
        width: 24px;
        height: 24px;
    }

    #offer_myself_container {
        top: 44px;
    }

    .offer_myself_box {
        margin: 20px 0px; 
        position: relative;
    }

    .offer_myself_datetime {
        border: 1px solid #eee;
        border-radius: 3px;
        font-size: 15px;
        background-color: #fff; 
        box-shadow: 0px 2px #888888;
        margin: -10px 20px 0px;
        position: absolute;
        left: 0; 
        right: 0;
    }

    .offer_myself_main {
        background-color: #fff; 
        border-radius: 10px; 
        padding: 0 30px;
    }

    .offer_myself_location {
        padding-top: 30px; 
        margin: 0px;
        font-size: 15px;
    }

    .offer_image {
        padding: 0 5px
    }

    .offer_myself_title {
        padding-bottom: 30px; 
        margin: 0px;
        font-size: 15px;
    }

    .offer_myself_counter {
        border: 1px solid #eee; 
        border-radius: 3px;
        font-size: 15px;
        background-color: #fff; 
        box-shadow: 0px 2px #888888;
        margin: -10px 20px 0px;
        position: absolute;
        left: 0; 
        right: 0;
        text-align: center;
    }
    
}