<ion-content class="outer-content">
  <ion-row class="offer_myself_row" *ngIf="offers" >
    <ion-col col-6 class="offer_myself_box" *ngFor="let offer of offers" (click)="changePage(offer)" (press)="openMenu($event,offer)">
      <div class="offer_myself_datetime">
        <ion-icon name="timer"></ion-icon>
        <app-timer #countdownTimer [timeInSeconds]="offer.time_end - offer.current_time"></app-timer>
      </div>
      
      <div class="offer_myself_main">

        <p *ngIf="offer.target=='public'" class="offer_myself_location">
          <ion-icon item-start class="public"></ion-icon> Xung quanh
        </p>
        <p *ngIf="offer.target=='location'" class="offer_myself_location">
          <ion-icon item-start class="around"></ion-icon> Theo vị trí
        </p>
        <p *ngIf="offer.target=='friends'" class="offer_myself_location">
          <ion-icon item-start class="friend"></ion-icon> Bạn bè
        </p>

        <div class="offer_myself_image" *ngIf="offer.product_snapshot.images[0]" [style.background]="'url(' + offer.product_snapshot.images[0] + ')'"></div>
        <div class="offer_myself_image" *ngIf="offer.product_snapshot.images[0]==''" style="background-image: url('assets/imgs/image_not_found.jpg')" ></div>
        <p class="offer_myself_title">#{{offer.guid}} {{offer.product_snapshot.title}}</p>
      </div>
  
      <div *ngIf="offer.offer_type=='random'" class="offer_myself_counter">
         {{ counterOfferRandom(offer.counter_offers_number)}}/{{offer.limit_counter}}
      </div>
      <div *ngIf="offer.offer_type!='random'"  class="offer_myself_counter">
         {{offer.counter_offers_number}}
      </div>
  
    </ion-col>
    <div *ngIf="offers.length == 0" class="offer_myself_nodata">
      Không có dữ liệu...
    </div>
  </ion-row>

  <ion-row class="offer_myself_row" *ngIf="!offers">
    <ion-col col-6 class="offer_myself_box" *ngFor='let fake of fakeUsers' class='fakeItem'>
      <div class="offer_myself_main">
        <p class="offer_myself_location"></p>
        <div class="divCustom"></div>
        <p class="offer_myself_title"></p>
      </div>
    </ion-col>
  </ion-row>
</ion-content>

<ion-fab right bottom (click)="goToPage()">
  <button ion-fab class="offer_myself_button">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>