app-contact-groups{
    .textInfo{
        font-size: 13px;
        overflow: hidden;
        line-height: 30px;
        padding: 0px 0px 0px 3px;
        color: #777;
    }

    .contact_group_box_image {
        width: 70px;
        height: 60px;
        border-radius: 10px;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        max-width: none;
    }

    .contact_group_imageinfo {
        padding: 5px 0px 0px 0px;
    }

    .contact_group_chatbox {
        text-align: right;
        padding: 0px;
    }

    .contact_group_info {
        padding: 0px 0px 0px 10px;
    }

    .contact_group_chat{
        width: 50%;
        margin: 25% 0 0 0;
    }

    .contact_group_title {
        white-space: normal;
        font-size: 16px;
        max-height: 40px;
        overflow: hidden;
        text-transform: capitalize;
        padding: 3px 0px 0px 7px;
    }

    .item-ios {
        padding: 0px 0px 0px 0px;
    }

    .list-ios .item-block .item-inner {
        border-bottom: 0.55px solid #c8c7cc;
        padding: 5px 9px 5px 12px;
    }

    .contact_group_mood {
        position: absolute;
        bottom: 0px;
    }

    .contact_group_mood {
        position: absolute;
        bottom: 0px;
        padding: 0px 0px 0px 5px;
    }

    .contact_group {
        top: 44px;
        background-color: white;
    }

    .contact_group_button {
        bottom: 45px;
    }
}