<ion-list >
  <ion-item *ngFor="let group of groupService.groups_contact" >
    <ion-row>
      <ion-col col-3 (click)="goToPage(group.guid)">
        <img  id="imgAvatar" src="{{group.avatar}}" />
      </ion-col>
      <ion-col col-7 (click)="goToPage(group.guid)">
       {{group.title}} <br>
        <div style="position: absolute; bottom: 0;">
          <ion-row >
            <ion-col col-2>
              <img  class="imgInfo" src="assets/imgs/ic_user_admin_gray.png" />
            </ion-col>
            <ion-col col-2 class="textInfo">
              {{getOwner(group.owner_guid).fullname}}
            </ion-col>
            <ion-col col-2>
              <img  class="imgInfo" src="assets/imgs/ic_friend_actived.png" />
            </ion-col>
            <ion-col col-2 class="textInfo">
              {{group.members_count}}
            </ion-col>
            <ion-col *ngIf="group.has_inventory"  col-2>
              <img  class="imgInfo" src="assets/imgs/ic_gift_1.png" />
            </ion-col>
            <ion-col  *ngIf="group.has_inventory" col-2 class="textInfo">
              {{group.inventory_items}}
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col col-2>
        <img  class="imgChat" src="assets/imgs/ic_chat.png" (click)="goToPageChat(group, 'group')"/>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-list>
