<ion-content class="contact_group_content">
  <ion-list>
    <div *ngIf="groups">
      <ion-item *ngFor="let group of groups">
        <ion-row>
          <div class="contact_group_box_image" (click)="goToPage(group.guid)" [style.background]="'url(' + group.avatar + ')'"></div>
          <ion-col col-8 (click)="goToPage(group.guid)">
            <div class="contact_group_title">{{group.title}}</div>
            <div class="contact_group_mood">
              <ion-row>
                <ion-col class="contact_group_imageinfo" col-1>
                  <img src="assets/imgs/ic_user_admin_gray.png" />
                </ion-col>
                <ion-col col-6 class="textInfo">
                  {{getOwner(group.owner_guid).fullname}}
                </ion-col>
                <ion-col class="contact_group_imageinfo" col-1>
                  <img src="assets/imgs/ic_friend_actived.png" />
                </ion-col>
                <ion-col col-1 class="textInfo">
                  {{group.members_count}}
                </ion-col>
                <ion-col *ngIf="group.has_inventory" class="contact_group_imageinfo" col-1>
                  <img src="assets/imgs/ic_gift_1.png" />
                </ion-col>
                <ion-col *ngIf="group.has_inventory" col-1 class="textInfo">
                  {{group.inventory_items}}
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
          <ion-col class="contact_group_chatbox">
            <img class="contact_group_chat" src="assets/imgs/ic_chat.png" (click)="goToPageChat(group, 'group')" />
          </ion-col>
        </ion-row>
      </ion-item>
      <div *ngIf="groups.length==0" style="font-size: 20px; text-align: center;">
        <div>
          <img src="assets/imgs/ic_feed.png" style="max-width: 30%" alt="">
        </div>
        <div style="color: #999;">
          Không có dữ liệu...
        </div>
      </div>
    </div>

  </ion-list>

  <ion-list *ngIf="!groups">
    <ion-item *ngFor='let fake of fakeUsers' class='fakeItem'>
      <ion-row>
        <ion-col col-3>
          <div class="divCustom"></div>
        </ion-col>
        <ion-col col-9>
          <h2></h2>
          <h3></h3>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>

<ion-fab right bottom (click)="goToPage(null,'add-group');">
  <button ion-fab class="contact_group_fab">
    <ion-icon name="md-person-add"></ion-icon>
  </button>
</ion-fab>