app-contact-groups{
    .textInfo{
        font-size: 12px;
    }
    .imgInfo{
        width: 15px;
        height: 15px;
    }
    .imgChat{
        width: 30px;
        height: 30px;
    }
    #imgAvatar{
       height: 70px;
        width: 70px;
    }
}