app-contact-groups{
    .scroll-content {
        margin-bottom: 42px !important;
    }

    .contact_group_box_image {
        height: 6rem;
        border-radius: 5px;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        max-width: none;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .contact_group_icon {
        padding: 5px 0px 0px 5px;
        margin: 0px;

        img {
            width: 1.5rem;
            height: auto;
            vertical-align: middle;
        }

        .contact_group_icon_title {
            color: #8e9093;
            font-size: 1.2rem;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .contact_group_chatbox {
        text-align: right;
        padding: 0px;

        img {
            width: 90%;
            margin-top: 1rem;
        }
    }

    .contact_group_info {
        padding: 0px 0px 0px 10px;
    }

    .contact_group_title {
        white-space: nowrap;
        font-size: 15px;
        max-height: 40px;
        overflow: hidden;
        text-transform: capitalize;
        padding: 3px 7px 0px 7px;
        text-overflow: ellipsis;
        color: #333;
    }

    .item-ios {
        padding: 0px;
        border-bottom: none !important;
    }

    .list-ios .item-block .item-inner {
        border-bottom: 0.55px solid #c8c7cc;
        padding: 5px 3px 5px 9px;
    }

    .contact_group_fab {
        bottom: 45px;
        background-color: #f0ad4e;
        color: #fff;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

        ion-icon {
            font-weight: bold;
        }
    }

    .list-ios {
        margin: 0px;
    }

    .fakeItem {
        h2, h3, p {
            background: linear-gradient(to right, lightgray, white, lightgray);
            animation: skeleton 2s infinite;
            animation-timing-function: cubic-bezier(0.36,0.66,0.04,1);
            background-repeat: no-repeat;
            background-position-x: -300px;
            background-position-y: 0;
            background-color: lightgray;
            opacity: 0.5;
            height: 1em;
            margin-top: 10px;
        }
        h2 {
            max-width: 150px;
        }
        h3 {
            max-width: 200px;
        }
        p {
            max-width: 250px;
        }
    }

    .divCustom{
        background: linear-gradient(to right, lightgray, white, lightgray);
        animation: skeleton 2s infinite;
        animation-timing-function: cubic-bezier(0.36,0.66,0.04,1);
        background-repeat: no-repeat;
        background-position-x: -300px;
        background-position-y: 0;
        background-color: lightgray;
        opacity: 0.5;
        height: 70px;
        width: 70px;
        border-radius: 100px;
    }

    @keyframes skeleton {
        0% {
            background-position-x: -150px;
        }
        100% {
            background-position-x: 150px;
        }
    }

    .contact_group_nodata {
        font-size: 20px; 
        text-align: center;

        img {
            max-width: 30%;
        }

        .contact_group_nodata_title {
            color: #999;
        }
    }
}