app-wallet{

    .scroll-content {
        margin: 0px !important;
    }

    .wallet_container {
        background-color: #fff;
    }

    .wallet_balance {
        text-align: center;
        color: #2faf44;
        font-size: 2.5rem;
        border-bottom: 1px solid #c8c7cc;
        margin: 70px 0px 0px 0px;
        padding: 10px 0px 12px 0px;
    }

    .wallet_deposit {
        text-align: center;
        color: #4a8bfc;
        border-right: 1px solid #c8c7cc;

        ion-icon {
            font-size: 4rem;
            margin: 9px 0px 0px 0px;
        }

        .wallet_deposit_title {
            font-size: 1.5rem;
            margin: 5px 0px 10px 0px;
        }
    }

    .wallet_withdrawn {
        text-align: center;
        color: #4a8bfc;

        ion-icon {
            font-size: 4rem;
            margin: 9px 0px 0px 0px;
        }

        .wallet_withdrawn_title {
            font-size: 1.5rem;
            margin: 5px 0px 10px 0px;
        }
    }

    ion-label {
        margin: 0;
        display: block;
        overflow: hidden;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: inherit;
        text-overflow: ellipsis;
        white-space: normal;
    }

    .list-ios {
        margin: 0px 0 0px;
    }

    .transactions_item {
        padding: 0px;

        .item-inner {
            padding: 3px 8px 3px 10px;
        }

        .iconTransaction{
            width: 48px;
            height: 48px;
            float: left;
            margin: 0px 12px 0px 7px;
        }

        p {
            line-height: 20px;
        }
    }
}