<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >Xã Hội</ion-title>
  
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
<h1>434234421412</h1>
<ion-row>
  <ion-col col-6>
    <button (click)="deposit()">Nạp Tiền</button>
  </ion-col>
  <ion-col col-6>
    <button (click)="withdrawn()">Rút Tiền</button>
  </ion-col>
</ion-row>
<ion-list>
  <ion-item>
    <ion-thumbnail item-start>
      <img src="assets/imgs/logo.png">
    </ion-thumbnail>
    <h2>Nạp tiền vào ví</h2>
    <p>Bạn đã nạp vào ngày 18/12/2017</p>
  </ion-item>
  <ion-item>
    <ion-thumbnail item-start>
      <img src="assets/imgs/logo.png">
    </ion-thumbnail>
    <h2>Nạp tiền vào ví</h2>
    <p>Bạn đã nạp vào ngày 18/12/2017</p>
  </ion-item>
</ion-list>
</ion-content>

<ion-footer>
  <button ion-button full>Thanh toán</button>
</ion-footer>