<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Xã Hội</ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="outer-content" *ngIf="wallet">
  <h1>{{ formatCurrency(wallet.balance,wallet.currency)}}</h1>
  <ion-row>


    <ion-col col-6>
      <button (click)="deposit()">Nạp Tiền</button>
    </ion-col>
    <ion-col col-6>
      <button (click)="withdrawn()">Rút Tiền</button>
    </ion-col>
  </ion-row>
  <ion-list *ngIf="transactions">
    <ion-item *ngFor="let trans of transactions" (click)="orderDetail(trans)">
      <div [innerHTML]=showTransactionDescription(trans)></div>
    </ion-item>
  </ion-list>
</ion-content>

<!-- <ion-footer>
  <button ion-button full (click)="payment()">Thanh toán</button>
</ion-footer> -->