<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start>
      <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <div class="ion_navbar_title">ví của tôi</div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="wallet_container" *ngIf="wallet">
  <h1 class="wallet_balance">{{ formatCurrency(wallet.balance,wallet.currency)}}</h1>
  <ion-row>
    <ion-col col-6 (click)="deposit()" class="wallet_deposit">
      <!-- <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon> -->
      <img src="assets/imgs/recharge.png" style="max-width: 25%; margin-top: 10px;"/>
      <div class="wallet_deposit_title">Nạp Tiền</div>
    </ion-col>
    <ion-col col-6 (click)="withdrawn()" class="wallet_withdrawn">
      <!-- <ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon> -->
      <img src="assets/imgs/withdrawal.png" style="max-width: 25%; margin-top: 10px;" />
      <div class="wallet_withdrawn_title">Rút Tiền</div>
    </ion-col>
  </ion-row>
  <ion-list *ngIf="transactions">
    <ion-item class="transactions_item" *ngFor="let trans of transactions" (click)="orderDetail(trans)">
      <div [innerHTML]=showTransactionDescription(trans)></div>
    </ion-item>
  </ion-list>
</ion-content>
