<ion-header>
  <ion-navbar>
    <ion-title>Chọn quà</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #57bde3;height: 100%;position: relative">
  <div id="divContent">
    <ion-row>
      <ion-col col-4 *ngFor="let item of inventoriesItem" style="padding: 5px;">
        <div *ngIf="item.product_snapshot.approved != 'new' && item.product_snapshot.approved != 'suspended'; else other_content"
          style="width: 110px;">
          <div (click)="presentItemDetail(item)">
            <div *ngIf="item.product_snapshot.images[0]" [style.background]="'url(' + item.product_snapshot.images[0] + ')'" class="offer_myself_image"></div>
            <div *ngIf="item.product_snapshot.images==''" style="background-image: url('assets/imgs/image_not_found.jpg')" class="offer_myself_image"></div>
            <div style="padding: 5px">
              <p no-margin>{{item.product_snapshot.title}}</p>
              <p no-margin>SL: {{item.quantity}}</p>
            </div>
          </div>
        </div>
        <ng-template #other_content>
          <div class="item-ribbon offer_search_ribbon" style="opacity: 0.5;">
            <span *ngIf="item.product_snapshot.approved == 'new' || item.product_snapshot.approved == 'suspended'" class="ribbon sale">
              <span>Hết Hàng</span>
            </span>
            <div *ngIf="item.product_snapshot.images[0]" [style.background]="'url(' + item.product_snapshot.images[0] + ')'" class="offer_myself_image"></div>
            <div *ngIf="item.product_snapshot.images==''" style="background-image: url('assets/imgs/image_not_found.jpg')" class="offer_myself_image"></div>
            <div style="padding: 5px">
              <p no-margin>{{item.product_snapshot.title}}</p>
              <p no-margin>SL: {{item.quantity}}</p>
            </div>
          </div>
        </ng-template>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer>
  <ion-scroll scrollX style="height:120px;">
    <div class="scroll-item">
      <div class="item-card" *ngFor="let type of types" (click)="onFilterItem(type.item_type)">
        <img src="{{type.image}}">
        <div id="item-badge">
          <a> {{type.badge}}</a>
        </div>
        <p>{{type.title}}</p>
      </div>
    </div>
  </ion-scroll>
</ion-footer>