<ion-header>
  <ion-navbar>
    <ion-title>Thông tin hóa đơn</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <div style="background-color: #fff;">
    <ion-row *ngIf="order">
      <ion-col col-12 *ngFor="let item of order.order_item">
        <ion-grid>
          <ion-row>
            <ion-col col-3>
              <img width="100%" *ngIf="item.images" src="{{item.images[0]}}" />
            </ion-col>
            <ion-col col-7>
              <h6> {{item.title}} </h6>
              <p style="top:-10px; position: relative;">
                <a style="color: red;  position: relative;">{{formatCurrency(item.price,item.currency)}} </a>
                x {{item.qty}}
              </p>
              <p style="top:-10px; position: relative;">Thuế : {{item.tax}}%</p>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer style="background-color: #ffffff;" *ngIf="order">
  <div padding-horizontal>
    <ion-item>
      Tổng sản phẩm
      <ion-note class="ionNote" item-end>
        {{totalItem}}
      </ion-note>
    </ion-item>
    <!-- <ion-item>
        <ion-label>Tổng tiền : </ion-label>
        <h4 style="color: red; ">300,000 đ</h4>
      </ion-item> -->
    <ion-item>
      Tổng tiền
      <ion-note class="ionNote" item-end *ngIf="user_current" >
        {{formatCurrency(totalAmount,user_current.usercurrency)}}
      </ion-note>
    </ion-item>
    <div class="divVAT">
      <ion-label>
        <i>(Đã bao gồm VAT)</i>
      </ion-label>
    </div>
  </div>
</ion-footer>