<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start>
      <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <div class="ion_navbar_title">Thông tin hóa đơn</div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <div *ngFor="let shop of shops">
    <ion-item>
      <ion-thumbnail item-left>
        <img src="{{shop.avatar}}">
      </ion-thumbnail>
      <h2>{{shop.title}}</h2>
    </ion-item>
    <div >
      <ion-list >
        <ion-item style="padding-left: 15px" *ngFor="let p of  getProductsShop(shop.guid)">
          <ion-thumbnail item-left>
            <img *ngIf="p.images" src="{{p.images[0]}}">
            <img *ngIf="!p.images" src="assets/imgs/image_not_found.jpg">
          </ion-thumbnail>
          <h2>{{p.title}}</h2>
          <div *ngIf="!p.redeem_quantity ||p.redeem_quantity==0;else other_content">
            <p>SL :
              <span style="color: red">{{p.display_quantity}}</span>
            </p>
            <p>Tổng tiền :
              <span style="color: red">{{formatTotalPrive(p.display_price,p.display_currency)}}</span>
            </p>
          </div>
          <ng-template #other_content>
            <div>
              <p>Sử dụng trong kho
                <span style="color: red">{{p.redeem_quantity}}</span> sản phảm</p>
            </div>
          </ng-template>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-footer class="history_order_total" *ngIf="order">
  <div class="history_order_total_box" padding-horizontal>
    <ion-item>
      Phí giao hàng
      <ion-note class="ionNote" item-end *ngIf="user_current">
        {{formatTotalPrive(shippingFee,user_current.usercurrency)}}
      </ion-note>
    </ion-item>
    <ion-item>
      Tổng tiền
      <ion-note class="ionNote" item-end *ngIf="user_current">
        {{formatTotalPrive(totalPrice,user_current.usercurrency)}}
      </ion-note>
    </ion-item>
  </div>
</ion-footer>