<ion-header>
  <ion-navbar>
    <ion-title>Thông tin hóa đơn</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <div class="history_order">
    <ion-row *ngIf="order">
      <ion-col col-12 class="history_order_item" *ngFor="let item of order.order_item">
        <ion-grid>
          <ion-row>
            <ion-col col-3>
              <div *ngIf="item.images" [style.background]="'url(' + item.images[0] + ')'" class="history_order_images"></div>
            </ion-col>
            <ion-col col-7>
              <h3 class="history_order_title">{{item.title}} </h3>
              <p class="history_order_description">
                <a class="history_order_price">{{formatCurrency(item)}}</a> x {{item.qty}}
              </p>
              <!-- <p style="top:-10px; position: relative;">Thuế : {{item.tax}}%</p> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer class="history_order_total" *ngIf="order">
  <div class="history_order_total_box" padding-horizontal>
    <ion-item>
      Tổng sản phẩm
      <ion-note class="ionNote" item-end>
        {{totalItem}}
      </ion-note>
    </ion-item>
    <!-- <ion-item>
        <ion-label>Tổng tiền : </ion-label>
        <h4 style="color: red; ">300,000 đ</h4>
      </ion-item> -->
    <ion-item>
      Tổng tiền
      <ion-note class="ionNote" item-end *ngIf="user_current" >
        {{formatTotalPrive(totalAmount,user_current.usercurrency)}}
      </ion-note>
    </ion-item>
    <div class="divVAT">
      <ion-label>
        <i>(Đã bao gồm VAT)</i>
      </ion-label>
    </div>
  </div>
</ion-footer>