<ion-header>
  <ion-navbar>
    <ion-title>Tạo Shop</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Tên cửa hàng"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Số điện thoại cửa hàng"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Địa chỉ cửa hàng"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="BIDN"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Adjourn Price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Friend Url"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Phương thức vận chuyển</ion-label>
      <ion-select interface="popover">
        <ion-option value="s">Self</ion-option>
        <ion-option value="sq">SieuQua</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Tên chủ shop"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Số điện thoại của chủ shop"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Địa chỉ của chủ shop"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="SSN"></ion-input>
    </ion-item>
  </ion-list>
  <div>*** In clicking submit you are agreeing to the Terms and Conditions</div>

  <div padding>
    <button ion-button color="primary" block>SUBMIT</button>
  </div>
</ion-content>
