<ion-header>
  <ion-navbar>
    <ion-title>Tạo Shop</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">
  <ion-list>
    <ion-item *ngIf="shop.status=='2'">
      Cửa hàng không được phê duyệt vì {{shop.reason}}
    </ion-item>
    <ion-item>
      <ion-label stacked>Tên cửa hàng</ion-label>
      <ion-input [(ngModel)]="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Số điện thoại cửa hàng</ion-label>
      <ion-input type="tel" [(ngModel)]="phone" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Mã doanh nghiệp</ion-label>
      <ion-input type="number" [(ngModel)]="BIDN"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Giá lưu kho</ion-label>
      <ion-input type="number" [(ngModel)]="price" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Friend Url</ion-label>
      <ion-input [(ngModel)]="friend_url" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Phương thức vận chuyển</ion-label>
      <ion-select [(ngModel)]="shipping_method" interface="popover">
        <ion-option value="Self">Self</ion-option>
        <ion-option value="SieuQua">SieuQua</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Tên chủ shop</ion-label>
      <ion-input [(ngModel)]="owner_name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Số điện thoại của chủ shop</ion-label>
      <ion-input type="tel" [(ngModel)]="owner_phone_number" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>SSN</ion-label>
      <ion-input type="number" [(ngModel)]="ssn" type="text"></ion-input>
    </ion-item>
    <ion-label> Địa chỉ cửa hàng</ion-label>
    <div style="margin-left: 5px;">
      <ion-item>
        <ion-label stacked>Địa chỉ cửa hàng</ion-label>
        <ion-input [(ngModel)]="address" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Thành phố / Tỉnh</ion-label>
        <ion-select *ngIf="provinces" [(ngModel)]="province" name="province" (ionChange)="onProvinceChange($event)">
          <ion-option *ngFor="let province of provinces" value="{{ province.provinceid }}">{{ province.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Quận / Huyện</ion-label>
        <ion-select *ngIf="districts" [(ngModel)]="district" name="district" (ionChange)="onDistrictChange($event)">
          <ion-option *ngFor="let district of districts" value="{{ district.districtid }}">{{ district.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Phường / Xã</ion-label>
        <ion-select *ngIf="wards" [(ngModel)]="ward" name="ward" (ionChange)="onWardChange($event)">
          <ion-option *ngFor="let ward of wards" value="{{ ward.wardid }}">{{ ward.name }}</ion-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-label> Địa chỉ chủ cửa hàng</ion-label>
    <div style="margin-left: 5px;">
      <ion-item>
        <ion-label stacked>Địa chỉ của chủ shop</ion-label>
        <ion-input [(ngModel)]="owner_address" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Thành phố / Tỉnh</ion-label>
        <ion-select *ngIf="owner_provinces" [(ngModel)]="owner_province" name="province" (ionChange)="onOwnerProvinceChange($event)">
          <ion-option *ngFor="let province of provinces" value="{{ province.provinceid }}">{{ province.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Quận / Huyện</ion-label>
        <ion-select *ngIf="owner_districts" [(ngModel)]="owner_district" name="district" (ionChange)="onOwnerDistrictChange($event)">
          <ion-option *ngFor="let district of owner_districts" value="{{ district.districtid }}">{{ district.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Phường / Xã</ion-label>
        <ion-select *ngIf="owner_wards" [(ngModel)]="owner_ward" name="ward" (ionChange)="onOwnerWardChange($event)">
          <ion-option *ngFor="let ward of owner_wards" value="{{ ward.wardid }}">{{ ward.name }}</ion-option>
        </ion-select>
      </ion-item>
    </div>
  </ion-list>
  <div>*** In clicking submit you are agreeing to the Terms and Conditions</div>
  <!-- define('SHOP_REQUESTING', 0);
    define('SHOP_PENDING', 1);
    define('SHOP_REJECTED', 2); 
    define('SHOP_APPROVED',  3); 
    define('SHOP_SUSPENDED', 4); 
    define('SHOP_UNPUBLISHED', 5); -->
  <div padding>
    <button *ngIf="shop.status=='1'" [disabled]=true ion-button color="primary" block>Đang đợi phê duyệt</button>
    <button *ngIf="shop.status=='2'" (click)="createShop()" ion-button color="primary" block>Cập nhật</button>
    <button *ngIf="shop.status==false" (click)="createShop()" ion-button color="primary" block>Tạo cửa hàng</button>
  </div>
</ion-content>