<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons start>
            <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
            <div class="ion_navbar_title ion_navbar_width">chi tiết bài viết</div>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <app-feed *ngIf="post" [users]="users" [post]="post" [user]="user" [mood]="mood" [user_tag]="userTag" [is_open_from_detail]="is_open_from_detail" [shares]="shares">
    </app-feed>
</ion-content>