 app-shopping{
    .bar-button-ios {
        margin: 0px 10px 0px 0px;
        color: #fff;
    }

    .toolbar-title-ios {
        color: #fff;
        line-height: 20px;
    }

    .tabs-ios .tabbar {
        padding: 2px 0px 0px 0px;
        margin: 0px;
    }
    .tab-button-text {
        padding: 3px 0px 0px 0px;
    }
    .tabs-ios .tab-button {
        padding: 0px 0px 5px 0px;
    }
    .tabs-ios .tab-button[aria-selected=true] {
        border-bottom: 1px solid #00bdf2;
        color: #00bdf2;
    }

    .tabs-ios {
        a[aria-selected=false]{
            .tab-button-icon[ng-reflect-name=store], .tab-button-icon[aria-label=store] {
                background-image: url(../assets/imgs/amelymall-off.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        a[aria-selected=true] {
            .tab-button-icon[ng-reflect-name=store], .tab-button-icon[aria-label=store] {
                background-image: url(../assets/imgs/amelymall-on.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                border-bottom: 1px solid #00bdf2;
            }
        }
    }

   .tabs-ios {
        a[aria-selected=false]{
            .tab-button-icon[ng-reflect-name=voucher], .tab-button-icon[aria-label=voucher] {
                background-image: url(../assets/imgs/ic_voucher.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        a[aria-selected=true] {
            .tab-button-icon[ng-reflect-name=voucher], .tab-button-icon[aria-label=voucher] {
                background-image: url(../assets/imgs/ic_voucher_actived.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                border-bottom: 1px solid #00bdf2;
            }
        }
    }
       
    .tabs-ios {
        a[aria-selected=false]{
            .tab-button-icon[ng-reflect-name=store-friendly], .tab-button-icon[aria-label=store-friendly] {
                background-image: url(../assets/imgs/ic_shop_friendly.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        a[aria-selected=true] {
            .tab-button-icon[ng-reflect-name=store-friendly], .tab-button-icon[aria-label=store-friendly] {
                background-image: url(../assets/imgs/ic_shop_friendly_actived.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                border-bottom: 1px solid #00bdf2;
            }
        }
    }

    .shopping_bar_icon {
        padding: 0px 9px 0px 9px;
    }

    .shopping_more {
        font-size: 18px; 
        margin: 0 10px 0px 1px;
    }

    .shopping_cart {
        font-size: 18px;
    }

    .shopping_searchbar {
        color: #fff;
        min-height: 30px;
    }

    .searchbar-input {
        background: rgba(255, 255, 255, 1) !important;
    }

    .shopping_search_box {
        font-size: 18px;
        color: #fff;
    }
}