<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start>
      <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <div class="ion_navbar_title ion_navbar_width">thông tin quà tặng</div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="gift">
  <ion-card *ngIf="gift.item" >
    <img *ngIf="gift.item" src="{{gift.item.images[0]}}" />
    <img *ngIf="!gift.item" src="assets/imgs/image_not_found.jpg" />
    <ion-card-content>
      <ion-card-title>{{gift.item.title}}</ion-card-title>
      <ion-card-title>Thông tin chung</ion-card-title>
      <p>{{gift.item.description}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer *ngIf="status=='request' && gift">
  <ion-col col-6>
    <button ion-button (click)="acceptGift()">Đồng ý</button>
  </ion-col>
  <ion-col col-6>
    <button (click)="rejecttGift()" ion-button>Từ chối</button>
  </ion-col>
</ion-footer>
<ion-footer *ngIf="status=='accept' && gift">
  <ion-col col-12>
    <button ion-button>Đã đồng ý nhận quà</button>
  </ion-col>

</ion-footer>
<ion-footer *ngIf="status=='reject' && gift">
  <ion-col col-6>
    <button ion-button>Đã từ chối nhận quà</button>
  </ion-col>

</ion-footer>