<ion-list>
  <ion-item *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10]">
    <ion-row>
      <ion-col col-2>
        <img width="100%" src="assets/imgs/logo.png" />
      </ion-col>
      <ion-col col-10>
        <div text-left>
          Quannm
        </div>
        <ion-row>
          <ion-col col-6>
            <ion-icon name='md-male'></ion-icon> 14
          </ion-col>
          <ion-col col-6>
            <ion-icon name='pin'></ion-icon> 1 km
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-list>