app-location{
  on-app._gmaps_cdv_ .nav-decor{
    background-color: transparent !important;
  }

  .ion_navbar_title {
    width: 30rem;
    margin: 6px 0px 0px 5px;
  }
  
  #map {
    height: 100%;
  }
}