<ion-content class="outer-content" id="nearby_shop_container">
  
  <div class="nearby_shop_search">
    <ion-item>
      <ion-input class="nearby_search_text" type="text" placeholder="Từ khóa tìm kiếm cửa hàng..." [(ngModel)]="sFilter"></ion-input>
    </ion-item>

    <ion-label class="nearby_search_icon" (click)="filter()">
      <ion-icon ios="ios-search" md="md-search"></ion-icon>
    </ion-label>
  </div>
  
  <!-- <button ion-button class="login-button" type="submit" (click)="filter()">Đăng Nhập</button> -->
  
  <ion-list class="nearby_shop" no-lines *ngIf="datas">
    <ion-item class="nearby_shop_item" *ngFor="let data of datas" (click)="goToShop(data.shop.guid)">
      <ion-avatar item-start>
        <img class="nearby_image" src="{{data.shop.avatar}}">
      </ion-avatar>
      <h2 class="nearby_title">{{data.shop.title}}</h2>
      <div class="nearby_description">{{data.shop.store.address}}</div>
      <ion-row>
        <ion-col col-6 class="nearby_icon">
          <button ion-button icon-left clear small>
            <ion-icon class="nearby_icon_phone" name='ios-call'></ion-icon>
            {{data.shop.store.phone}}
          </button>
        </ion-col>
        <ion-col col-6 class="nearby_icon">
          <img class="icon" src="assets/imgs/ic_place_blue.png">
          <div class="nearby_icon_title">{{formatDistance(data.distance)}}</div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>