app-change-phonenumber {
    .change_phone_send {
        background-color: #f0ad4e;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        bottom: 0px;
        position: absolute;
        font-size: 1.6rem;
        padding: 3px 0px 0px 0px;
    }

    .inputForgot {
        background-color: #f4f4f4;
        border-radius: 20px;
    }

    .text-input-ios {
        text-align: center;
    }

    .buttonSubmit {
        border-radius: 20px;
        color: #fff;
        background-color: #f47b37;
        height: 40px;
        width: 140px;
    }
    .button-inner {
        color: white;
    }
}