app-change-phonenumber {
    .change_phone_send {
        background-color: #f0ad4e;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        bottom: 0px;
        position: absolute;
        font-size: 1.6rem;
        padding: 3px 0px 0px 0px;
    }
}