<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons start>
            <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
            <div class="ion_navbar_title">Tạo Amely Sec</div>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<!-- <ion-content class="outer-content">
  <div class="scroll-content divContent">
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <ion-label>Tiền tệ</ion-label>
        </ion-col>
        <ion-col col-9>
          <ion-label >VND</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="scroll-content divCenter">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-label>Terms of Use and Privacy Policy</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="scroll-content divCenterContent">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <div #popoverText class="text-to-change">
            <ion-grid>
              <ion-row>
                <ion-col class="register_colum" col-2>
                  <ion-item class="register_box2">
                    <ion-checkbox [(ngModel)]="rules" (ionChange)="onChange($event)"></ion-checkbox>
                  </ion-item>
                </ion-col>
                <ion-col class="register_colum" col-10>
                  <ion-item class="register_box3" style="padding: 0px 0px 0px 0px;" no-lines>
                    <ion-label>Tôi đồng ý với
                      <a href="https://amely.com/static/dieu-khoan-su-dung-vi-amely" target="_blank">điều khoản sử <br> dụng ví</a>
                    </ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="scroll-content divFooter">
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <button class="buttonDecline" type="button" (click)="onCancel()" ion-button>DECLINE</button>
        </ion-col>
        <ion-col col-4>
          <button type="button" (click)="onAccept()" ion-button>ACCEPT</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content> -->

<ion-content padding>
    <div>
        <div>
            <ion-list no-lines>
                <ion-item no-lines>
                    <ion-label style="font-weight: bold;">Đơn vị tiền tệ của Amely Sec</ion-label>
                    <ion-select [(ngModel)]="gaming">
                        <ion-option value="VND" selected>VND</ion-option>
                        <!-- <ion-option value="USD">USD</ion-option> -->
                    </ion-select>
                </ion-item>
            </ion-list>
        </div>
        <div style="text-align: center;">
            <label for="">Vui lòng đọc kỹ điều khoản đăng ký, cách sử dụng và các quy định của sàn giao dịch điện tử hỗn hợp AMELY <a href="https://amely.com/static/dieu-khoan-su-dung-vi-amely" target="_blank">tại đây</a></label>
        </div>
        <br>
        <ion-grid>
            <ion-row>
                <ion-col class="register_colum" col-2>
                    <ion-item class="register_box2" no-lines>
                        <input class="inputCheckbox" type="checkbox" [(ngModel)]="rules" (ionChange)="onChange($event)">
                    </ion-item>
                </ion-col>
                <ion-col class="register_colum" col-10>
                    <ion-item class="register_box3" style="padding: 0px 0px 0px 0px;" no-lines>
                        <!-- <ion-label>Tôi đồng ý với các điều khoản và quy định sử dụng
            </ion-label> -->
                        <div>
                            <label for="">Tôi đồng ý với các điều khoản và <br> quy định sử dụng
              </label>
                        </div>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div style="text-align: center;">
            <button class="buttonSubmit" ion-button (click)="onAccept()">XÁC NHẬN</button>
        </div>
    </div>

</ion-content>