app-create-wallet {

  ion-grid {
        justify-content: center;
    }
  .divCenter {
    top: 14vw;
    background-color: #ffffff;
    margin-bottom: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 5px;
  }
  
  .divCenterContent {
    color: #828282;
    top: 25vw;
    bottom: 22vw;
    background-color: #ffffff;
    margin-bottom: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 5px;
  }
  
  .divFooter {
    top: 144vw;
  }
  .register_colum {
        padding: 0px;
    }
  
  .buttonDecline {
    margin-left: 10px;
    background-color: #ffffff;
    color: #2b8ecf;
  }

  .register_box2 {
		margin-bottom: 20px;
    border-radius: 20px 0px 0px 20px;
    font-size: 15px;
    height: 45px;
    color: black;
    background-color: white;
        
        ion-item {
            background-color: transparent;
            border: none !important;
            color: white;
            font-size: 15px;
            padding: 0px 0px 0px 21px;
        }
    }

     .register_box3 {
        margin: 0px 0 32px;
		margin-bottom: 20px;
    border-radius: 0px 20px 20px 0px;
    font-size: 15px;
    height: 45px;
    color: black;
    background-color: white;
        
        ion-item {
            background-color: transparent;
            border: none !important;
            color: white;
            font-size: 15px;
            padding: 0px 0px 0px 5px;
        }
    }

    .text-input-ios {
    margin: 11px 8px 11px 20px;
    }

    .buttonSubmit {
        border-radius: 20px;
        color: #fff;
        background-color: #f47b37;
        height: 40px;
        width: 140px;
        box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
    }
    .button-inner {
        color: white;
    }
    .forgot_icon {
        margin: 0px 0px 0px 5px;
        font-size: 24px;
        width: 16px;
        height: 16px;
    }

    .forgot_box {
		margin-bottom: 20px;
    border-radius: 20px;
    font-size: 15px;
    height: 45px;
    color: black;
    background-color: white;
        
        ion-item {
            background-color: transparent;
            border: none !important;
            color: white;
            font-size: 15px;
            padding: 0px 0px 0px 21px;
        }
    }

    .inputCheckbox {
      top: 3px;
      width: 18px;
      height: 18px;
    }
    
}
