app-product-category{
  $default: #f53d3d;
  $cruzeiro: #387ef5;
  $atletico: darken(#f4f4f4, 45%);
  $javascript: #f7e023;

  .item-ribbon {
    background-color: #fff;
    position: relative;
    filter: none;
    opacity: 1;
    .ribbon {
      position: absolute;
      right: 0px;
      top: -5px;
      z-index: 2;
      overflow: hidden;
      width: 75px;
      height: 75px;
      text-align: right;
      span {
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 100px;
        display: block;
        background: $default;
        position: absolute;
        top: 19px;
        right: -21px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 100%;
          z-index: -1;
          border-left: 3px solid $default;
          border-right: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-top: 3px solid $default;
        }
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 100%;
          z-index: -1;
          border-left: 3px solid transparent;
          border-right: 3px solid $default;
          border-bottom: 3px solid transparent;
          border-top: 3px solid $default;
        }
      }
    }
  }

  // Creates a ribbon effect with the given options:
  @mixin ribbonize ($ribbon-color, $text-color: white, $border-width: 3px) {
    span {
      color: $text-color;
      background: $ribbon-color;
      &::before {
        border-left: $border-width solid $ribbon-color;
        border-top: $border-width solid $ribbon-color;
      }
      &::after {
        border-right: $border-width solid $ribbon-color;
        border-top: $border-width solid $ribbon-color;
      }
    }
  }

  .offer_myself_image {
    background-position: center !important;
    background-size: cover !important;
    padding: 0px;
    width: 96%;
    height: 100px;
    margin: 0px 0px 5px 0px;
  }

  .fakeItem {
    h2,
    h3,
    p {
      background: linear-gradient(to right, lightgray, white, lightgray);
      animation: skeleton 2s infinite;
      animation-timing-function: cubic-bezier(0.36,0.66,0.04,1);


      background-repeat: no-repeat;
      background-position-x: -300px;
      background-position-y: 0;

      background-color: lightgray;

      opacity: 0.5;
      height: 1em;
      margin-top: 10px;
    }

    h2 {
      max-width: 150px;
    }

    h3 {
      max-width: 200px;
    }

    p {
      max-width: 250px;
    }
  }
  .divCustom{
     background: linear-gradient(to right, lightgray, white, lightgray);
    animation: skeleton 2s infinite;
    animation-timing-function: cubic-bezier(0.36,0.66,0.04,1);


    background-repeat: no-repeat;
    background-position-x: -300px;
    background-position-y: 0;

    background-color: lightgray;
    opacity: 0.5;
    height: 5em;
  }

  @keyframes skeleton {
    0% {
      background-position-x: -150px;
    }
    100% {
      background-position-x: 150px;
    }
  }

  .product_feature_price {
    color: #D9534F;
    font-size: 14px;
    text-transform: capitalize;
  }
  .product_sale_price {
    color: #b6b7b7;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: line-through;
  }

  .product_category_search_btn {
    color: #fff;
    font-size: 2rem;
    margin: 1px 3px 0px 0px;
  }

  .product_category_main {
    background-color: #fff; 
  }

  .product_category_label {
    padding: 5px; 
    margin: 10px 0px;
  }

  .product_category_container {
    padding: 0px;
  }

  .product_category_item {
    padding: 0px;

    .item-inner {
      padding: 0px 7px 0px 7px;
    }
  }

  .product_category_images {
    background-position: center !important;
    background-size: cover !important;
    padding: 0px;
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 5px;
  }

  .product_category_title {
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: normal;
    text-transform: capitalize;
    height: auto;
    line-height: 18px;
    margin: 1px 0px 3px 0px;
    color: #333;
    max-height: 40px;
  }

}