<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start>
      <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <div *ngIf="!is_search" class="ion_navbar_title product_category_navbar_title">{{title}}</div>
    </ion-buttons>

    <ion-searchbar [(ngModel)]="search_content" *ngIf="is_search"></ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)="search()">
        <ion-icon class="product_category_search_btn" name="ios-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="product_category_main">
  <app-banner></app-banner>
  <div class="product_category_label" *ngIf="categories_parent.length>0">
    <ion-row>
      <ion-col col-8>
        <h3>Danh mục</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- <ion-col col-4 style="text-align: center" *ngFor="let category of categories_parent" (click)="goToSubCat(category)">
        <img width="70%" src="{{category.logo}}" />
        <h4>{{category.title}}</h4>
      </ion-col> -->
      <ion-item>
        <ion-label>Danh mục</ion-label>
        <ion-select [(ngModel)]="category_selected" (ionChange)="goToSubCat()">
          <ion-option *ngFor="let cat of categories_parent" [value]="cat">{{cat.title}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>
  </div>

  <ion-grid class="product_category_container">
    <ion-list *ngIf='products'>
      <ion-item class="product_category_item" *ngFor="let product of products" (click)="openProductDetail(product)">
        <ion-row>
          <ion-col col-3>
            <div class="item-ribbon offer_search_ribbon" *ngIf="product.is_special=='1'">
              <span class="ribbon cruzeiro">
                <span>VOUCHER</span>
              </span>
            </div>
            <div *ngIf="product.images[0]" [style.background]="'url(' + product.images[0] + ')'" class="product_category_images"></div>
            <div *ngIf="product.images==''" style="background-image: url('assets/imgs/image_not_found.jpg')" class="product_category_images"></div>
          </ion-col>
          <ion-col col-9>
            <ion-row class="product_category_title">{{product.title}}</ion-row>
            <!-- <ion-row>{{ formatCurrency(product)}} </ion-row> -->
            <ion-row *ngIf="product.sale_price == 0 || product.sale_price == null; else other_content">
              <div class="product_feature_price">{{ formatSalePrice( product.display_price, product.display_currency) }}</div>
            </ion-row>
            <ng-template #other_content>
              <div class="product_feature_price">{{formatSalePrice(product.display_price,product.display_currency)}}</div>
              <div class="product_sale_price">{{ formatSalePrice( product.display_old_price, product.display_currency) }}</div>
            </ng-template>
            <ion-row *ngIf="product.quantity==0" style="color: red;">Hết hàng</ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
      <div *ngIf="products.length == 0" class="category_nodata">
        <img src="assets/imgs/ic_feed.png">
        <div class="category_nodata_title">Không có dữ liệu...</div>
      </div>
    </ion-list>

    <ion-list *ngIf='!products'>
      <ion-item *ngFor='let fake of fakeUsers' class='fakeItem'>
        <ion-row>
          <ion-col col-3>
            <div class="divCustom"></div>
          </ion-col>
          <ion-col col-9>
            <h2></h2>
            <h3></h3>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>