<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!is_search">{{title}}</ion-title>
    <ion-searchbar [(ngModel)]="search_content" *ngIf="is_search"></ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)="search()" style="font-size: 18px;">
        <ion-icon name="ios-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">

  <div style="background-color: #fff; padding: 5px; margin: 10px 0px;" *ngIf="categories_parent.length>0">
    <ion-row>
      <ion-col col-8>
        <h3>Danh mục</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- <ion-col col-4 style="text-align: center" *ngFor="let category of categories_parent" (click)="goToSubCat(category)">
        <img width="70%" src="{{category.logo}}" />
        <h4>{{category.title}}</h4>
      </ion-col> -->
      <ion-item>
        <ion-label>Danh mục</ion-label>
        <ion-select [(ngModel)]="category_selected" (ionChange)="goToSubCat()">
          <ion-option *ngFor="let cat of categories_parent" [value]="cat">{{cat.title}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>
  </div>


  <ion-grid>
    
    <ion-row *ngFor="let product of products">
      <ion-col col-4>
        <div class="item-ribbon offer_search_ribbon" *ngIf="product.is_special=='1'">
          <span class="ribbon cruzeiro">
            <span>VOUCHER</span>
          </span>
        </div>
        <img *ngIf="product.images[0]" src="{{product.images[0]}}">
      </ion-col>
      <ion-col col-8>
        <ion-row>{{product.title}}</ion-row>
        <!-- <ion-row>{{showDescription(product.description)}}</ion-row> -->
        <ion-row>{{ formatCurrency(product)}}</ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>