app-categories {
	.ion-page > .content {
		background-color: #fff;
	}

	#divTitle {
		position: relative;
		left: 0px;
	}
	
	.categories_label {
		float: left;
		font-size: 20px;
		font-weight: normal;
		margin: 10px 0px 5px 0px;
		text-transform: capitalize;
		color: #333;
	}

	.categories_readmore{
		padding: 0px 5px 0px 0px;
		font-size: 14px;
		font-weight: 400;
		color: #488AFF;
		font-style: italic;
	}

	.categories_title {
		font-size: 14px;
		font-weight: 400;
		height: 45px;
		line-height: 20px;
		margin: 7px 3px 7px 3px;
		color: #333;
	}

	.categories_box_image {
		width: 100%;
		height: 15vh;
		overflow: hidden;
		text-align: center;
		margin: 0px;
		padding: 0px;
	}

	.categories_images {
		width: 100%;
		height: auto;
		text-align: center;
	}

}