app-categories {
	.ion-page > .content {
		background-color: #fff;
	}
	#divTitle {
		position: relative;
		left: 0px;
	}
	
	#divTitle h3 {
		float: left;
	}
	#divTitle h5{
		position: absolute;
		right: 0px;
	}

}