<div style="background-color: #fff; padding: 5px; margin: 10px 0px;" *ngIf="isHasData; else other_content">
  <ion-row *ngIf="categoriesParent">
    <ion-col col-8>
      <h3 class="categories_label" style="font-weight: bold;">Danh mục</h3>
    </ion-col>
    <ion-col  col-4 style="text-align: right">
      <h5 class="categories_readmore" *ngIf="categoriesParent.length>6" (click)="goToPageAll(categories);">Xem tất cả</h5>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="categoriesParent">
    <ion-col col-4 style="text-align: center" *ngFor="let category of categoriesParent.slice(0,6)" (click)="goToPage(category);">
      <div class="categories_images" [style.background]="'url(' + category.logo + ')'"></div>
      <h4 class="categories_title">{{category.title}}</h4>
    </ion-col>
  </ion-row>
</div>

<ng-template #other_content>
  <div style="background-color: #fff; padding: 5px; margin: 10px 0px;">
    <ion-row>
      <ion-col *ngIf="categoriesParent" col-4 style="text-align: right">
        <h5 class="categories_readmore" *ngIf="categoriesParent.length>6" (click)="goToPageAll(categories);">Xem tất cả</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4 style="text-align: center" *ngFor='let fake of [3,3,3,3,3,3]'>
        <div style="width: 110px;" class='fakeItem'>
          <div class="divCustom"></div>
          <div>
            <h2></h2>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ng-template>