<ion-header>
  <ion-navbar>
   <button ion-button icon-only menuToggle>
     <ion-icon name="menu"></ion-icon>
   </button>

   <ion-title>
     Xác nhận
   </ion-title>
   <ion-buttons end>
     <button ion-button icon-only (click)="changePage()">
       COMPLETE
     </button>
   </ion-buttons>
 </ion-navbar>
</ion-header>

<ion-content>
  <div class="">
      <ion-list no-border>
          <ion-list-header>
            Khách hàng
          </ion-list-header>

          <ion-item>
            <ion-icon name='contacts' item-start></ion-icon>
            Họ tên
            <ion-note item-end>
            {{ confirm.fullname }}
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-icon name='call' item-start></ion-icon>
            Số điện thoại
            <ion-note item-end>
             {{ confirm.phone }}
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-icon name='navigate' item-start></ion-icon>
            Địa chỉ:
            <p>{{ customer_address }}</p>
          </ion-item>
        </ion-list>
  </div>
  <div class="" *ngIf="is_show_shipping_method" >
      <ion-list no-border>
          <ion-list-header>
            Người nhận
          </ion-list-header>

          <ion-item>
            <ion-icon name='contacts' item-start></ion-icon>
            Họ tên
            <ion-note item-end>
            {{ confirm.shipping_fullname }}
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-icon name='call' item-start></ion-icon>
            Số điện thoại
            <ion-note item-end>
            {{ confirm.shipping_phone }}
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-icon name='navigate' item-start></ion-icon>
            Địa chỉ:
            <p>{{ reciver_address }}</p>
          </ion-item>
        </ion-list>
  </div>
  <div class="">
      <ion-list no-border>
          <ion-list-header>
            Thông tin thanh toán
          </ion-list-header>

          <ion-item>
            <ion-icon name='card' item-start></ion-icon>
            Phí vận chuyển
            <ion-note item-end style="color: red;">
              {{ customService.formatCurrency( this.paymentService.param_create_order.shipping_fee, items.currency) }}
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-icon name='card' item-start></ion-icon>
            Tổng tiền
            <ion-note item-end style="color: red;">
              {{ customService.formatCurrency(items.total, items.currency) }}
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-icon name='cash' item-start></ion-icon>
            Phương thức thanh toán
            <p>{{ payment_method }}</p>
          </ion-item>

          <ion-item>
            <ion-icon name='basket' item-start></ion-icon>
            Hình thức giao hàng
            <p>{{ shipping_method }}</p>
          </ion-item>
        </ion-list>
  </div>
</ion-content>
