app-user-block-list{

    .contact_user_image_box {
        padding: 0px;
        border-radius: 50%;
        overflow: hidden;
        width: 80px;
        height: 80px;
        border: 1px solid #efeff4;
        max-width: 80px;
    }

    .list-ios .item-block .item-inner {
        border-bottom: 0.55px solid #efeff4;
        padding: 0px 10px 0px 12px;
    }

    .contact_user_image_box img {
        min-height: 100%;
    }

    .list-ios {
        margin: 0px 0 0px;
    }

    .item-ios {
        padding: 0px;
    }

    .contact_user_info {
        padding: 0px 0px 0px 12px;
    }

    .contact_user_title {
        text-transform: capitalize;
        font-size: 18px;
        color: #333;
        margin: 3px 0px 5px 0px;
    }

    .contact_user_description {
        font-size: 14px;
        color: #444;
        margin: 0px 0px 5px 0px;
        white-space: normal;
        overflow: hidden;
        max-height: 35px;
        line-height: 18px;
    }

    .contact_user_mood_icon {
        width: 14px;
        height: auto;
    }

    .contact_user_mood_title {
        font-size: 14px;
        color: #777;
        font-style: italic;
    }

    .contact_user_chatbox {
        text-align: right;
        margin: 0px;
        padding: 0px;
    }

    .contact_user_chat {
        width: 50%;
        margin: 50% 0px 0px 0px;
    }

    .contact_user {
        margin-bottom: 27px;
    }

}