app-user-update {
    .user_update_container {
        background: white;
    }

    .user_update_error {
        color: red;
        text-align: center !important;
    }

    .user_update_label {
        color: #999;
    }

    .user_update_item {
        padding: 0px 15px 0px 15px;
        font-size: 1.5rem;
    }

    .user_update_list {
        margin: -1px 0 0px;
    }

    .user_update_send {
        background-color: #f0ad42;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 1.8rem;
        margin: 15px 0px 0px 0px;
    }
}