app-shop {
  .scroll-content {
    margin-top: 63px !important;
  }

  .shop_cover {
    padding: 0px;
    width: 100%;
    min-height: 200px;
    text-align: center;
    background-position: center !important;
    background-size: cover !important;
    box-shadow: inset 0px 0px 45px #000000;
  }

  .shop_avatar_row {
    background-color: #fff;

    .shop_avatar {
      width: 12rem;
      height: 12rem;
      margin: auto;
      overflow: hidden;
      border-radius: 3px;
      border: 5px solid #efeff4;
      box-shadow: 0px 1px 5px 1px #999;
      position: relative;
      top: -5.5rem;

      img {
        width: 100%;
        height: 100%;
        text-align: center;
        object-fit: cover;
        object-position: center;
        image-rendering: pixelated;
      }
    }
    
    .shop_avatar_title {
      color: #333;
      font-size: 2.2rem;
      text-transform: capitalize;
      margin: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      position: relative;
      top: -3rem;
    }
  }

  .shop_tabcontainer {
    background-color: #fff;
    border-bottom: 1px solid #c7c8cc;
    border-top: 1px solid #c7c8cc;
  }

  .shop_tab {
    border-bottom: 1px solid #c7c8cc;
  }

  .shop_tab_product {
    border-radius: 0px !important;
    border: 0px !important;
    border-right: 1px solid #c7c8cc !important;
    margin: 7px 0px 7px 0px;
  }

  .shop_tab_info {
    border-radius: 0px; 
    border: 0px; 
    font-size: 20px
  }

  .segment-ios-primary .segment-button{
    border: 0px;
    background-color: transparent; 
    color: #999 !important;
    height: 45px;
  }

  .segment-ios-primary .segment-button.segment-activated{
    background-color: transparent;
    color:#00bdf2 !important;
  }

  .about-info p {
    color: #697072;
    text-align: left;
  }

  .about-info ion-icon {
    color: color($colors, primary);
    width: 20px;
  }

  .md, .wp {
    .about-info [text-right] {
      margin-right: 0;
    }
  }

  .ios .about-info {
    text-align: center;
  }

  .ios .about-info ion-icon {
    width: auto;
    margin-right: 10px;
  } 

 
  .segment-ios-primary .segment-button{
    border: 0px;
    background-color: transparent; 
    color: black;
    height: 45px;
  }

  .segment-ios-primary .segment-button.segment-activated{
    background-color: transparent;
    color: #00bdf2;
  }

  .shop_tab_title{
    clear: both;
    margin-top: -12px;
    text-transform: uppercase;
    font-size: 12px;
  }

   #tabIconProduct{
    width: 30px;
    height: 30px;
    padding: 4px;
    content:url(./../../assets/imgs/ic_friend.png);
  }

  .segment-activated img#tabIconProduct {
    content:url(./../../assets/imgs/ic_friend_actived.png);
  }

   #tabIconInfo{
    width: 30px;
    height: 30px;
    padding: 4px;
    content:url(./../../assets/imgs/ic_friend.png);
  }

  .segment-activated img#tabIconInfo {
    content:url(./../../assets/imgs/ic_friend_actived.png);
  }

  .iconSubTab{
    width: 18px;
    height: auto;
    margin-right: 7px;
  }

  .shop_action_title {
    color: #999;
    text-transform: capitalize;
    font-size: 13px;
  }

  .shop_info_card {
    margin: 12px 0px 12px 0px;
    width: 100%;

    ion-col {
      color: #8e9093;
    }
  }
}