<ion-header>
  <ion-navbar>
    <ion-title>Cửa hàng</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content" *ngIf="shop">
  <div class="about-header">
    <img src="{{shop.avatar}}" alt="ionic logo">
  </div>
  <div class="bar bar-header bar-dark" style="background-color: #fff;">
    <ion-segment color="primary" [(ngModel)]="shopTab" style="border-bottom: 1px solid #eee;">
      <ion-segment-button value="products" class="segment-button" style="border-radius: 0px; border: 0px; font-size: 20px; border-right: 1px solid #eee;"
        (click)="goToPage('products');">
        <img id="tabIconProduct" />
        <div class="txtTitle">Sản Phẩm</div>
      </ion-segment-button>
      <ion-segment-button value="info" class="segment-button" style="border-radius: 0px; border: 0px; font-size: 20px" (click)="goToPage('info');">
        <img id="tabIconInfo" />
        <div class="txtTitle">Thông Tin</div>
      </ion-segment-button>
    </ion-segment>
    <ion-row text-center>
      <ion-col col-6>
        <button ion-button icon-left clear small color="danger">
          <img class="iconSubTab" src="assets/imgs/ic_like.png" alt="ionic logo">
          <div>Thích</div>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button icon-left clear small color="danger">
          <img class="iconSubTab" src="assets/imgs/ic_chat_brown.png" alt="ionic logo">
          <div>Nhắn tin</div>
        </button>
      </ion-col>
    </ion-row>
  </div>
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)" (ionPull)="doPulling($event)">
    <ion-refresher-content pullingText="Pull to refresh..." refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher> -->

  <div *ngIf="productsPage">
    <app-categories [shopGuid]="shop.guid"></app-categories>
    <app-products-feature  [shopGuid]="shop.guid"></app-products-feature>
  </div>
  <div *ngIf="infoPage">
    <ion-card>
      <ion-card-header>
        Thông tin cửa hàng
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col col-6>
            Tên cửa hàng
          </ion-col>
          <ion-col col-6>
            {{shop.title}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            Địa chỉ cửa hàng
          </ion-col>
          <ion-col col-6>
            {{shop.shop_address}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            Số điện thoại
          </ion-col>
          <ion-col col-6>
            {{shop.shop_phone}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            Mã số thuế
          </ion-col>
          <ion-col col-6>
            {{shop.shop_bidn}}
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Thông tin chủ cửa hàng
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col col-6>
            Họ tên
          </ion-col>
          <ion-col col-6>
             {{shop.owner_name}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            Địa chỉ
          </ion-col>
          <ion-col col-6>
             {{shop.owner_address}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            Số điện thoại
          </ion-col>
          <ion-col col-6>
           {{shop.owner_phone}}
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Danh sách cửa hàng
      </ion-card-header>
      <ion-card-content *ngFor="let store of shop.stores" > 
        <ion-row>
          <ion-col col-6>
            Địa chỉ
          </ion-col>
          <ion-col col-6>
            {{store.address}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            Số điện thoại
          </ion-col>
          <ion-col col-6>
             {{store.phone}}
          </ion-col>
        </ion-row>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>