app-choose-item{
    ion-scroll{
        position: unset;
    }

    ion-scroll .scroll-content {
      left: 0;
      right: 0;
      top: 5px;
      bottom: 0;
      position: absolute;
      overflow-y: hidden;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      will-change: scroll-position;
  }

    .item-card {
        padding:5px 0 0 0;
        width: 20%;
        width: 100px;
        height: 100px;
        margin: 0px 2.5px 0 2.5px ;
        background-color: #fff;
        border-radius: 10px;
        display: inline-block;
        position: relative;
      }

      .item-card img{
        width: 43px;
        height: 43px;
        position: absolute;
        left: 28px;
        top: 27px;
      }
      .item-card p{
        position: absolute;
        color: black;
        width: 100%;
        text-align: center;
        bottom: -5px;
        
      }

      #item-badge{
        position: absolute;
        right: 5px;
        top: 5px;
      }

      #item-badge a {
        background-color: red ;
        text-align: center;
        width: 45px;
        color: #fff;
        padding:2px 10px 2px 10px;
        border-radius: 10px;
      }

      ion-scroll[scrollX] {
        white-space: nowrap;
        .scroll-item {
          display: inline-block;
        }
      }

    #divContent{
        margin: 0 0 1% 1%;
        vertical-align: middle;
        text-align: center;
        background-color: #fff;
        left: 1%;
        // position: absolute;
        min-height: 98%;
        margin-top: 5px;
        border-radius: 8px;
        width: 98%;
      }

       .offer_myself_image {
    background-position: center !important;
    background-size: cover !important;
    padding: 0px;
    width: 100%;
    height: 100px;
    margin: 0px 0px 5px 0px;
  }


  @mixin ribbonize ($ribbon-color, $text-color: white, $border-width: 3px) {
    span {
      color: $text-color;
      background: $ribbon-color;
      &::before {
        border-left: $border-width solid $ribbon-color;
        border-top: $border-width solid $ribbon-color;
      }
      &::after {
        border-right: $border-width solid $ribbon-color;
        border-top: $border-width solid $ribbon-color;
      }
    }
  }

  $default: #f53d3d;
  $atletico: darken(#f4f4f4, 45%);
  $javascript: #f7e023;

  .item-ribbon {
    background-color: #fff;
    position: relative;
    filter: none;
    opacity: 1;
    .ribbon {
      position: absolute;
      right: 0px;
      top: -5px;
      z-index: 2;
      overflow: hidden;
      width: 75px;
      height: 75px;
      text-align: right;
      span {
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 100px;
        display: block;
        background: $default;
        position: absolute;
        top: 19px;
        right: -21px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 100%;
          z-index: -1;
          border-left: 3px solid $default;
          border-right: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-top: 3px solid $default;
        }
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 100%;
          z-index: -1;
          border-left: 3px solid transparent;
          border-right: 3px solid $default;
          border-bottom: 3px solid transparent;
          border-top: 3px solid $default;
        }
      }
    }
  }


  .ribbon.atletico {
    @include ribbonize($atletico);
  }

  .ribbon.javascript {
    @include ribbonize($javascript, black);
  }

}