<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons start>
            <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
            <div class="ion_navbar_title">Đơn giao hàng số #{{ do.guid }}</div>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="outer-content">
    <ion-card class="history_delivery_main">
        <ion-card-content>
            <ion-list>
                <h2 class="history_delivery_label">Sản phẩm :</h2>
                <ion-item class="history_delivery_item">
                    <ion-thumbnail item-left>
                        <img class="history_delivery_img" src="{{do.product.images[0]}}" onError="this.src='assets/imgs/image_not_found.jpg';">
                    </ion-thumbnail>
                    <h2 class="history_delivery_title" innerHtml="{{do.product.title}}"></h2>
                    <p>Số lượng : {{do.quantity}}</p>
                </ion-item>

                <h2 class="history_delivery_label history_delivery_row">Cửa hàng :</h2>
                <ion-item class="history_delivery_item">
                    <ion-thumbnail item-left>
                        <img src="assets/imgs/logo.png">
                    </ion-thumbnail>
                    <h2 class="history_delivery_title">{{do.product.shop.title}}</h2>
                    <p>
                        <ion-icon class="history_delivery_icon_phone" ios="ios-call" md="md-call"></ion-icon> {{do.product.shop.shop_phone}}</p>
                </ion-item>

                <ion-item class="history_delivery_item">
                    <p *ngIf="do.shipping_method=='sq/standard'">
                        <span class="history_delivery_label">Phương thức:</span> Giao hàng thường</p>
                    <p *ngIf="do.shipping_method!='sq/standard'">
                        <span class="history_delivery_label">Phương thức:</span> Giao hàng nhanh</p>
                </ion-item>

                <h2 class="history_delivery_label history_delivery_row">Gửi đến</h2>
                <ion-item class="history_delivery_item history_delivery_sending">
                    <div class="history_delivery_sending_row">{{do.shipping_fullname}}</div>
                    <div class="history_delivery_sending_row">Địa chỉ: {{address}}</div>
                    <div class="history_delivery_sending_row">
                        <ion-icon class="history_delivery_icon_phone" ios="ios-call" md="md-call"></ion-icon> {{do.shipping_phone}}
                    </div>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>