<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Phương thức vận chuyển
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <div style="background-color: #fff;">
    <ion-list>
      <ion-item *ngFor="let method of shipping_methods" (click)="confirmBill(method)">
        <ion-thumbnail item-start>
          <img width="100%" src="assets/imgs/logo.png" />
        </ion-thumbnail>
        <ion-label>{{method.displayname}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>