<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Xã hội</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">
  <ion-list>
    <ion-item *ngFor="let post of posts">
      <app-feed [post]="post" [user]="getPoster(post.poster_guid)" ></app-feed>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-fab right bottom>
  <button ion-fab style="background-color:#f18b5a; color: #fff" (click)="addNewFeed()"><ion-icon name="add"></ion-icon></button>
</ion-fab>