 app-inventory-gift {
   .box{
      height:100%;
    }
    .item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img {
      width: 80px;
      height: 80px;
    }
    .scrollable{
      height: 200px;
      border: 2px solid red;
    }
    .buttonIon {
      width: 50px;
      height: 30px;
      border-radius: 8px;
      border-width: 1px;
      border-style: inset;
      background-color: #ffffff;
    }

    .inputIon {
      width: 50px;
      height: 30px;
      border-radius: 8px;
      border-width: 1px;
      border-style: inset;
      background-color: #ffffff;
      margin-left: 5px;
      margin-right: 5px;
    }
    .text-input-ios {
      margin: 7px 8px 11px 4px;
    }
    .list.list-inline {
      display: -moz-box;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      flex-direction: row;
      flex-wrap: nowrap;
      top: -12px;
      position: relative;
    }
    .item-ios {
    padding-left: 10px !important;
    border-radius: 0;
    position: relative;
    font-size: 1.7rem;
    color: #000;
    background-color: #ffffff;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    }
    .item-ios.item-block .item-inner {
    border-bottom: 0.55px #eee !important;
    }
    .swiper-slide {
    text-align: center;
    position: relative;
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    .slider-pager {
	top: 0;
	bottom: initial;
}
 }
