app-user {
  .profile_cover {
    padding: 30px;
    width: 100%;
    min-height: 150px;
    text-align: center;
    background-size: cover !important;
    margin: 40px 0px 0px 0px;
    background-position: center !important;
  }

  .profile_avatar {
    width: 65px;
    height: 65px;
    border: 1px solid white;
    margin: 10px 0px 0px 0px;
  }

  .profile_fullname {
    color: white;
    font-size: 18px;
    margin: 5px 0px 0px 0px;
    text-transform: capitalize;
  }

  .about-info p {
    color: #697072;
    text-align: left;
  }

  .about-info ion-icon {
    color: color($colors, primary);
    width: 20px;
  }

  .md, .wp {
    .about-info [text-right] {
      margin-right: 0;
    }
  }

  .ios .about-info {
    text-align: center;
  }

  .ios .about-info ion-icon {
    width: auto;
    margin-right: 10px;
  } 

  .segment-ios-primary .segment-button{
    border: 0px;
    background-color: transparent; 
    color: black;
    height: 45px;
  }

  .segment-ios-primary .segment-button.segment-activated{
    background-color: transparent;
    color:blue;
  }
  
  #tabIconFeeds{
    width: 30px;
    height: 30px;
    padding: 4px;
    content:url(../assets/imgs/ic_feed.png);
  }
  .txtTitle{
    clear: both;
    margin-top: -19px;
  }

  .segment-activated img#tabIconFeeds {
    content:url(../assets/imgs/ic_feed_actived.png);
  }


  #tabIconFriend{
    width: 30px;
    height: 30px;
    padding: 4px;
    content:url(../assets/imgs/ic_friend.png);
  }

  .segment-activated img#tabIconFriend {
    content:url(../assets/imgs/ic_friend_actived.png);
  }
  
  #tabIconImage{
    width: 30px;
    height: 30px;
    padding: 4px;
    content:url(../assets/imgs/ic_image.png);
  }  

  .segment-activated img#tabIconImage {
    content:url(../assets/imgs/ic_image_actived.png);
  }

   .iconPage {
     margin: 0 0 10px 0;
   }

  .iconPage img{
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 5px 0 0;
  }

  ion-card img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    float: left;
  }

  .iconSubTab{
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}
