<ion-header>
  <ion-navbar>
    <ion-title>Trang cá nhân</ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="user" class="outer-content">
  <div [style.background]="'url(' + user.cover + ')'" class="profile_cover">
    <img src="{{user.avatar}}" class="profile_avatar" alt="{{user.fullname}}">
    <div class="profile_fullname">{{user.fullname}}</div>
  </div>
  <div class="bar bar-header bar-dark" style="background-color: #fff;">
    <ion-segment color="primary" [(ngModel)]="userTab">
      <ion-segment-button id="tabFeeds" value="newfeeds" class="segment-button" style="border-radius: 0px; border: 0px;border-right: 1px solid #eee;"
        (click)="goToPage(user,'newfeeds');">
        <img id="tabIconFeeds" />
        <div class="txtTitle">Cập Nhật</div>
      </ion-segment-button>
      <ion-segment-button value="images" class="segment-button" style="border-radius: 0px; border: 0px;  border-right: 1px solid #eee;"
        (click)="goToPage(user,'images');">
        <img id="tabIconImage" />
        <div class="txtTitle">Hình Ảnh</div>
      </ion-segment-button>
      <ion-segment-button value="friends" class="segment-button" style="border-radius: 0px; border: 0px; border-right: 1px solid #eee;"
        (click)="goToPage(user,'friends');">
        <img id="tabIconFriend" />
        <div class="txtTitle">Bạn Bè</div>
      </ion-segment-button>
    </ion-segment>
    <ion-row text-center *ngIf="!is_user_current">
      <ion-col col-4>
        <button ion-button icon-left clear small color="danger" (click)="goToPage(user, 'gift');">
          <img class="iconSubTab" src="assets/imgs/ic_send_gift_1.png" alt="ionic logo">
          <div>Tặng quà</div>
        </button>
      </ion-col>

      <ion-col col-4 *ngIf="!is_friend"   (click)="addFriend()">
        <button ion-button icon-left clear small color="danger">
          <img class="iconSubTab" src="assets/imgs/ic_add_friend.png" alt="ionic logo">
          <div>{{title_add_friend}}</div>
        </button>
      </ion-col>

      <ion-col col-4>
        <button ion-button icon-left clear small color="danger" (click)="goToPage(user, 'chat');">
          <img class="iconSubTab" src="assets/imgs/ic_chat_1.png" alt="ionic logo">
          <div>Nhắn tin</div>
        </button>
      </ion-col>
    </ion-row>
  </div>
  <ion-refresher (ionRefresh)="doRefresh($event)" (ionPull)="doPulling($event)">
    <ion-refresher-content pullingText="Pull to refresh..." refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="newfeedsPage">
    <ion-card *ngIf="user.shop.guid" style="margin-left: 0px; margin-right: 0px; width: 100%">
      <ion-card-content>
        <ion-item (click)="goToPage(user.shop.guid, 'shop')">
          <img src="assets/imgs/ic_tab_store_actived.png" /> Cửa hàng
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card style="margin-left: 0px; margin-right: 0px; width: 100%">
      <ion-card-content>
        <ion-row>
          <ion-col col-6>
            <p class="iconPage">
              <img src="{{genderIcon}}" /> {{genderLabel}}
            </p>
            <p *ngIf="is_user_current" class="iconPage">
              <img src="assets/imgs/ic_send_mail_gray.png" /> 0/20 (chưa có icon)
            </p>
            <p *ngIf="birthday" class="iconPage">
              <img src="assets/imgs/ic_birthday_gray.png" /> {{birthday}}
            </p>
            <p class="iconPage">
              <img src="assets/imgs/ic_phone_gray.png" /> {{user.mobilelogin}}
            </p>
          </ion-col>
          <ion-col col-6>
            <p *ngIf="user.mood" class="iconPage">
              <img src="{{iconMood}}" />{{user.mood.title}}
            </p>
            <p *ngIf="is_user_current" class="iconPage">
              <img src="assets/imgs/ic_send_mail_gray.png" /> 0/10 (chưa có icon)
            </p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>


    <ion-list *ngIf="userGuid">
      <!-- <ion-item *ngFor="let number of [0,1,2,3,4]"> -->
      <app-feeds  [type]="'user'" [feed_type]="feed_type" [owner_guid]="userGuid"></app-feeds>
      <!-- </ion-item> -->
    </ion-list>
  </div>
  <div *ngIf="imagesPage">
    <app-album [guid]="userGuid" [type]="'user'"></app-album>
  </div>
  <div *ngIf="friendsPage">
    <app-friends [from]="'user'" [guid]="userGuid"></app-friends>
  </div>


</ion-content>