<ion-header>
  <ion-navbar>
    <ion-title>Trang cá nhân</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">
  <div class="about-header">
  	<img src="assets/imgs/logo.png" alt="ionic logo">
  </div>
  <div class="bar bar-header bar-dark" style="background-color: #fff;">
    <ion-segment color="primary" [(ngModel)]="userTab">
      <ion-segment-button value="newfeeds" class="segment-button" style="border-radius: 0px; border: 0px; font-size: 20px; border-right: 1px solid #eee;" (click)="goToPage('newfeeds');">
        Cập nhật
      </ion-segment-button>
      <ion-segment-button value="images" class="segment-button" style="border-radius: 0px; border: 0px; font-size: 20px; border-right: 1px solid #eee;" (click)="goToPage('images');">
        Hình ảnh
      </ion-segment-button>
      <ion-segment-button value="friends" class="segment-button" style="border-radius: 0px; border: 0px; font-size: 20px" (click)="goToPage('friends');">
        Bạn bè
      </ion-segment-button>
    </ion-segment>
    <ion-row text-center>
      <ion-col col-6>
        <button ion-button icon-left clear small color="danger" (click)="goToPage('gift')">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>Tặng quà</div>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button icon-left clear small color="danger" (click)="goToPage('chat')">
          <ion-icon name="text"></ion-icon>
          <div>Nhắn tin</div>
        </button>
      </ion-col>
    </ion-row>
  </div>
  <ion-refresher (ionRefresh)="doRefresh($event)" (ionPull)="doPulling($event)">
    <ion-refresher-content
      pullingText="Pull to refresh..."
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="newfeedsPage">
    <ion-card style="margin-left: 0px; margin-right: 0px; width: 100%">
      <ion-card-content>
        <ion-item (click)="goToPage('shop')">
          <ion-icon name="football"></ion-icon> Cửa hàng
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card style="margin-left: 0px; margin-right: 0px; width: 100%">
      <ion-card-content>
        <ion-row>
          <ion-col col-6>
            <p>
              <ion-icon name="football"></ion-icon> Cửa hàng  
            </p>
            <p>
              <ion-icon name="football"></ion-icon> Cửa hàng  
            </p>
            <p>
              <ion-icon name="football"></ion-icon> Cửa hàng  
            </p>
            <p>
              <ion-icon name="football"></ion-icon> Cửa hàng  
            </p>
          </ion-col>
          <ion-col col-6>
            <p>
              <ion-icon name="football"></ion-icon> Cửa hàng  
            </p>
            <p>
              <ion-icon name="football"></ion-icon> Cửa hàng  
            </p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    
    <ion-list>
      <ion-item *ngFor="let number of [0,1,2,3,4]">
        <app-feed></app-feed>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="imagesPage">
    <app-album></app-album>
  </div>
  <div *ngIf="friendsPage">
    <app-friends></app-friends>
  </div>


</ion-content>