<ion-header>
  <ion-navbar>
   <button ion-button icon-only menuToggle>
     <ion-icon name="menu"></ion-icon>
   </button>

   <ion-title>
     Phương thức thanh toán
   </ion-title>
   <ion-buttons end>
     <button ion-button icon-only (click)="changePage()">
       Next <ion-icon name="arrow-forward"></ion-icon>
     </button>
   </ion-buttons>
 </ion-navbar>
</ion-header>



<ion-content class="outer-content">
  <ion-content>
    <div style="background-color: #ffffff; height: 100%; text-align: center">
      <h4 padding>Tới bước tiếp theo </h4>
    </div>
  </ion-content>
</ion-content>
