app-album {
    .album_box {
        height: 9rem;
        width: 100%;
        border: 1px solid #c7c8cc;

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }

    .album_title {
        font-size: 13px;
        text-align: center;
        padding: 5px 3px 0px 3px;
        text-transform: capitalize;
        color: #666;
    }

    .album_container {
        background-color: white;
        padding: 10px 0px 0px 0px;

        ion-col {
            text-align: center;
        }
    }

    .images_title {
        width: 100%;
        clear: both;
        text-align: center;
        margin: 15px 0px 7px 0px;
        border-top: 1px solid #efeff4;
        padding: 15px 0px 0px 0px;
    }

    .images_box {
        padding: 0px 0px 10px 0px;
    }

    .images_layout {
        height: 10rem;
        overflow: hidden;
    }

    .images_layout img {
        width: 100%;
        height: 100%;
        border: 1px solid #c7c8cc;
        object-fit: cover;
        object-position: center;
    }
}