<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle class="ion_navbar_box">
        <ion-icon name="menu"></ion-icon>
      </button>
      <div class="ion_navbar_title" *ngIf="!is_search_show">thiết lập</div>
    </ion-buttons>

    <ion-searchbar [(ngModel)]="search_content" *ngIf="is_search_show" class="setting_searchbar"></ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)="search()" class="setting_search_box">
        <ion-icon name="ios-search"></ion-icon>
      </button>
      <!-- <button ion-button class="social_more">
        <ion-icon name="md-more"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-tabs tabsPlacement="top" class="top_navigation_default" primary>
    <ion-tab [root]="tabGeneral" tabTitle="CHUNG" tabIcon="setting-general"></ion-tab>
    <ion-tab [root]="tabPrivate" tabTitle="RIÊNG TƯ" tabIcon="setting-private"></ion-tab>
    <ion-tab [root]="tabSecurity" tabTitle="BẢO MẬT" tabIcon="setting-security"></ion-tab>
  </ion-tabs>
</ion-content>