app-settings{

    .toolbar-background-ios {
        background: #00bdf2;
        color: #fff;
    }

    .bar-button-ios {
        margin: 0px 10px 0px 0px;
        color: #fff;
    }

    .toolbar-title-ios {
        color: #fff;
        line-height: 20px;
    }
        
    .tabs-ios {
        a[aria-selected=false]{
            .tab-button-icon[ng-reflect-name=setting-general], .tab-button-icon[aria-label=setting-general] {
            background-image: url(../assets/imgs/ic_setting_general.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
        a[aria-selected=true] {
            .tab-button-icon[ng-reflect-name=setting-general], .tab-button-icon[aria-label=setting-general] {
            background-image: url(../assets/imgs/ic_setting_general_actived.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
    }
        
    .tabs-ios {
        a[aria-selected=false]{
            .tab-button-icon[ng-reflect-name=setting-private], .tab-button-icon[aria-label=setting-private] {
            background-image: url(../assets/imgs/ic_setting_private.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
        a[aria-selected=true] {
            .tab-button-icon[ng-reflect-name=setting-private], .tab-button-icon[aria-label=setting-private] {
            background-image: url(../assets/imgs/ic_setting_private_actived.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
    }
            
    .tabs-ios {
        a[aria-selected=false]{
            .tab-button-icon[ng-reflect-name=setting-security], .tab-button-icon[aria-label=setting-security] {
            background-image: url(../assets/imgs/ic_setting_security.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
        a[aria-selected=true] {
            .tab-button-icon[ng-reflect-name=setting-security], .tab-button-icon[aria-label=setting-security] {
            background-image: url(../assets/imgs/ic_setting_security_actived.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
    }

    .scroll-content {
        padding-top: 0px !important;
    }

    .tabs-ios .tab-button-text {
        margin: 5px 0px 5px 0px;
        min-height: 11px;
    }

    ::-webkit-scrollbar,
    *::-webkit-scrollbar {
        display: none;
    }

    .bar-button-ios {
        padding: 0 15px 0px 5px;
    }

    #top_navigation_default {
        top: 64px;
    }

    #top_navigation_iphonex {
        top: 87px;
    }

    .social_more {
        font-size: 18px;
    }

    .setting_searchbar {
        color: #fff;
        min-height: 30px;
    }

    .searchbar-input {
        background: rgba(255, 255, 255, 1) !important;
    }

    .setting_search_box {
        font-size: 18px;
        color: #fff;
    }

}