<ion-content class="outer-content" class="events_container">
  <ion-list class="events_list">
    <ion-item class="events_item" *ngFor="let event of events">
      <ion-row>
        <ion-col class="events_image" col-3>
          <img width="100%" src="{{event.avatar}}" />
        </ion-col>
        <ion-col col-9>
          <div class="events_title">{{event.title}}</div>
          <div class="events_date">{{getDateCreate(event.time_created) | date:'dd/MM/yyyy'}}</div>
          <div class="events_author">Chủ sự kiện: {{getFullname(event.owner_guid)}}</div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>