<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mua sắm</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list *ngFor="let shop of shops" (click)="goToPage('shop');">
    <ion-row class="shop_friendly_row">
      <ion-col class="shop_friendly_box_image">
        <img *ngIf="shop.avatar" src="{{shop.avatar}}" >
      </ion-col>
      <ion-col class="shop_friendly_info" col-12>
        <ion-label class="shop_friendly_title">Name Shop</ion-label>
        <ion-label class="shop_friendly_description">good very good</ion-label>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>