<ion-content padding>
  <ion-list no-lines *ngIf="shops">
    <ion-item class="shops_friendly_item" *ngFor="let shop of shops" (click)="goToPage('shop',shop.guid);">
      <ion-avatar item-start>
        <img class="shops_friendly_image" *ngIf="shop.avatar" src="{{shop.avatar}}">
      </ion-avatar>
      <h2 class="shops_friendly_title">{{shop.title}}</h2>
      <p class="shops_friendly_description" *ngIf="shop.introduce">{{shop.introduce}}</p>
    </ion-item>

    <div *ngIf="shops.length == 0" class="shop_friendly_nodata">
      Không có dữ liệu...
    </div>
  </ion-list>

  <ion-list no-lines *ngIf="!shops">
    <ion-item *ngFor="let fake of fakeUsers" class="fakeItem">
      <ion-avatar item-start>
        <div class="divCustom"></div>
      </ion-avatar>
      <h2></h2>
    </ion-item>
  </ion-list>

</ion-content>