app-shops-friendly {
    .item-md,.item-ios {
        padding-left:0px;

        .number-circle{
            color:white;
            font-weight: 700;
            border-radius: 50%;
            background-color:red;
            width: 20px;height:20px;
            line-height: 20px;
            text-align: center;
        }
    }

    .rating {
      ion-icon {
          font-size: 15px;
          padding: 0px 1px !important;
          background: none;
          color:color($colors,primary);
      }
    }

    .shops_friendly_item {
        margin: 5px 0px 12px 0px;
        border-bottom: 1px solid #c8c7cc !important;
        padding: 0px 10px 12px 15px;

        .label-ios {
            margin: 0px;
            overflow: unset;
            width: 100%;
        }

        ion-avatar[item-start]{
            margin: 0px 0px 0px 0;
            border-radius: 50%;
            border: 3px solid #fff;
            overflow: hidden;
            z-index: 1;

            .shops_friendly_image {
                width: 60px;
                height: 60px;
            }
        }

        .item-inner {
            overflow: unset;
            z-index: 0;

            .input-wrapper {
                overflow: unset;
            }

            .shops_friendly_title {
                font-size: 14px;
                color: #666;
                text-transform: capitalize;
                background-color: #efeff4;
                padding: 8px 0px 7px 20px;
                border-bottom-right-radius: 15px;
                border-top-right-radius: 15px;
                margin: 0px 0px 0px -15px;
            }

            .shops_friendly_description {
                overflow: hidden;
                font-size: 13px;
                text-overflow: clip;
                color: #8e9093;
                max-width: 100%;
                white-space: normal;
                height: 18px;
                line-height: 18px;
                margin: 3px 0px 0px 0px;
            }
        }
    }

    .scroll-content {
        padding: 10px 0px 0px 0px !important;
    }

    .list-ios {
        margin: 0px 0 65px 0px;
    }

    ::-webkit-scrollbar,
    *::-webkit-scrollbar {
        display: none;
    }

    .fakeItem {
     h2, h3, p {
         background: linear-gradient(to right, lightgray, white, lightgray);
         animation: skeleton 2s infinite;
         animation-timing-function: cubic-bezier(0.36,0.66,0.04,1);
         background-repeat: no-repeat;
         background-position-x: -300px;
         background-position-y: 0;
         background-color: lightgray;
         opacity: 0.5;
         height: 2em;
         margin-top: 10px;
    }
     h2 {
         font-size: 14px;
                padding: 8px 0px 7px 20px;
                border-bottom-right-radius: 15px;
                border-top-right-radius: 15px;
                margin: 0px 0px 0px -15px;
    }
     h3 {
        //  max-width: 95px;
    }
     p {
         max-width: 250px;
    }
  }
 .divCustom{
    background: linear-gradient(to right, lightgray, white, lightgray);
    animation: skeleton 2s infinite;
    animation-timing-function: cubic-bezier(0.36,0.66,0.04,1);
    background-repeat: no-repeat;
    background-position-x: -300px;
    background-position-y: 0;
    background-color: lightgray;
    opacity: 0.5;
    width: 75px;
    height: 75px;
    margin: 0px 0px 0px 0;
    border-radius: 50%;
    border: 3px solid #fff;
    overflow: hidden;
    z-index: 1;
    margin-left: 10px;
  }
 @keyframes skeleton {
     0% {
         background-position-x: -150px;
    }
     100% {
         background-position-x: 150px;
    }
  }



}