<div class="product_feature_container" *ngIf="shops.length > 0">
  <ion-row>
    <ion-col col-8>
      <h3 class="product_feature_label">Cửa hàng tiêu biểu</h3>
    </ion-col>
  </ion-row>
  <ion-scroll scrollX class="product_feature" style=" min-height: 22vh">
    <div class="scroll-item">
      <ion-col *ngFor="let shop of shops" (click)="openShop(shop)">
        <div class="item-card">
          <div class="imageProduct" *ngIf="shop.avatar" [style.background]="'url(' + shop.avatar + ')'"></div>
          <div>
            <h4 class="product_feature_title">{{shop.title}}</h4>
          </div>
        </div>
      </ion-col>
    </div>
  </ion-scroll>
</div>