<ion-header>
  <ion-navbar swipeBackEnabled="true" hideBackButton>
    <ion-buttons start>
      <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <div class="ion_navbar_title">thông tin rút tiền</div>
    </ion-buttons>

    <ion-buttons end>
      <button class="withdrawn_option_next" ion-button icon-only (click)="changePage()">
        Tiếp Tục <ion-icon ios="md-arrow-forward" md="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-row class="withdrawn_option_balance">Số tiền : {{convertAmount()}}</ion-row>
    <ion-row class="withdrawn_option_email" *ngIf="paymentMethod=='paypal/standard'">
      <ion-col col-12>
        <ion-input type="email" placeholder="Địa chỉ email" [(ngModel)]="email"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="paymentMethod=='sq/bankaccount'">
      <ion-col col-12>
        <ion-input class="withdrawn_option_input" type="number" placeholder="Số tài khoản ngân hàng" [(ngModel)]="account_number"></ion-input>
      </ion-col>
      <ion-col col-12>
        <ion-input class="withdrawn_option_input" type="text" placeholder="Tên tài khoản ngân hàng" [(ngModel)]="account_name"></ion-input>
      </ion-col>
      <ion-col col-12>
        <ion-input class="withdrawn_option_input" type="text" placeholder="Tên ngân hàng" [(ngModel)]="bank_name"></ion-input>
      </ion-col>
      <ion-col col-12>
        <ion-input class="withdrawn_option_input" type="text" placeholder="Tên chi nhánh" [(ngModel)]="bank_branch_name"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <textarea class="withdrawn_option_note" rows="3" maxLength="500" [(ngModel)]="note" placeholder="Ghi chú"></textarea>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="paymentMethod=='paypal/standard'">
      <img class="withdrawn_option_paypal" src="assets/imgs/paypal.png">
    </ion-row>

</ion-content>