<ion-header>
  <ion-navbar>
    <ion-title>Đổi mật khẩu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">

<ion-list>

  <ion-item>
    <ion-input [(ngModel)]="old_pass" type="password" placeholder="Mật khẩu cũ"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="new_pass" type="password" placeholder="Mật khẩu mới"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="renew_pass" type="password" placeholder="Nhập lại mật khẩu mới"></ion-input>
  </ion-item>

</ion-list>

<div style="text-align: center;">
   <button (click)="changePass()" style="border-radius: 100px;" ion-button color="primary">CẬP NHẬT</button>
 </div>
</ion-content>
