app-change-password {
    .change_password_item {
        padding: 0px;

        .item-inner {
            padding: 0px 5px 0px 9px;
        }
    }

    .change_password_send {
        background-color: #f0ad4e;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        bottom: 0px;
        position: absolute;
        font-size: 1.6rem;
        padding: 3px 0px 0px 0px;
    }
}