app-inventory-public {
    .list-ios {
        margin: 0px 0 64px;
    }

    .inventory_public_item {
        margin: 0px;
        padding: 3px 0px 5px 12px;
        border-bottom: 1px solid #c8c7cc;
    }

    .inventory_public_item .item-inner {
        border-bottom: none !important;
    }

    .inventory_public_title {
        font-size: 16px;
        color: #333;
        text-transform: capitalize;
        margin: 0px 0px 0px 5px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .inventory_public_description {
        font-size: 14px;
        color: #999;
        margin: 5px 0px 5px 5px;
    }

    .inventory_public_person {
        color: #f0ad4e;
        font-size: 14px;
        margin: 6px 0px 0px 6px;
        text-transform: capitalize;
    }

    .inventory_public_image {
        background-position: center !important;
        background-size: cover !important;
        height: 10vh;
        width: 18vw;
        overflow: hidden;
        border-radius: 5px;
        padding: 0px;
        -webkit-box-flex: unset;
        flex-grow: unset;
        max-width: 18vw;
    }

    ion-footer {
        height: 40px;
        background-color: #f8f8f8;

        .segment-ios-primary .segment-button.segment-activated {
            color: #00bdf2;
            border: none;
            border-top: 1px solid #00bdf2;
        }

        .segment-ios-primary .segment-button {
            border: none;
            color: #666;
            background-color: #f8f8f8 !important;
            text-transform: uppercase;
            border-top: 1px solid #efeff4;
            padding: 0px;
            font-size: 14px;
            height: 100%;
            line-height: 40px;
        }
    }

    .scroll-content {
        padding-top: 0px !important;
    }

}