<ion-content class="inventory_public_content">
  <div *ngIf="groupPage">
    <ion-list class="inventory_public_list">
      <ion-item class="inventory_public_item" *ngFor="let group of groups" (click)="goToPage('gift','group',group.guid,group);">
        <ion-row>
          <ion-col class="inventory_public_image" col-3>
            <img src="{{ group.avatar }}" onError="this.src='assets/imgs/image_not_found.jpg';">
          </ion-col>
          
          <ion-col col-9>
            <div class="inventory_public_title">{{group.title}}</div>
            <div class="inventory_public_person"><ion-icon name="person"></ion-icon> {{getFullnameAdmin(group.owner_guid,'group')}}</div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="eventPage">
    <ion-list class="inventory_public_list">
      <ion-item class="inventory_public_item" *ngFor="let event of events" (click)="goToPage('gift','event',event.guid,event);">
        <ion-row>
          <!-- <ion-col class="inventory_public_image" col-3>
            <img src="{{event.avatar}}" alt="ionic logo" width="100%">
          </ion-col> -->
          <ion-col *ngIf="event.avatar" [style.background]="'url(' + event.avatar + ')'" class="inventory_public_image" col-3></ion-col>
          <ion-col *ngIf="event.avatar==null" style="background-image:url('assets/imgs/logo.png')" class="inventory_public_image" col-3></ion-col>
          <ion-col col-9>
            <div class="inventory_public_title">{{event.title}}</div>
            <div class="inventory_public_description">{{event.description}}</div>
            <div class="inventory_public_person"><ion-icon name="person"></ion-icon> {{getFullnameAdmin(event.owner_guid,'event')}}</div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer [ngClass]="device_screen">
  <div class="bar bar-header bar-dark">
    <ion-segment color="primary" [(ngModel)]="inventoryPublicTab">
      <ion-segment-button value="group" class="segment-button" (click)="goToPage('group')">
        Từ nhóm
      </ion-segment-button>
      <ion-segment-button value="event" class="segment-button" (click)="goToPage('event')">
        Từ sự kiện
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-footer>