<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start>
      <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <div class="ion_navbar_title">chi tiết trao đổi</div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-card class="history_offer_detail_item" *ngIf="offer">
    <ion-card-header class="history_offer_detail_title">Người tạo</ion-card-header>
    <ion-card-content class="history_offer_detail_info">
      <ion-list>
        <ion-row>
          <ion-col col-3>
            <div *ngIf="offer.product_snapshot.images" class="history_offer_detail_img">
              <img src="{{ offer.product_snapshot.images[0] }}" onError="this.src='assets/imgs/default-avatar-user.png'">
              <div class="history_offer_detail_quantity">x{{ offer.quantity }}</div>
            </div>
          </ion-col>

          <ion-col col-9>
            <h2 class="history_offer_detail_creator">{{offer.product_snapshot.title}}</h2>
            <div *ngIf="offer.product_snapshot.images" class="history_offer_detail_creator_img">
              <img src="{{ offer.owner.avatar }}" onError="this.src='assets/imgs/default-avatar-user.png'">
            </div>
            <div class="history_offer_detail_creator_title">{{offer.owner.fullname}}</div>

            <div class="history_offer_detail_creator_gender" *ngIf="offer.owner.gender=='male'">
              <img src="assets/imgs/ic_gender_male_blue.png">
              <span>Nam</span>
            </div>
            <div class="history_offer_detail_creator_gender" *ngIf="offer.owner.gender=='female'">
              <img src="assets/imgs/ic_gender_female_pink.png">
              <span>Nữ</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="history_offer_change">
    <img src="assets/imgs/exchange_location.png">
  </div>

  <ion-card class="history_offer_detail_item" *ngIf="offer && offer.offer_type!='giveaway'">
    <ion-card-header class="history_offer_detail_title">Người trao đổi</ion-card-header>
    <ion-card-content class="history_offer_detail_info" *ngIf="offer.counter_offers">
      <ion-list>
        <ion-row>
          <ion-col col-3>
            <div *ngIf="offer.counter_offers[0].product_snapshot.images" class="history_offer_detail_img">
              <img src="{{ offer.counter_offers[0].product_snapshot.images[0] }}" onError="this.src='assets/imgs/default-avatar-user.png'">
              <div class="history_offer_detail_quantity">x{{ offer.counter_offers[0].quantity }}</div>
            </div>
          </ion-col>

          <ion-col col-9>
            <h2 class="history_offer_detail_creator">{{offer.counter_offers[0].product_snapshot.title}}</h2>
            <div *ngIf="offer.counter_offers[0].product_snapshot.images" class="history_offer_detail_creator_img">
              <img src="{{ offer.counter_offers[0].owner.avatar }}" onError="this.src='assets/imgs/default-avatar-user.png'">
            </div>
            <div class="history_offer_detail_creator_title">{{offer.counter_offers[0].owner.fullname}}</div>

            <div class="history_offer_detail_creator_gender" *ngIf="offer.counter_offers[0].owner.gender=='male'">
              <img src="assets/imgs/ic_gender_male_blue.png">
              <span>Nam</span>
            </div>
            <div class="history_offer_detail_creator_gender" *ngIf="offer.counter_offers[0].owner.gender=='female'">
              <img src="assets/imgs/ic_gender_female_pink.png">
              <span>Nữ</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="offer && offer.offer_type=='giveaway'">
    <ion-card-header>Người nhận</ion-card-header>
    <ion-card-content *ngIf="offer.counter_offers">
      <ion-list>
        <img style="width: 70px;height: 70px; float: left;margin-top: 10px;" src="{{offer.counter_offers[0].owner.avatar}}" onError="this.src='assets/imgs/image_not_found.jpg';">
        <h2 style="margin-top: 10px;">{{offer.counter_offers[0].owner.fullname}}</h2>
        <div *ngIf="offer.counter_offers[0].owner.gender=='male'">
          <img style="width: 30px;height: 30px; float: left;" src="assets/imgs/ic_gender_male_blue.png"> Nam
        </div>
        <div *ngIf="offer.counter_offers[0].owner.gender=='female'">
          <img style="width: 30px;height: 30px; float: left;" src="assets/imgs/ic_gender_female_pink.png"> Nữ
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>