app-create-event {
    .divTop {
         background-color: #ffffff;
         height: 25vw;
    }
     .divCenter {
         background-color: #ffffff;
         height: 45vw;
         margin-top: 27vw;
    }
     .divBottom {
         height: 45vw;
         margin-top: 91vw;
    }
     .divBottom1 {
         height: 65vw;
         margin-top: 101vw;
    }
     .divCenter2 {
         background-color: #ffffff;
         height: 18vw;
         max-width: 95vw;
         margin-top: 74vw;
         border-radius: 10px;
         margin-left: 2vw;
         margin-right: 2vw;
    }
     .divSize {
         text-align: center;
         margin: 10px 0px 10px 0 !important;
    }
     .ionLabelTop {
         margin: 5px 0px 10px 0 !important;
    }
     .iconTopDefault {
         font-size: 60px;
         margin-top: -10px;
         z-index: 10px;
         width: auto !important;
         color: #93ccf0;
    }
     .iconTopWedding {
         font-size: 60px;
         margin-top: -10px;
         z-index: 10px;
         width: auto !important;
         color: #ee91a5;
    }
     .iconTopBirthday {
         font-size: 60px;
         margin-top: -10px;
         width: auto !important;
         z-index: 10px;
         color: #fbb03b;
    }
     .iconTopFundraising {
         font-size: 60px;
         margin-top: -10px;
         z-index: 10px;
         width: auto !important;
         color: #ffe784;
    }
     .marginCol {
         font-size: 14px;
         margin-left: 5px;
         margin-top: 15px;
    }
     .marginColBottom {
         background-color: #ffffff;
         border-radius: 10px;
    }
     .marginColBottom1 {
         background-color: #ffffff;
         border-radius: 10px;
         margin-left: 5px;
         margin-right: 5px;
    }
     .marginCol2 {
         font-size: 14px;
         margin-left: 5px;
    }
     .marginCol3 {
         margin-top: 5px;
    }
     .marginCol1 {
         padding-left: 0px !important;
    }
     .marginRow {
         margin-top: -10px;
    }
     .iconCenter {
         font-size: 2.7em;
         color: #289ae1;
    }
     .text-input-ios {
         margin: 11px 8px 11px 5px !important;
    }
     .labelBottom {
         color: #6c6c6c;
         margin-left: 10px;
         font-size: 20px;
    }
     .startDay {
         margin-left: 5px;
         max-width: 48%;
    }
     .endDay {
         margin-left: 5px;
         max-width: 48%;
    }
     .startTime {
         margin-left: 5px;
         max-width: 48%;
    }
     .endTime {
         margin-left: 5px;
         max-width: 48%;
    }
     .location {
         margin-left: 5px;
         margin-right: 5px;
    }
     .marginRowBottom {
         height: 11vw;
         margin-top: 5px;
    }
     .marginRowBottom1 {
         height: 11vw;
         margin-top: 5px;
    }
     .iosDateTimeBottom {
         padding: 5px 8px 11px 16px;
    }
     .inputBottom {
         margin-left: 10px;
         max-width: 85%;
    }
     .ionToggleBottom {
         top: -38px;
         left: 80vw;
    }
     .labelBottom1 {
         margin-left: 15px;
         color: #9d9d9d;
         margin-top: 9px;
         font-size: 14px;
    }
     .iconBottom {
         margin-left: 38vw;
         top: -38px;
         position: relative;
         font-size: 30px;
         color: #9fd2f2;
    }
     .iconBottom1 {
         margin-left: 87vw;
         top: -38px;
         position: relative;
         font-size: 30px;
         color: #9fd2f2;
    }
     .iconLocation {
         margin-right: -3px;
         margin-left: 54px;
         top: 7px;
         position: relative;
         font-size: 30px;
         color: #9fd2f2;
    }
     .buttonLocation {
         background-color: #ececec;
         top: -41px;
         position: relative;
         margin-left: 71vw;
         width: 89px;
         height: 38px;
         border-radius: 10px;
    }
     .marginLabel{
       margin: 0px 30px -28px 0;
     }
     .icon{
         width: 20px;
         display: inline-block;
     }

     #iconDay {
        content: url(../assets/imgs/ic_calendar_blue.png);
        width: 31px;
        height: 31px;
        background-size: contain;
        background-repeat: no-repeat;
    }

     #iconHour {
        content: url(../assets/imgs/ic_clock_blue.png);
        width: 31px;
        height: 31px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #iconPlace {
        content: url(../assets/imgs/ic_place_blue.png);
        width: 31px;
        height: 31px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #iconContact {
        content: url(../assets/imgs/ic_contact_blue.png);
        width: 31px;
        height: 31px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    ion-scroll[scrollX] {
        white-space: nowrap;
        .scroll-item {
        display: inline-block;
        }
    }

    .item-card {
        display: inline-block;
        position: relative;
    }
  
    .item-card {
        display: inline-block;
        position: relative;
    }
}
