app-create-event {
    .create_event_type {
        background-color: #ffffff;
        height: 16vh;
        overflow: visible;
        padding: 7px 0px 5px 0px;
    }

    .create_event_info {
        background-color: #ffffff;
        height: 33vh;
        margin: 17vh 0px 7px 0px;
        padding: 0px 5px 0px 5px;
    }

    .create_event_prepare {
        margin: 15px 0px 0px 0px;

        ion-label {
            font-size: 1.8rem;
            margin: 10px 7px 9px 9px;
            text-transform: capitalize;
            color: #333;
        }
    }

    .create_event_time {
         height: 65vw;
    }

    .create_event_description {
        background-color: #ffffff;
        height: 10vh;
        margin: 5px 0px 0px 0px;
        padding: 5px 0px 0px 5px;
        color: #333;

        .text-input-ios {
            margin: 9px 8px 10px 5px !important;
        }
    }

    .create_event_type_box {
        text-align: center;
        margin: 0px;
    }

    .ionLabelTop {
         margin: 5px 0px 10px 0 !important;
    }

    .iconTopDefault {
         font-size: 60px;
         margin-top: -10px;
         z-index: 10px;
         width: auto !important;
         color: #93ccf0;
    }

    .iconTopWedding {
         font-size: 60px;
         margin-top: -10px;
         z-index: 10px;
         width: auto !important;
         color: #ee91a5;
    }

    .iconTopBirthday {
         font-size: 60px;
         margin-top: -10px;
         width: auto !important;
         z-index: 10px;
         color: #fbb03b;
    }
    
    .iconTopFundraising {
         font-size: 60px;
         margin-top: -10px;
         z-index: 10px;
         width: auto !important;
         color: #ffe784;
    }

    .create_event_title_box {
        font-size: 14px;
        margin: 15px 0px 0px 5px;
    }

    .create_event_time_half_col {
        background-color: #ffffff;
        border-radius: 10px;
        position: relative;
        max-width: 48%;
        margin: 0px 0px 0px 5px;

        .create_event_time_icon {
            margin-left: 36vw;
            top: -34px;
            position: relative;
            font-size: 30px;
            color: #9fd2f2;
        }
    }

    .create_event_time_full_col {
        background-color: #ffffff;
        border-radius: 10px;
        margin-left: 5px;
        margin-right: 5px;

        .create_event_time_icon {
            margin-left: 36vw;
            top: -34px;
            position: relative;
            font-size: 30px;
            color: #9fd2f2;
        }
    }

    .create_event_info_row {
        font-size: 14px;
        margin-left: 5px;
    }

    .create_event_customer {
        margin: -3px 0px 0px 6px;
    }

    .create_event_user_image {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid #efeff4;
    }

    .create_event_inventory {
        margin-top: 9px;
    }
    
    .create_event_title {
        margin: 0px 5px 0px 3px !important;
        font-size: 1.5rem;

        .text-input-ios {
            margin: 10px 5px 0px 3px !important;
        }
    }

    .create_event_info_icon {
        font-size: 2.7em;
        color: #289ae1;
        float: left;
    }

     .endDay {
         margin-left: 5px;
         max-width: 48%;
    }
     .startTime {
         margin-left: 5px;
         max-width: 48%;
    }
     .endTime {
         margin-left: 5px;
         max-width: 48%;
    }
    
    .location {
        margin-left: 5px;
        margin-right: 5px;
    }

     .create_event_time_row {
        height: 11vw;
        margin-top: 5px;

        .datetime-ios {
            padding: 8px 9px 10px 7px;
        }
    }
     .marginRowBottom1 {
         height: 11vw;
         margin-top: 5px;
    }
     .iosDateTimeBottom {
         padding: 5px 8px 11px 16px;
    }

    .create_event_inner {
        margin-left: 4px;
        max-width: 80%;
        position: relative;
    }

    .create_event_status {
        top: -36px;
        left: 76vw;
    }

    .labelBottom1 {
        margin-left: 15px;
        color: #9d9d9d;
        margin-top: 9px;
        font-size: 14px;
    }

    .iconLocation {
         margin-right: -3px;
         margin-left: 54px;
         top: 7px;
         position: relative;
         font-size: 30px;
         color: #9fd2f2;
    }

    .create_event_btn_location {
        background-color: #ececec;
        top: 1px;
        position: absolute;
        right: 1px;
        width: 90px;
        height: 39px;
        border-radius: 10px;
    }

    .create_event_map{
        margin: 2px 18px -29px 0px;
        color: #333;
        font-size: 1.3rem;
    }
     .icon{
         width: 20px;
         display: inline-block;
     }

     #iconDay {
        content: url(../assets/imgs/ic_calendar_blue.png);
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
    }

     #iconHour {
        content: url(../assets/imgs/ic_clock_blue.png);
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #iconPlace {
        content: url(../assets/imgs/ic_place_blue.png);
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #iconContact {
        content: url(../assets/imgs/ic_contact_blue.png);
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 6px;
        right: 2px;
    }

    ion-scroll[scrollX] {
        white-space: nowrap;
        .scroll-item {
        display: inline-block;
        }
    }

    .item-card {
        display: inline-block;
        position: relative;
    }
  
    .item-card {
        display: inline-block;
        position: relative;
    }
}
