app-gift {
  .divBody {
    margin-top: 5px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .divSize {
    font-size: 1.8rem;
    color: #333;
    padding: 0px 0px 0px 5px;
  }

  .iconSize {
    font-size: 20px;
    color: #faac64;
  }
  .iconSize1 {
    font-size: 30px;
    color: #cdcdcd;
    padding-bottom: 15px;
  }

  .selectSize {
    font-size: 16px;
    max-width: 95%;
    padding: 11px 8px 11px 0px;
  }
  .item-ios {
    font-size: 16px;
    max-width: 100%;
    padding: 11px 0px 11px 0px;
    padding-left: 0px !important;
    padding-left: 0px !important;
  }

  .marginRow {
    margin-bottom: 15px;
    left: 32vw;
  }

  .gift_choose_box {
    text-align: center;
  }

  .popover-ios .popover-content {
    top: 112px;
    left: 105.906px !important;
    transform-origin: right top 0px;
    border-radius: 10px;
    width: 65%;
    min-width: 0;
    min-height: 0;
    max-height: 90% !important;
    color: #000;
    background: #fff;
  }

  .buttonChoose {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border-width: 3px;
    border-style: dashed;
    border-color: #cdcdcd;
    background-color: #ffffff;
    font-size: 16px;
    color: #cdcdcd;
  }

  .gift_btn_send {
    color: #fff;
    
    ion-icon {
      margin: 0px 5px 0px 0px;
      font-size: 2rem;
    }
  }

  .gift_receiver {
    color: #333;
    font-size: 1.6rem;
    padding: 7px 0px 0px 5px;
    box-sizing: border-box;

    span {
      color: #f0ad4e;
    }
  }
}
