<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Phương thức thanh toán
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="changePage()">
        Next
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content class="outer-content">
  <ion-row radio-group [(ngModel)]="option_selected" *ngIf="options">
    <ion-col col-6 *ngFor="let option of options">
      <ion-card>
        <label>
          <img width="100%" src="assets/bank_image/bank_{{ option | lowercase }}.jpg" />
          <p txt-center>
            <ion-radio value="{{ option }}" item-end></ion-radio>
          </p>
        </label>
      </ion-card>
    </ion-col>
  </ion-row>
  <p *ngIf="!options">Bước tiếp theo</p>
</ion-content>