<ion-content class="setting_general_content">
  <ion-list class="setting_general_list">
    <ion-item class="setting_general_item" (click)="changeLanguage()">
      <div class="setting_general_title">Ngôn Ngữ</div>
      <div class="setting_general_description">{{languageResult}}</div>
    </ion-item>
    <ion-item class="setting_general_item" (click)="logout()">
      <div class="setting_general_title">Đăng xuất khỏi Amely</div>
      <div class="setting_general_description">Đăng xuất tài khoản của số điện thoại hiện thời</div>
    </ion-item>
    <ion-item class="setting_general_item">
      <div class="setting_general_title">Thông tin ứng dụng</div>
      <div class="setting_general_description">Version 1.0</div>
    </ion-item>
  </ion-list>
</ion-content>
