<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Thiết lập</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list>
    <ion-item>
      <b>Ngôn Ngữ</b>
      <p>Tiếng Việt</p>
    </ion-item>
    <ion-item>
      <b>Đăng xuất tài khoản</b>
      <p>Đăng xuất tài khoản liên quan đến số điện thoại cụ <br> thể </p>
    </ion-item>
    <ion-item>
      <b>Thông tin ứng dụng</b>
      <p>Version 1.0</p>
    </ion-item>
  </ion-list>
</ion-content>
