<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Thiết lập</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list>
    <ion-item>
      <b>Ngôn Ngữ</b>
      <p>Tiếng Việt</p>
    </ion-item>
    <ion-item>
      <b>Thông tin tài khoản gốc</b>
      <p>Tạo cập nhật thông tin thiết yếu tài khoản SQ.</p>
    </ion-item>
    <ion-item>
      <b>Thông tin tài khoản chủ shop</b>
      <p>Thông tin khách hàng là chủ cửa hàng cá nhân.</p>
    </ion-item>
    <ion-item>
      <b>Mã QR</b>
      <p>Mã QR tài khoản cá nhân.</p>
    </ion-item>
  </ion-list>
</ion-content>