app-shops {
    .navbar_cart {
        margin: 0px 7px 0px 0px;
        font-size: 21px;
    }

    .navbar_sent {
        margin: 2px 7px 0px 0px;
        font-size: 26px;
    }

    .scroll-content {
        padding: 0px 0px 60px 0px !important;
    }

    .shops_slides {
        height: 150px;

        .shops_slides_image {
            // width: 100%;
            // max-width: 100%;
            // height: auto;
            // max-height: 100%;
        }
    }

    .thumb-img {
        padding: 10px;
    }
}