<ion-header>
  <ion-navbar swipeBackEnabled="true" hideBackButton>
    <ion-buttons start>
      <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <div class="ion_navbar_title">rút tiền</div>
    </ion-buttons>

    <ion-buttons end>
      <button class="withdrawn_payment_next" ion-button icon-only (click)="changePage()">
        Tiếp Tục <ion-icon ios="md-arrow-forward" md="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="withdrawn_payment_content">
  <ion-row class="withdrawn_payment_notice">
    <ion-col col-6>Tối thiểu :{{showLimitAmount(true)}}</ion-col>
    <ion-col col-6>Tối đa: {{showLimitAmount(false)}} </ion-col>
  </ion-row>

  <ion-row>
    <ion-input class="withdrawn_payment_balance" [(ngModel)]=amount type="number" placeholder="Nhập số tiền muốn rút"></ion-input>
  </ion-row>
  
  <ion-row>
    <ion-list class="withdrawn_payment_method" radio-group [(ngModel)]="payment_selected">
      <ion-item *ngFor="let payment_method of payment_methods">
        <ion-thumbnail item-start>
          <img width="100%" src="assets/imgs/logo.png" />
        </ion-thumbnail>
        <ion-radio value="{{ payment_method.filename }}" item-end></ion-radio>
        <ion-label>{{ payment_method.displayname }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-row>
</ion-content>