<ion-header>
  <ion-navbar>
    <ion-title>ABCDEF</ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">
  <ion-row>
    <ion-col col-12>
      <img src="assets/imgs/logo.png" alt="ionic logo" width="100%">
    </ion-col>
  </ion-row>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col col-12>
          ABCDEF
        </ion-col>
        <ion-col col-12>
          123.456 VND
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
        Thông tin cửa hàng
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col col-6>
            Tên cửa hàng
          </ion-col>
          <ion-col col-6>
            vipn600
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            Địa chỉ cửa hàng
          </ion-col>
          <ion-col col-6>
            quận 12
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            Số điện thoại
          </ion-col>
          <ion-col col-6>
            789456321
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            Mã số thuế
          </ion-col>
          <ion-col col-6>
            123456789
          </ion-col>
        </ion-row>
      </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <button ion-button block color="danger">
      Mua
  </button>
</ion-footer>