<ion-header>
  <ion-navbar>
    <ion-title *ngIf="product">{{product.title}}</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="changePage()">
      <ion-icon style="font-size: 35px;" name="cart">
        <ion-badge style="position: relative; bottom: 20px; right: 11px; font-size: 12px;" color="danger" *ngIf="count_product">
        {{ count_product }}</ion-badge>
      </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content" *ngIf="product">
  <ion-row>
    <ion-col col-12 *ngIf="product.images_entities">
      <img imageViewer *ngIf="product.images_entities[product.images[0]]" src="{{product.images_entities[product.images[0]]}}" alt="ionic logo"
        width="100%">
    </ion-col>
    <ion-col col-12 *ngIf="!product.images_entities">
      <img imageViewer *ngIf="product.images[0]" src="{{ product.images[0] }}" alt="ionic logo" width="100%">
      <img imageViewer *ngIf="!product.images[0]" src="assets/imgs/image_not_found.jpg" alt="ionic logo" width="100%">
    </ion-col>
  </ion-row>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col col-12>
          {{product.title}}
        </ion-col>
        <ion-col col-12>
          {{formatCurrency(product.price,product.currency)}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="shop">
    <ion-card-header>
      Thông tin cửa hàng
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-6>
          Tên cửa hàng
        </ion-col>
        <ion-col col-6>
          {{shop.owner_name}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          Địa chỉ cửa hàng
        </ion-col>
        <ion-col col-6>
          {{shop.owner_address}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          Số điện thoại
        </ion-col>
        <ion-col col-6>
          {{shop.owner_phone}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          Mã số thuế
        </ion-col>
        <ion-col col-6>
          {{shop.shop_bidn}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <button ion-button block color="danger" (click)="putCartLocal(product)">
    Thêm vào giỏ hàng
  </button>
</ion-footer>