<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start>
      <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <div class="ion_navbar_title">lịch sử giao hàng</div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="history_delivery_container">

  <!-- CODE CU -->
  <!-- <ion-list class="history_delivery_list" *ngIf="dos">
    <ion-item class="history_delivery_item" *ngFor="let do of dos " (click)="openDetail(do)">
      <ion-thumbnail item-left>
        <img class="history_delivery_img" src="{{do.product.images[0]}}" onError="this.src='assets/imgs/image_not_found.jpg';">
      </ion-thumbnail>
      <h2 class="history_delivery_title">
        <img *ngIf='do.shipping_method=="sq/express"' class="history_delivery_icon" src="assets/imgs/vector_giao_hang_nhanh-01.png">
        <img *ngIf='do.shipping_method=="sq/standard"' class="history_delivery_icon" src="assets/imgs/vector_giao_hang_thuong-01.png">
        {{do.product.title}}
      </h2>

      <div class="history_delivery_row" (click)="openShop(do.product.shop)">
        Cửa hàng: <span class="history_delivery_text">{{do.product.shop.title}}</span>
      </div>

      <div class="history_delivery_row">
        Ngày tạo: {{convertDate(+do.time_created) | date:'dd/MM/yyyy'}}
      </div>
      
      <div class="history_delivery_row">
        Trạng thái: 
        <span *ngIf="do.status=='new'" class="history_delivery_text">Chờ duyệt</span>
        <span *ngIf="do.status=='approved'" class="history_delivery_text">Đã duyệt</span>
      </div>
    </ion-item>
  </ion-list> -->

  <!-- CODE MOI -->
  <ion-list>
    <ion-item *ngFor="let tran of transactions " (click)="openDetail(tran)">
      <div>
        Đơn hàng số {{tran.related_guid}}
      </div>
    <div class="history_delivery_row">
      Ngày tạo: {{convertDate(+tran.time_created) | date:'dd/MM/yyyy'}}
    </div>
      <div class="history_delivery_row">
        Phí giao hàng: {{ formatSalePriceShow( tran.quantity, "VND") }}
      </div>
    </ion-item>
  </ion-list>
</ion-content>