@import "node_modules/ladda/css/ladda-themed";
.header-ios {
    .toolbar-background-ios {
        background: #00bdf2;
        color: #fff;
    }
    .ion_navbar_box {
        float: left;
    }
}

.toolbar-ios {
    padding-top: calc(0px + 4px) !important;

    .ion_navbar_icon {
        color: #fff;
        font-size: 2.4rem;
        margin: 0px 0px 0px 3px;
    }
}

.ion_navbar_title {
    font-size: 1.8rem;
    vertical-align: unset;
    margin: 6px 0px 0px 5px;
    font-family: -apple-system, "Helvetica Neue", "Roboto", sans-serif;
    text-transform: capitalize;
    float: left;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 15rem;
    white-space: nowrap;
}

.title-ios {
    padding-top: 0px !important;

    .toolbar-title-ios {
        color: #fff;
        text-transform: capitalize;
    }
}

#top_navigation_iphone6s {
    top: 84px;
}

#top_navigation_iphone7plus {
    top: 44px;
}

#top_navigation_iphonex {
    top: 44px;
}