 .toolbar-background-ios {
        background-color:#488AFF;
    }
    .toolbar-title-ios {
        color: white;
        text-align: left;
        text-transform: uppercase;
        margin: 2px 0px 0px 0px;
        font-weight: 400;
    }
    .button-inner {
        color: white;
    }
    .toolbar-ios ion-title {
        padding: 0 60px 1px;
    }