app-feed{
    .item-ios ion-avatar[item-start] {
        margin-right: 0px;
    }

    .feed_title {
        display: inline-block;
        font-size: 15px;
    }

    .label-ios {
        position: relative;
    }

    .feed_event {
        position: absolute;
        top: 0px;
        right: 0px;
        text-align: right;
    }

    .feed_mood {
        text-align: left;
        display: inline;
        color: #666;
        font-size: 15px;
        margin: 0px 0px 0px 1px;
        text-transform: lowercase;
    }

    .feed_item {
        margin: 0px !important;
    }

    #iconMood {
        width: 12px;
        height: 12px;
        display: inline-block;
    }

    .feed_date {
        font-size: 12px;
        margin: 2px 0px 0px 0px;
    }

    .card-content-ios {
        padding: 10px 5px 5px 3px;
        white-space: normal;
        clear: both;
        margin: 0px;
        
        p {
            line-height: 20px;
            color: #4a4d54;
        }
    }

    .list-ios > .item-block:first-child {
        border: 0px none;
    }

    .feed_wallphoto {
        margin: 5px 0px 0px 0px;
    }

    .feed_wallphoto .item-ios, .feed_wallphoto .label-ios {
        margin: 0px 2px 0px 2px;
    }

    .feed_interactive {
        padding: 0px;
        margin: 5px 0px 0px 0px;
    }

    .feed_tag {
        width: 100%;
    }

    .feed_tag_detail {
        float: left;
        margin: 0px !important;
        font-size: 14px;
        padding: 0px !important;
    }

    .clearfix {
        clear: both;
    }

    .wallphoto_quantity_1 {
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        width: 100%;
        height: 240px;
    }

    .wallphoto_quantity_2 {
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        width: 49%;
        float: left;
        margin: 0px 1px 0px 1px;
        height: 240px;
    }

    .wallphoto_quantity_3:first-child {
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        float: left;
        width: 49%;
        margin: 0px 2px 0px 0px;
        overflow: hidden;
        height: 240px;
    }
    
    .wallphoto_quantity_3 {
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        float: left;
        width: 50%;
        padding: 0px;
        overflow: hidden;
        height: 119px;
        margin: 0px 0px 2px 0px;
    }

    .wallphoto_quantity_4:first-child {
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        width: 100%;
        height: 150px;
        clear: both;
        float: none;
        overflow: hidden;
        margin: 0px 0px 1px 0px;
    }

    .wallphoto_quantity_4 {
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        width: 33%;
        height: 90px;
        float: left;
        overflow: hidden;
        margin: 0px 1px 0px 0px;
    }

    .wallphoto_quantity_5:first-child {
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        width: 100%;
        height: 200px;
        clear: both;
        float: none;
        overflow: hidden;
        margin: 0px 0px 1px 0px;
    }

    .wallphoto_quantity_5 {
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        width: 33%;
        height: 100px;
        float: left;
        overflow: hidden;
        margin: 0px 1px 0px 0px;
        position: relative;

        .wallphoto_col_more {
            position: absolute; 
            top: 0px; 
            left: 0px; 
            width: 100%; 
            height: 100%; 
            color: #fff; 
            text-align: center; 
            z-index: 1; 
            font-size: 25px; 
            font-weight: bold; 
            padding: 30% 0px 0px 0px; 
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    .feed_share_info {
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 1px 7px 7px 9px !important;
    }
}