<ion-card style="margin: 12px 0px; width: 100%">
  <ion-item>
    <ion-avatar item-start>
      <img src="test">
    </ion-avatar>
    <ion-row>
      <ion-col col-10>
        <h2>dasd</h2>
        <!-- <time>{{ post.time_created | amTimeAgo }}</time> -->
      </ion-col>
      <ion-col col-2>
          <ion-icon name="more" (click)="openPopover($event)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-list *ngIf="wallphotos">
    <ion-item *ngFor="let wallphoto of wallphotos">
      <img width="100%"  src="{{ wallphoto }}" >
    </ion-item>
  </ion-list>
  
  <ion-card-content style="white-space: initial;">
    {{ description }}
  </ion-card-content>
  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <!-- <div>{{ post.likes }} Thích</div> -->
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <!-- <div>{{ post.comments }} Bình luận</div> -->
      </button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
 
</ion-card>