app-feed{
    ion-avatar img  {
        width:100% !important;
        height : 100% !important;
        max-width: 13vw !important;  //any size
        max-height: 13vw !important; //any size
    }
   
    #icLikeComment{
        width: 15px;
        height: 15px;
    }

    .row{
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .textHeader{
        font-size: 5vw;
    }

     .textTimeLocation{
        font-size: 3vw;
    }

    .textContent{
        font-size: 4vw;
    }

    .content-description {
        white-space: initial;
    }
    .social-cards ion-col {
        padding: 0;
    }
}