<!-- CONTENT -->
<ion-row class="textContent" no-padding>
  <ion-avatar item-start>
    <img src="assets/imgs/background.jpg">
  </ion-avatar>
  <h2 class="textHeader">{{numbers}}</h2>
  <p class="textTimeLocation">2 phut truoc - 1 To ky,Tan Chanh Hiep, Quan 12,Ho Chi Minh,Viet Nam</p>
  <ion-col col-12 no-padding class="content-description">
      Features Works with iOS, Android and Windows Phone. Works for user profile pages, user settings pages Easy to include
      in your existing app. The component is very easy to use. This component contains an easy to use component. It comes
      with several full examples and explanations. This component has well structured html, css and js files and is heavily
      ommented, so that it is easy to edit, add your style, etc.
  </ion-col>

  <ion-col col-12 no-padding>
    <img width="100%" height="300vw" src="assets/imgs/background.jpg" />
  </ion-col>

  <!-- TAG -->
  <ion-col col-12 >
    -
    <a>Nguyen Minh Quan ,</a>
    <a>Nguyen Minh Quan</a>
  </ion-col>

  <!-- LIKE - COMMNET -->
  <ion-col col-12 >
    <ion-col col-6>
      <img style="float: left" width="20vw" height="20vw" src="assets/imgs/ic_like.png" /> <div style="float: left;margin:2px 0 0 5px">0</div>
    </ion-col>
    <ion-col col-6>
      <img  style="float: left;margin-left: 5px" width="20vw" height="20vw" src="assets/imgs/ic_chat.png" /> <div style="float: left;margin:2px 0 0 5px">Phản hồi</div>
    </ion-col>
  </ion-col>
</ion-row>

