<ion-card>
  <ion-item>
    <ion-avatar item-start>
      <img (click)="goToUserProfile(user.guid)" src="{{ user.avatar }}">
    </ion-avatar>
    <h2 class="feed_title">{{ user.username }}<span *ngIf="post.owner_title && type=='user'" (click)="openOwner()"> > {{post.owner_title}}</span></h2>
    <ion-col class="feed_mood item-inner" *ngIf="mood">
      <span>{{mood.title}}</span>
      <img id="iconMood" src="{{mood.image}}">
    </ion-col>
    <p class="feed_date">{{ convertDate(post.time_created) | amTimeAgo }}</p>
    <p class="feed_date" *ngIf="location">{{location}}</p>
    <ion-col class="feed_event" col-2>
      <ion-icon name="more" (click)="openPopover($event)"></ion-icon>
    </ion-col>

  </ion-item>

  <ion-list class="feed_wallphoto" *ngIf="hasWallPhoto">
    <ion-item *ngFor="let wallphoto of post.wallphoto">
      <img width="100%" src="{{ wallphoto }}" imageViewer>
    </ion-item>
  </ion-list>

  <ion-card-content (click)="openFeedDetail()">
    <p>{{ descriptionPost }}</p>
  </ion-card-content>

  <ion-row *ngIf="userTag">
    <div class="feed_tag" *ngIf="isHideMoreTag; else elseSubArr">
      <ion-item class="feed_tag_detail" *ngFor="let user of userTag">
        <a>{{user.first_name}} {{user.last_name}},</a>
      </ion-item>
    </div>

    <ng-template #elseSubArr>
      <div>
        <div *ngFor="let user of subArrUserTag" style="float: left">
          <a style="color: black;margin-right: 5px">{{user.first_name}} {{user.last_name}},</a>
        </div>
        <a *ngIf="isShowMoreTag">+{{userTag.length-3}}</a>
      </div>
    </ng-template>
  </ion-row>

  <ion-row class="feed_interactive">
    <ion-col>
      <button ion-button icon-left clear small (click)="likeFeed()">
        <ion-icon color="danger" id="icLikeComment" *ngIf="post.liked" name='ios-heart'></ion-icon>
        <ion-icon color="danger" id="icLikeComment" *ngIf="!post.liked" name='ios-heart-outline'></ion-icon>
        {{ +post.likes }} thích
      </button>
    </ion-col>

    <ion-col>
      <button ion-button icon-left clear small (click)="changePage()">
        <ion-icon color="primary" id="icLikeComment" name='ios-text'></ion-icon>
        {{ post.comments }} bình luận
      </button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-card>