<ion-header>
  <ion-navbar>
   <button ion-button icon-only menuToggle>
     <ion-icon name="menu"></ion-icon>
   </button>

   <ion-title>
     Phương thức vận chuyển
   </ion-title>

   <ion-buttons end>
     <button ion-button icon-only (click)="changePage()">
       Next <ion-icon name="arrow-forward"></ion-icon>
     </button>
   </ion-buttons>
 </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <div style="background-color: #fff;">
    <ion-list radio-group [(ngModel)]="shipping_selected">
      <ion-item *ngFor="let shipping_method of shipping_methods" (click)="shipping_method_selected(shipping_method.filename)" >
        <ion-thumbnail item-start>
          <img width="100%" src="assets/imgs/logo.png" />
        </ion-thumbnail>
        <ion-radio value="{{ shipping_method.filename }}" item-end></ion-radio>
        <ion-label>{{ shipping_method.displayname }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
