<ion-content class="outer-content" style="height: 90%; top: 102px;">
  <ion-list>
    <ion-item class="events_item" *ngFor="let event of events" (click)="goToPage(event.guid)">
      <ion-row>
        <ion-col col-3>
          <img width="100%" src="{{event.avatar}}" />
        </ion-col>
        <ion-col col-9>
          {{event.title}}
          <br> {{getDateCreate(event.time_created) | date:'dd/MM/yyyy'}}
          <br> Chủ sự kiện :{{getFullname(event.owner_guid)}}
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
<ion-fab right bottom (click)="createEvent()">
  <button ion-fab color="danger" style="bottom: 50px">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>