app-events-user {

    .scroll-content {
        padding-top: 0px !important;
    }

    .events_container {
        height: 90%;
        top: 124px;
    }

    .events_item {
        margin: 0px;
        padding: 0px 0px 5px 12px;
        border-bottom: 1px solid #c8c7cc;
    }

    .events_item .item-inner {
        border-bottom: none !important;
    }

    .events_title {
        text-transform: capitalize;
        font-size: 18px;
        color: #333;
        margin: 3px 0px 5px 0px;
        white-space: nowrap;
        max-height: 40px;
        overflow: hidden;
        padding: 3px 0px 0px 7px;
        margin: 0px 0px 0px 5px;
        text-overflow: ellipsis;
    }

    .events_date {
        font-size: 14px;
        color: #999;
        margin: 5px 0px 5px 5px;
    }

    .events_author {
        color: #f0ad4e;
        font-size: 14px;
        margin: 0px 0px 0px 5px;
    }

    .events_image {
        max-height: 75px;
        overflow: hidden;
    }

    .event_user_status {
        font-size: 1.4rem;
        color: #666;
        text-align: right;
        font-style: italic;
    }

    .events_user_fab {
        bottom: 50px;
        background-color: #f0ad4e;

        ion-icon {
            font-weight: bold;
        }
    }

    .fakeItem {
        h2, h3, p {
            background: linear-gradient(to right, lightgray, white, lightgray);
            animation: skeleton 2s infinite;
            animation-timing-function: cubic-bezier(0.36,0.66,0.04,1);
            background-repeat: no-repeat;
            background-position-x: -300px;
            background-position-y: 0;
            background-color: lightgray;
            opacity: 0.5;
            height: 1em;
            margin-top: 10px;
        }
    
        h2 {
            max-width: 95px;
        }
    
        h3 {
            max-width: 125px;
        }
    
        p {
            max-width: 250px;
        }
    }

    .divCustom{
        background: linear-gradient(to right, lightgray, white, lightgray);
        animation: skeleton 2s infinite;
        animation-timing-function: cubic-bezier(0.36,0.66,0.04,1);
        background-repeat: no-repeat;
        background-position-x: -300px;
        background-position-y: 0;
        background-color: lightgray;
        opacity: 0.5;
        height: 6em;
        width: 95px;
    }

    @keyframes skeleton {
        0% {
            background-position-x: -150px;
        }
        100% {
            background-position-x: 150px;
        }
    }
}