app-payment-receiver-info{
    .payment_receiver_next {
        color: #fff;

        .ion-icon {
            font-size: 2.4rem;
            margin: 0px 0px 0px 7px;
        }
    }

    .payment_receiver_content {
        background-color: #fff;
    }
}
