<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Thông tin người nhận
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="changePage()">
        Next
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content class="outer-content">
  <div style="background-color: #fff;" *ngIf="is_show" >
    <ion-list>

      <ion-item>
        <ion-label stacked>Họ tên</ion-label>
        <ion-input type="text" [(ngModel)]="shipping_fullname" name="shipping_fullname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Số điện thoại</ion-label>
        <ion-input type="text" [(ngModel)]="shipping_phone" name="shipping_phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Địa chỉ</ion-label>
        <ion-input type="text" [(ngModel)]="shipping_address" name="shipping_address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Ghi chú</ion-label>
        <ion-input type="text" [(ngModel)]="shipping_note" name="shipping_note"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Thành phố / Tỉnh</ion-label>
        <ion-select *ngIf="provinces" [(ngModel)]="shipping_province" name="province" (ionChange)="onProvinceChange($event)">
          <ion-option *ngFor="let province of provinces" value="{{ province.provinceid }}">{{ province.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Quận / Huyện</ion-label>
        <ion-select *ngIf="districts" [(ngModel)]="shipping_district" name="district" (ionChange)="onDistrictChange($event)">
          <ion-option *ngFor="let district of districts" value="{{ district.districtid }}">{{ district.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Phường / Xã</ion-label>
        <ion-select *ngIf="wards" [(ngModel)]="shipping_ward" name="ward" (ionChange)="onWardChange($event)">
          <ion-option *ngFor="let ward of wards" value="{{ ward.wardid }}">{{ ward.name }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

  </div>

  <div *ngIf="!is_show"  style="background-color: #fff;">
    Chọn bước tiếp theo
  </div>
</ion-content>