app-inventory-menu{

    .ladda-button {
        background-color: #fff;
        color: #000;
        border-radius: 2px;
        border-bottom: 1px solid #c8c7cc;
        padding-left: 8px !important;

        .item-inner {
            border-bottom: none !important;
        }
    }

    .inventory_menu_wallet {
        width: 20px;
        height: auto;
        vertical-align: middle;
        margin: 0px 4px 0px 2px;
    }

    .inventory_menu_payment {
        width: 28px;
        height: auto;
        vertical-align: middle;
    }

    span {
        vertical-align: middle;
        font-size: 1.5rem;
    }
    
    .ladda-button:hover {
        background-color: #fff;
    }

    .inventory_menu_history {
        border-bottom: none !important;
        padding-left: 0px !important;

        .item-inner {
            padding-left: 7px;
        }
    }

    .inventory_menu_icon {
        font-size: 2.4rem;
        margin: 0px 5px 0px 5px;
    }

    .list-ios {
        margin: 0px 0 7px;
    }

    .label-ios {
        margin: 3px 0px 3px 0px;
    }
}