app-shopping-menu {
    .list-ios {
        margin: 0px;
    }

    .shopping_menu_item {
        padding: 0px !important;

        .shopping_menu_history {
            width: 30px;
            height: 30px;
            vertical-align: middle;
        }

        span {
            vertical-align: middle;
            font-size: 1.5rem;
            color: #333;
        }

        .item-inner {
            padding: 0px 5px 0px 12px;
        }
    }

    .shopping_menu_item:last-child {
        border-bottom: none !important;
    }
}