<ion-slides *ngIf="banners && banners.length" autoplay="4000" loop="true" class="shops_slides">
  <ion-slide *ngFor="let b of banners" (click)='openBanner(b)'>
    <img class="shops_slides_image" src="{{b.banner_url}}" onError="this.src='assets/imgs/image_not_found.jpg';">
  </ion-slide>
</ion-slides>

<!-- <ng-template #other_content>
<ion-slides loop="true" class="shops_slides">
  <ion-slide *ngFor='let fake of [3,3,3,3,3,3]'>
    <div style="width: 100%;" class='fakeItem'>
      <div class="divCustom"></div>
    </div>
  </ion-slide>
</ion-slides>
</ng-template> -->