<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Kho</ion-title>
  </ion-navbar>
</ion-header>

<ion-tabs tabsPlacement="top">
  <ion-tab [root]="tabInventoryPrivate" tabTitle="KHO CÁ NHÂN" tabIcon="inventory-personal"></ion-tab>
  <ion-tab [root]="tabInventoryPublic" tabTitle="KHO CHUNG" tabIcon="inventory-general"></ion-tab>
  <ion-tab [root]="tabInventoryHistory" tabTitle="LỊCH SỬ" tabIcon="inventory-history"></ion-tab>
</ion-tabs>
