app-inventories{
   
    .tabs-ios {
        a[aria-selected=false]{
            .tab-button-icon[ng-reflect-name=inventory-personal], .tab-button-icon[aria-label=inventory-personal] {
            background-image: url(../assets/imgs/ic_inventory_personal.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
        a[aria-selected=true] {
            color: #488aff;
            border-bottom: 1px solid #488aff;
            
            .tab-button-icon[ng-reflect-name=inventory-personal], .tab-button-icon[aria-label=inventory-personal] {
            background-image: url(../assets/imgs/ic_inventory_personal_actived.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
    }

    .tabs-ios {
        a[aria-selected=false]{
            .tab-button-icon[ng-reflect-name=inventory-general], .tab-button-icon[aria-label=inventory-general] {
            background-image: url(../assets/imgs/ic_inventory_general.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
        a[aria-selected=true] {
            color: #488aff;
            border-bottom: 1px solid #488aff;

            .tab-button-icon[ng-reflect-name=inventory-general], .tab-button-icon[aria-label=inventory-general] {
            background-image: url(../assets/imgs/ic_inventory_general_actived.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
    }
    
    .tabs-ios {
        a[aria-selected=false]{
            .tab-button-icon[ng-reflect-name=inventory-history], .tab-button-icon[aria-label=inventory-history] {
            background-image: url(../assets/imgs/ic_inventory_history.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
        a[aria-selected=true] {
            color: #488aff;
            border-bottom: 1px solid #488aff;

            .tab-button-icon[ng-reflect-name=inventory-history], .tab-button-icon[aria-label=inventory-history] {
            background-image: url(../assets/imgs/ic_inventory_history_actived.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
    }

    .tabs-ios {
        top: 64px;
    }

    .tabs-ios .tab-button {
        padding: 0px 0px 5px 0px;
    }

    .tabs-ios .tab-button-icon {
        margin-top: 5px;
        margin-bottom: 3px;
        min-width: 35px;
        height: 30px;
        font-size: 30px;
        color: #8c8c8c;
    }

    .inventory_tab {
        padding: 0px 0px 5px 0px;
    }

    .inventory_action_btn {
        margin: 0px 12px 0px 12px;
    }

} 