app-inventories{

    .toolbar-background-ios {
        background: #00bdf2;
        color: #fff;
    }

    .bar-button-ios {
        margin: 0px 10px 0px 0px;
        color: #fff;
    }

    .toolbar-title-ios {
        color: #fff;
        line-height: 20px;
    }
   
    .tabs-ios {
        a[aria-selected=false]{
            .tab-button-icon[ng-reflect-name=inventory-personal], .tab-button-icon[aria-label=inventory-personal] {
            background-image: url(../assets/imgs/ic_inventory_personal.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
        a[aria-selected=true] {
            color: #488aff;
            border-bottom: 1px solid #488aff;
            
            .tab-button-icon[ng-reflect-name=inventory-personal], .tab-button-icon[aria-label=inventory-personal] {
            background-image: url(../assets/imgs/ic_inventory_personal_actived.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
    }

    .tabs-ios {
        a[aria-selected=false]{
            .tab-button-icon[ng-reflect-name=inventory-general], .tab-button-icon[aria-label=inventory-general] {
            background-image: url(../assets/imgs/ic_inventory_general.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
        a[aria-selected=true] {
            color: #488aff;
            border-bottom: 1px solid #488aff;

            .tab-button-icon[ng-reflect-name=inventory-general], .tab-button-icon[aria-label=inventory-general] {
            background-image: url(../assets/imgs/ic_inventory_general_actived.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
    }
    
    .tabs-ios {
        a[aria-selected=false]{
            .tab-button-icon[ng-reflect-name=inventory-history], .tab-button-icon[aria-label=inventory-history] {
            background-image: url(../assets/imgs/ic_inventory_history.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
        a[aria-selected=true] {
            color: #488aff;
            border-bottom: 1px solid #488aff;

            .tab-button-icon[ng-reflect-name=inventory-history], .tab-button-icon[aria-label=inventory-history] {
            background-image: url(../assets/imgs/ic_inventory_history_actived.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            }
        }
    }

    .tabs-ios .tab-button {
        padding: 0px 0px 5px 0px;
    }

    .tabs-ios .tab-button-icon {
        margin-top: 5px;
        margin-bottom: 3px;
        min-width: 35px;
        height: 30px;
        font-size: 30px;
        color: #8c8c8c;
    }

    .inventory_tab {
        padding: 0px 0px 5px 0px;
    }

    .inventory_action_btn {
        margin: 0px 12px 0px 12px;
    }

    #top_navigation_default {
        top: 64px;
    }

    #top_navigation_iphonex {
        top: 44px;
    }

    .inventories_more {
        font-size: 18px;
    }

    .inventories_searchbar {
        color: #fff;
        min-height: 30px;
    }

    .searchbar-input {
        background: rgba(255, 255, 255, 1) !important;
    }

    .inventories_search_box {
        font-size: 18px;
        color: #fff;
    }
} 