<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!is_search_show">Kho Quà</ion-title>
    <ion-searchbar [(ngModel)]="search_content" *ngIf="is_search_show"></ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)="search()" style="font-size: 18px;">
        <ion-icon name="ios-search"></ion-icon>
      </button>
      <button class="inventory_action_btn" ion-button (click)="openPopover($event)" style="font-size: 18px;">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-tabs tabsPlacement="top" [id]="check_screen">
  <ion-tab [root]="tabInventoryPrivate" tabTitle="KHO CÁ NHÂN" tabIcon="inventory-personal"></ion-tab>
  <ion-tab [root]="tabInventoryPublic" tabTitle="KHO CHUNG" tabIcon="inventory-general"></ion-tab>
  <ion-tab [root]="tabInventoryHistory" tabTitle="LỊCH SỬ" tabIcon="inventory-history"></ion-tab>
</ion-tabs>
