app-add-friend {
    .tab-button:first-child {
        border-right: 1px solid #ddd;
    }

    .add_friend_container {
        .tabbar {
            background-color: #fff;
        }

        .tab-button {
            padding: 5px 0px 7px 0px;
        }

        .tab-button-text {
            font-size: 1.2rem;
            text-transform: capitalize;
        }
    }

    .tabs-ios .tab-button[aria-selected=true] {
        color: #00bdf2;
        border-bottom: 1px solid #00bdf2;

        ion-icon {
            color: #00bdf2 !important;
        }
    }
}