<ion-content class="outer-content">
  <ion-list class="setting_general_list">
    <ion-item class="setting_general_item" (click)="openProfile()">
      <div class="setting_general_title">Thông tin tài khoản gốc</div>
      <div class="setting_general_description">Tạo cập nhật thông tin thiết yếu tài khoản SQ</div>
    </ion-item>

    <ion-item class="setting_general_item" (click)="openShop()">
      <div class="setting_general_title">Thông tin tài khoản chủ shop cá nhân</div>
      <div class="setting_general_description">Thông tin khách hàng là chủ cửa hàng cá nhân</div>
    </ion-item>
    
    <ion-item class="setting_general_item" (click)="openSQCard()">
      <div class="setting_general_title">Thông tin thẻ thành viên</div>
      <div class="setting_general_description">Đăng ký, xem thông tin thẻ thành viên Amely</div>
    </ion-item>
    
    <ion-item class="setting_general_item" (click)="createCode()">
      <b>Mã QR</b>
      <p>Quét (scan), đổi, chia sẻ mã QR</p>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="code_qr">
    <ngx-qrcode [qrc-value]="code_qr"></ngx-qrcode>
  </ion-card>
</ion-content>