<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <!-- CHANGE PASS -->
    <ion-label padding-left class="labelHeader">Đổi mật khẩu</ion-label>
    <ion-item>
      <ion-label class="labelContent">Mật khẩu tối đa 8 ký tự , phân biệt chữ hoa thường. </ion-label>
    </ion-item>
    <!-- END CHANGE PASS -->

    <!-- CHANGE LOG OUT -->
    <ion-label padding-left class="labelHeader">Đăng xuất</ion-label>
    <ion-item>
      <ion-label class="labelContent">Đăng xuất khỏi ứng dụng.</ion-label>
    </ion-item>
    <!-- END LOG OUT-->

    <!-- CHANGE PHONE NUMBER -->
    <ion-label padding-left class="labelHeader">Đổi số điện thoại</ion-label>
    <ion-item>
      <ion-label class="labelContent">Chuyển dữ liệu sang số điện thoại mới.</ion-label>
    </ion-item>
    <!-- END CHANGE PHONE NUMBER -->

  </ion-list>
</ion-content>