<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Thiết lập</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list>
    <ion-item>
      <b>Đổi mật khẩu</b>
      <p>Mật khẩu tối đa 8 ký tự , phân biệt chữ hoa thường.</p>
    </ion-item>
    <ion-item>
      <b>Đổi số điện thoại</b>
      <p>Chuyển dữ liệu sang số điện thoại mới.</p>
    </ion-item>
    <ion-item>
      <b>Đăng xuất</b>
      <p>Đăng xuất khỏi ứng dụng.</p>
    </ion-item>
  </ion-list>
</ion-content>