<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Kho</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  <ion-row style="background-color: #fff; font-size: 20px">
    <ion-col col-3>
      {{inventoriesItem.length}} qua
    </ion-col>
    <ion-col col-9>
      {{title}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4 *ngFor="let item of inventoriesItem" (click)="goToPage('item',item)" style="padding: 5px;">
      <div style="background-color: #fff;">
        <img *ngIf="item.product_snapshot.images"  width="100%" src="{{item.product_snapshot.images[0]}}" />
        <img *ngIf="item.product_snapshot.images== undefined"  width="100%" src="assets/imgs/image_not_found.jpg" />
        <div style="padding: 5px">
          <p no-margin>{{item.product_snapshot.title}}</p>
          <p no-margin>SL: {{item.quantity}}</p>
        </div>
      </div>
    </ion-col>
  </ion-row>

</ion-content>
<!-- <ion-footer>
  <ion-toolbar class="toolbarFooter">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button block>Sắp hết hạn dùng</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block>Sắp hết hạn lưu kho</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer> -->