<ion-header>
  <ion-navbar>
    <ion-title>Them ban</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">

  <div class="scroll-content divContent">
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <label class="divIcon">
            <ion-checkbox class="checkboxIcon"></ion-checkbox>
            <ion-icon class="iconContent" ios="ios-contact" md="md-contact"></ion-icon>
          </label>
          <ion-label>Name</ion-label>
        </ion-col>
        <ion-col col-3>
          <label class="divIcon">
            <ion-checkbox class="checkboxIcon"></ion-checkbox>
            <ion-icon class="iconContent" ios="ios-contact" md="md-contact"></ion-icon>
          </label>
          <ion-label>Name</ion-label>
        </ion-col>
        <ion-col col-3>
          <label class="divIcon">
            <ion-checkbox class="checkboxIcon"></ion-checkbox>
            <ion-icon class="iconContent" ios="ios-contact" md="md-contact"></ion-icon>
          </label>
          <ion-label>Name</ion-label>
        </ion-col>
        <ion-col col-3>
          <label class="divIcon">
            <ion-checkbox class="checkboxIcon"></ion-checkbox>
            <ion-icon class="iconContent" ios="ios-contact" md="md-contact"></ion-icon>
          </label>
          <ion-label>Name</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="scroll-content divCenter">
    <ion-label class="labelCenter">Số lượng thành viên</ion-label>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <div class="divIcon">
            <ion-icon  class="checkboxIcon" ios="md-key" md="md-key"></ion-icon>
            <ion-icon class="iconContent" ios="ios-contact" md="md-contact"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="scroll-content divBottom">
  <i>
    <ion-item>
      <ion-input type="text" placeholder="Đặt tên nhóm"></ion-input>
    </ion-item>
  </i>
  </div>
  <div class="scroll-content divFooter">
    <div class="divFooterCheckbox">
      <ion-col col-3>
        <label class="">
          <ion-checkbox class="checkboxFotter"></ion-checkbox> Tạo kho quà đồng sở hữu của nhóm
        </label>
      </ion-col>
    </div>
    <div class="">
      <ion-label class="marginLabelFooter">Lưu ý</ion-label>
      <ion-label class="marginLabelFooter2">1. Admin (avatar có gắn chìa khóa) là người phụ trách <br> nhóm.</ion-label>
      <ion-label class="marginLabelFooter2">2. Nếu nhóm có kho quà chung, Admin sẽ toàn quyền <br> thao tác với quà trong kho.</ion-label>
      <ion-label class="marginLabelFooter2">3. <a href="#">Chuyển quyền Admin</a> theo quy tắc chung của Apps.</ion-label>
    </div>
    <div class="divButtonFotter">
      <button class="buttonFotter" ion-button>Tạo nhóm</button>
    </div>
  </div>
</ion-content>
