  app-add-group {
    .divContent {
      text-align: center;
      background-color: #ffffff;
      margin-top: 10px;
      height: 125px;
    }
    .iconContent {
      font-size: 70px;
      margin-bottom: -10px;
    }
    .checkboxIcon {
      position: relative;
      top: -40px;
      left: 75px;
    }
    .divIcon {
      text-align: center;
      position: relative;
      right: 17px;
    }
    .divCenter {
      background-color: #ffffff;
      margin-top: 145px;
      height: 125px;
    }
    .labelCenter {
      margin-left: 10px;
      margin-bottom: 0px;
    }
    .checkboxIcon2 {
      position: relative;
      top: 3px;
      left: 66px;
    }
    .divBottom {
      background-color: #ffffff;
      margin-top: 280px;
      height: 60px;
    }
    .divFooter {
      background-color: #efeff4;
      margin-top: 340px;
      height: 280px;
    }
    .divFooterCheckbox {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    .checkboxFotter {
      top: 5px;
      position: relative;
    }
    .marginLabelFooter {
      margin-left: 10px;
      font-weight: bold;
      font-style: italic;
      margin-bottom: 20px;
    }
    .marginLabelFooter2 {
      margin-left: 10px;
      font-style: italic;
      color: #828282;
    }
    .divButtonFotter {
      text-align: center;
    }
    .buttonFotter {
      border-radius: 30px;
      width: 125px;
    }
  }
