<ion-header>
  <ion-navbar>
    <ion-title>Them ban</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">

  <div class="scroll-content divContent">
    <ion-grid>
      <ion-row id="row-scroll-item">
        <ion-scroll scrollX style="height:250px; margin-top: 10px">
          <div class="scroll-item">
            <ion-col *ngFor="let user of friends" (click)="chooseUser(user)">
              <div class="item-card">
                <ion-col col-3>
                  <label class="divIcon">
                    <img height="50%" src="{{user.avatar}}">
                  </label>
                  <ion-label>{{user.fullname}}</ion-label>
                </ion-col>
              </div>
            </ion-col>
          </div>
        </ion-scroll>
      </ion-row>
    </ion-grid>
  </div>
  <div class="scroll-content divCenter">
    <ion-label class="labelCenter">Số lượng thành viên</ion-label>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <div class="divIcon">
            <ion-icon class="checkboxIcon" ios="md-key" md="md-key"></ion-icon>
            <ion-icon class="iconContent" ios="ios-contact" md="md-contact"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-9>
          <ion-scroll scrollX style="height:250px; margin-top: 10px">
            <div class="scroll-item">
              <ion-col *ngFor="let user of users_choosed" (click)="removeUser(user)">
                <div class="item-card">
                  <ion-col col-3>
                    <label class="divIcon">
                      <!-- <ion-checkbox class="checkboxIcon"></ion-checkbox> -->
                      <<img height="50%" src="{{user.avatar}}">
                    </label>
                    <<ion-label>{{user.fullname}}</ion-label>
                  </ion-col>
                </div>
              </ion-col>
            </div>
          </ion-scroll>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  <div class="scroll-content divBottom">
    <i>
      <ion-item>
        <ion-input  [(ngModel)]="group_name" type="text" placeholder="Đặt tên nhóm"></ion-input>
      </ion-item>
    </i>
  </div>
  <div class="scroll-content divFooter">
    <div class="divFooterCheckbox">
      <ion-col col-3>
        <label class="">
          <ion-checkbox  [(ngModel)]="has_inventory" class="checkboxFotter"></ion-checkbox> Tạo kho quà đồng sở hữu của nhóm
        </label>
      </ion-col>
    </div>
    <div class="">
      <ion-label class="marginLabelFooter">Lưu ý</ion-label>
      <ion-label class="marginLabelFooter2">1. Admin (avatar có gắn chìa khóa) là người phụ trách
        <br> nhóm.</ion-label>
      <ion-label class="marginLabelFooter2">2. Nếu nhóm có kho quà chung, Admin sẽ toàn quyền
        <br> thao tác với quà trong kho.</ion-label>
      <ion-label class="marginLabelFooter2">3.
        <a href="#">Chuyển quyền Admin</a> theo quy tắc chung của Apps.</ion-label>
    </div>
    <div class="divButtonFotter">
      <button class="buttonFotter" ion-button (click)="createGroup()">Tạo nhóm</button>
    </div>
  </div>
</ion-content>