app-messages {
   ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
    }

    .messages_content {
        line-height: 20px;
        overflow: hidden;
        white-space: normal;
    }

    .message_date {
        line-height: 30px;
    }

    .messages_avatar {
        width: 50px !important;
        height: 50px !important;
        margin: 10px 16px 10px 0px !important;
    }

    .messages_container_user {
        margin: 3px 0px 12px 0px;
    }

    .messages_container_group {
        margin: 0px 0px 45px 0px;
        padding: 0px 0px 20px 0px;
    }

    .messages_title {
        line-height: 20px;
        overflow: hidden;
        white-space: normal;
        font-size: 13px;
    }
    .fakeItem {
     h2, h3, p {
         background: linear-gradient(to right, lightgray, white, lightgray);
         animation: skeleton 2s infinite;
         animation-timing-function: cubic-bezier(0.36,0.66,0.04,1);
         background-repeat: no-repeat;
         background-position-x: -300px;
         background-position-y: 0;
         background-color: lightgray;
         opacity: 0.5;
         height: 1em;
         margin-top: 10px;
    }
     h2 {
         max-width: 150px;
    }
     h3 {
         max-width: 200px;
    }
     p {
         max-width: 250px;
    }
  }
 .divCustom{
     background: linear-gradient(to right, lightgray, white, lightgray);
     animation: skeleton 2s infinite;
     animation-timing-function: cubic-bezier(0.36,0.66,0.04,1);
     background-repeat: no-repeat;
     background-position-x: -300px;
     background-position-y: 0;
     background-color: lightgray;
     opacity: 0.5;
    height: 70px;
    width: 70px;
    border-radius: 100px;
  }
 @keyframes skeleton {
     0% {
         background-position-x: -150px;
    }
     100% {
         background-position-x: 150px;
    }
  }
  
}