<ion-content class="chats">
  <ion-list class="messages_container_user" *ngIf="individualList">
    <ion-list-header>Cá Nhân</ion-list-header>
    <ion-item *ngFor="let individual of individualList" (click)="goToPage(individual, 'individual')">
      <ion-avatar class="messages_avatar" item-start>
        <img src="{{ individual.avatar }}" onError="this.src='assets/imgs/default-avatar-user.png'">
      </ion-avatar>
      <h2 class="messages_title">{{ individual.from }}</h2>
      <p class="messages_content">{{ individual.text }}</p>
      <ion-note class="message_date" item-end>{{ individual.time | amTimeAgo }}</ion-note>
    </ion-item>
  </ion-list>
  
  <ion-list class="messages_container_group" *ngIf="groups">
    <ion-list-header>Nhóm</ion-list-header>
    <ion-item *ngFor="let group of groups" (click)="goToPage(group, 'group')">
      <ion-avatar class="messages_avatar" item-start>
        <img src="{{ group.avatar }}" onError="this.src='assets/imgs/default-avatar-user.png'">
      </ion-avatar>
      <h2 class="messages_title">{{ group.title }}</h2>
      <p class="messages_content">{{ group.last_message }}</p>
      <ion-note item-end class="message_date">{{ group.last_time | amTimeAgo }}</ion-note>
    </ion-item>
  </ion-list>
  
  <ion-list *ngIf="!individualList && !groups">
    <ion-item *ngFor='let fake of fakeUsers' class='fakeItem'>
      <ion-row>
        <ion-col col-3>
          <div class="divCustom"></div>
        </ion-col>
        <ion-col col-9>
          <h2></h2>
          <h3></h3>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>