app-messages {
   ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
    }

    .messages_content {
        line-height: 20px;
        overflow: hidden;
        white-space: normal;
    }

    .message_date {
        line-height: 30px;
    }

    .messages_avatar {
        width: 50px !important;
        height: 50px !important;
        margin: 10px 16px 10px 0px !important;
    }

    .messages_container_user {
        margin: 3px 0px 12px 0px;
    }

    .messages_container_group {
        margin: 0px 0px 45px 0px;
        padding: 0px 0px 20px 0px;
    }

    .messages_title {
        line-height: 20px;
        overflow: hidden;
        white-space: normal;
        font-size: 13px;
    }
}