<ion-header>
  <app-layout-personal></app-layout-personal>
</ion-header>
<ion-content class="outer-content">
  <ion-list *ngIf="individualList">
    <h3>Ca nhan</h3>
    <ion-item *ngFor="let individual of individualList" (click)="goToPage(individual)">
      <ion-row>
        <ion-col col-3>
          <img width="100%" src="{{ individual.avatar }}" />
        </ion-col>
        <ion-col col-9>
          <p>{{ individual.from }}</p>
          <p>{{ individual.text }}</p>
          <p text-right style="font-size: 10px">
            <time>{{ individual.time | amTimeAgo }}</time>
          </p>
        </ion-col>
        <ion-col col-3>
          
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-list>
    <h3>Nhom</h3>
    <ion-item (click)="goToPage()">
      <ion-row>
        <ion-col col-3>
          <img width="100%" src="assets/imgs/logo.png" />
        </ion-col>
        <ion-col col-6>
          Thông tin tài khoản gốc
          <br> Khung qua may
        </ion-col>
        <ion-col col-3>
          Nov 17,2017
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
