<ion-content class="outer-content">
  <ion-list class="setting_general_list">
    <ion-item class="setting_general_item" (click)="changePass()">
      <div class="setting_general_title">Đổi mật khẩu</div>
      <div class="setting_general_description">Tối thiểu 8 ký tự gồm chữ và số, phân biệt chữ hoa.</div>
    </ion-item>

    <ion-item class="setting_general_item" (click)="changePhone()">
      <div class="setting_general_title">Cập nhật số điện thoại</div>
      <div class="setting_general_description">Đổi đăng ký từ số điện thoại sang số mới</div>
    </ion-item>
  </ion-list>
</ion-content>