<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label class="labelHeader">Tính năng và hướng dẫn.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="labelHeader">Phiên bản ứng dụng.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="labelHeader">SQ trên Facebook.</ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="labelHeader">Website : http://helloqua.com/</ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="labelHeader">Email :feedback@helloqua.com</ion-label>
    </ion-item>

  </ion-list>
</ion-content>