<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Thiết lập</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list>
    <ion-item>
      <b>Tính năng và hướng dẫn.</b>
    </ion-item>
    <ion-item>
      <b>Phiên bản ứng dụng.</b>
    </ion-item>
    <ion-item>
      <b>SQ trên Facebook.</b>
    </ion-item>
    <ion-item>
      <b>Website : http://helloqua.com/</b>
    </ion-item>
    <ion-item>
      <b>Email :feedback@helloqua.com</b>
    </ion-item>
  </ion-list>
</ion-content>