app-register {
    
    .scroll-content {
        overflow: visible;
    }

	ion-content {
		background-image: url("../assets/imgs/background.jpg");
    }
    
	ion-grid {
        height: 100%;
        justify-content: center;
    }
    
    ion-label{
       flex: none;
    }

    .register_icon {
        margin: 0px 0px 0px 5px;
        font-size: 24px;
    }

    .register_form_datetime {
        padding: 15px 8px 11px 16px;
    }

    .register_icon_title {
        opacity: 0.5;
        margin: 0px 0px 0px 20px;
    }

    .col{
        margin-bottom: -10px;
    }
    
    .register_colum {
        padding: 0px;
    }

    .register_box {
		margin-bottom: 15px;
        border-radius: 3px;
        font-size: 15px;
        height: 42px;
        background-color: #ffffff45;
        color: white;
        
        ion-item {
            background-color: transparent;
            border: none !important;
            color: white;
            font-size: 15px;
            padding: 0px 0px 0px 21px;
        }
    }
    
    .register_regulation {
        margin-bottom: 15px;
        border-radius: 3px;
        font-size: 15px;
        background-color: #ffffff45;
        color: white;
        height: 58px;

        ion-item {
            background-color: transparent;
            border: none !important;
            color: white;
            font-size: 14px;
            padding: 0px 0px 0px 21px;
            line-height: 18px;
        }
    }

    .segment-ios-secondary .segment-button{
        border-color: #289ae1;
        color: #289ae1;
    }

    .segment-ios-secondary .segment-button.segment-activated {
        color: #fff;
        background-color: #289ae1;
    }

	.item-ios.item-block .item-inner{
		border-bottom: 0px;
    }
    
	#btnLogin{
		width: 100%;
		border-radius: 50vw;
		font-size: 4vw;
		height: 10vw;
	}
	.txtRememberRegister{
		color: white;
		width: 100%;
		text-align: center;
    }
    #btnSubmit{
        font-size:1.7rem;
        color: #289ae1;
    }

    .register_regulation_content {
        white-space: normal;
        overflow: unset;
        text-overflow: unset;
        flex: unset;
    }

    .text-input:-ms-input-placeholder {
		color:white;
		opacity: 0.5;
	}

	.text-input::-webkit-input-placeholder {
		color:white;
		opacity: 0.5;
    }
    
}