<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Đăng ký</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onSubmitRegister();">
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <!-- FIRSTNAME -->
      <ion-col class="register_colum" col-12>
        <ion-item class="register_box">
          <ion-label>
            <ion-icon class="register_icon" ios="ios-person-outline" md="md-person"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="firstname" type="text" placeholder="Họ"></ion-input>
        </ion-item>
      </ion-col>
      <!-- END FIRSTNAME  -->

      <!-- LASTNAME  -->
      <ion-col class="register_colum" col-12>
        <ion-item class="register_box">
          <ion-label>
            <ion-icon class="register_icon" ios="ios-person-outline" md="md-person"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="lastname" type="text" placeholder="Tên"></ion-input>
        </ion-item>
      </ion-col>
      <!-- END LASTNAME -->

      <!-- BIRTHDAY  -->
      <ion-col class="register_colum" col-12>
        <ion-item class="register_box">
          <ion-label>
            <ion-icon class="register_icon" ios="ios-calendar-outline" md="md-calendar"></ion-icon> <span class="register_icon_title">Ngày sinh</span>
          </ion-label>
            <ion-datetime class="register_form_datetime" (ionChange)='onChangeTime($event)' [(ngModel)]="birthdate" displayFormat="YYYY-MM-DD" placeholder=""></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col class="register_colum" col-12 *ngIf="is_show_privacy">
        <ion-list class="register_regulation">
          <ion-item>
            <ion-label class="register_regulation_content">Với tài khoản dưới 13 tuổi cần có sự đồng ý của người giám hộ</ion-label>
            <ion-checkbox [(ngModel)]="privacy"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
      <!-- END BIRTHDAY -->

      <!-- GENDER -->
      <ion-col class="register_colum" col-12>
        <ion-list class="register_box">
          <ion-item>
            <ion-label>Giới Tính</ion-label>
            <ion-select [(ngModel)]="gender">
              <ion-option value="male">Nam</ion-option>
              <ion-option value="female">Nữ</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>

      </ion-col>
      <!--  END GENDER -->

      <!-- USERNAME  -->
      <ion-col class="register_colum" col-12>
        <ion-item class="register_box">
          <ion-label>
            <ion-icon class="register_icon" ios="ios-person-outline" md="md-person"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="username" type="text" placeholder="Tài khoản đăng nhập"></ion-input>
        </ion-item>
      </ion-col>
      <!-- END USERNAME -->

      <!-- PASSWORD  -->
      <ion-col class="register_colum" col-12>
        <ion-item class="register_box">
          <ion-label>
            <ion-icon class="register_icon" ios="ios-key-outline" md="md-key"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="password" type="password" placeholder="Mật khẩu"></ion-input>
        </ion-item>
      </ion-col>
      <!-- END PASSWORD -->

      <!-- REPASSWORD  -->
      <ion-col class="register_colum" col-12>
        <ion-item class="register_box">
          <ion-label>
            <ion-icon class="register_icon" ios="ios-key-outline" md="md-key"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="password_re" type="password" placeholder="Nhập lại mật khẩu"></ion-input>
        </ion-item>
      </ion-col>
      <!-- END REPASSWORD -->

      <!-- EMAIL  -->
      <ion-col class="register_colum" col-12>
        <ion-item class="register_box">
          <ion-label>
            <ion-icon class="register_icon" ios="ios-mail-outline" md="md-mail"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="email" type="email" placeholder="Email"></ion-input>
        </ion-item>
      </ion-col>
      <!-- END EMAIL -->

      <!-- REEMAIL  -->
      <!-- <ion-col class="register_colum" col-12>
        <ion-item class="register_box">
          <ion-label>
            <ion-icon ios="ios-mail-outline" md="md-mail"></ion-icon>
          </ion-label>
          <ion-input [(ngModel)]="email_re" type="email" placeholder="Nhập lại email"></ion-input>
        </ion-item>
      </ion-col> -->
      <!-- END REEMAIL -->

      <!-- NUMBER PHONE -->
      <ion-col class="register_colum" col-12>
        <ion-item class="register_box">
          <ion-label>
            <ion-icon class="register_icon" ios="ios-call-outline" md="md-call"></ion-icon>
          </ion-label>
          <ion-input type="tel" [(ngModel)]="mobilelogin" placeholder="Số điện thoại"></ion-input>
        </ion-item>
      </ion-col>
      <!-- END NUMBER PHONE -->
    </ion-row>

    <ion-row></ion-row>
  </ion-grid>
</ion-content>