app-notification {
   .item-md,.item-ios {
        padding-left:0px;

        ion-avatar img {
            width:50px;
            height:50px;
        }

        ion-avatar[item-start]{
            margin: 0px 15px 8px 0;
        }

        .number-circle{
            color:white;
            font-weight: 700;
            border-radius: 50%;
            background-color:red;
            width: 20px;height:20px;
            line-height: 20px;
            text-align: center;
        }
    }
    ion-avatar, ion-thumbnail {
        display: block;
        float: left;
        line-height: 1;
    }
    .notification_title {
        color: #333;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 15px;
        margin-bottom: 5px;
    }

    .notification_item {
        margin: 10px 0px 10px 0px;

        ion-label {
            margin-right: 0px;
        }

        .item-inner {
            padding-right: 0px !important;
        }
    }

    .ladda-button:hover{
        background: none;
    }

    .ladda-button{
        background: none;
    }

    .scroll-content {
        margin-top: 70px;
    }
}