<ion-header>
  <ion-navbar>
    <ion-title>Tặng quà</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="user_list" >
    <ion-item *ngFor="let user of user_list" (click)="changePageConfirm(user, 'user')" >
      <ion-thumbnail item-start>
        <img src="{{ user.avatar }}" onError="this.src='assets/imgs/image_not_found.jpg';">
      </ion-thumbnail>
      <h2>{{ user.fullname }}</h2>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="group_list">
    <ion-item *ngFor="let group of group_list" (click)="changePageConfirm(group, 'group')">
      <ion-thumbnail item-start>
        <img src="{{ group.avatar }}" onError="this.src='assets/imgs/image_not_found.jpg';">
      </ion-thumbnail>
      <h2>{{ group.title }}</h2>
    </ion-item>
  </ion-list>
</ion-content>