app-friends {
    .item-md,.item-ios {
        ion-avatar img {
            width:55px;
            height:55px;
        }

        ion-avatar[item-start]{
            margin: 15px 15px 15px 10px;
        }
    }

    .friends_fullname {
        font-size: 15px;
        font-weight: normal;
        color: #666;
    }

    .friends_container {
        margin: 0px;

        ion-item {
            padding: 0px 0px 0px 5px;

            ion-avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

    .friends_action {
        text-align: right;
        padding: 0px;
    }
}