app-group-menu {
    .group_menu_list {
        margin: 0px;
    }

    .group_menu_item {
        padding: 0px !important;

        .item-inner {
            padding: 0px 5px 0px 10px;

            span {
                margin: 0px;
                font-size: 1.4rem;
                vertical-align: middle;
            }
        }

        img {
            width: 25px;
            height: auto;
            margin: 0px 7px 0px 0px;
            vertical-align: middle;
        }
    }

    .group_menu_item:last-child {
        .item-inner {
            border-bottom: none;
        }
    }
}