<ion-list>

  <ion-item *ngIf="has_inventory" (click)="openInventory()">
    <ion-icon name="person"></ion-icon> Vào kho
  </ion-item>

  <ion-item *ngIf="is_owner" (click)="changeAvatarCover(true)">
    <ion-icon name="person"></ion-icon> Đổi ảnh đại diện
  </ion-item>

  <ion-item *ngIf="is_owner" (click)="changeAvatarCover(false)">
    <ion-icon name="person"></ion-icon> Đổi ảnh nền
  </ion-item>

  <ion-item *ngIf="has_inventory" (click)="openQR()">
    <ion-icon name="person"></ion-icon> Mã QR
  </ion-item>

  <ion-item *ngIf="has_inventory && is_owner" (click)="changeAdmin()">
    <ion-icon name="person"></ion-icon> Chuyển quyền admin
  </ion-item>

  <ion-item *ngIf="is_show_request_change_admin" (click)="requestChangeAdmin()">
    <ion-icon name="person"></ion-icon> Yêu cầu chuyển quyền admin
  </ion-item>

  <ion-item *ngIf="!is_owner" (click)="outGroup()">
    <ion-icon name="person"></ion-icon> Rời nhóm
  </ion-item>

  <ion-item *ngIf="is_owner && group.members.length==1" (click)="deleteGroup()">
    <ion-icon name="person"></ion-icon> Xóa nhóm
  </ion-item>

</ion-list>