<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start>
      <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <div class="ion_navbar_title">Thông tin tìm kiếm</div>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="save()">
        <ion-icon class="nearby_user_setting" name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-card>
    <ion-list radio-group [(ngModel)]="find" class="nearby_user_setting_search">
      <ion-list-header>TÌM XUNG QUANH</ion-list-header>
      <ion-item>
        <ion-label>Tất cả</ion-label>
        <ion-radio checked="true" value="all"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Nam</ion-label>
        <ion-radio value="male"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Nữ</ion-label>
        <ion-radio value="female"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Độ tuổi</ion-label>
        <ion-range dualKnobs="true" pin="true" [(ngModel)]='age' color="dark">
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label>Muốn tặng quà</ion-label>
        <ion-checkbox color="dark" [(ngModel)]="wanna_send"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Muốn nhận quà</ion-label>
        <ion-checkbox color="dark" [(ngModel)]="wanna_gift"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Muốn trao đổi quà</ion-label>
        <ion-checkbox color="dark" [(ngModel)]="wanna_trade"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Muốn hẹn hò</ion-label>
        <ion-checkbox color="dark" [(ngModel)]="wanna_date"></ion-checkbox>
      </ion-item>

    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list radio-group [(ngModel)]="can_find">
      <ion-list-header>
        Ai có thể tìm thấy bạn
      </ion-list-header>

      <ion-item>
        <ion-label>Tất cả</ion-label>
        <ion-radio checked="true" value="all"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Nam</ion-label>
        <ion-radio value="male"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Nữ</ion-label>
        <ion-radio value="female"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>