<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start>
      <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <div class="ion_navbar_title">Đăng bài viết mới</div>
    </ion-buttons>

    <ion-buttons end>
      <button class="add_feed_send_btn" ion-button (click)="putFeed()" [ladda]="isCreatingFeed">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content" id="addfeed_container">
  <ion-list no-lines class="addfeed_main">
    <ion-item class="addfeed_item">
      <ion-avatar item-start>
        <img src="{{user_current.avatar}}">
      </ion-avatar>

      <h2 class="addfeed_fullname">{{user_current.fullname}}</h2>
      <div class="addfeed_showmood">
        <div class="addfeed_tag" *ngIf="usersTag.length > 0"> - cùng với
          <div class="addfeed_tag_item" *ngFor="let user of usersTag">
            <a (click)="removeUserTag(user)">{{user.fullname}}, </a>
          </div>
        </div>

        <div class="addfeed_mood_title" *ngIf="mood_result">
          - đang {{moods[mood_result].title}}
        </div>
      </div>

      <ion-item class="addfeed_status">
        <ion-select class="addfeed_select" [(ngModel)]="privacy">
          <ion-option selected value="2">Mọi người</ion-option>
          <ion-option value="3">Bạn bè</ion-option>
          <ion-option value="1">Chỉ mình tôi</ion-option>
        </ion-select>

        <button class="add_feed_mood" ion-button clear item-end (click)="showMood()">
          <ion-icon class="addfeed_icon_mood" ios="ios-happy" md="md-happy"></ion-icon>
        </button>

      </ion-item>
    </ion-item>
  </ion-list>

  <ion-row *ngIf="location" >
    {{location}} 
  </ion-row>

  <ion-row>
    <ion-col class="addfeed_description" col-12>
      <ion-textarea [(ngModel)]="content" placeholder="Bạn đang nghĩ gì ?" rows="10" name="description"></ion-textarea>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="image">
    <img class="add_feed_images" src="{{image}}" (click)="deleteImage()">
  </ion-row>

</ion-content>

<ion-footer>
  <ion-row *ngIf="is_show_tag">
    <ion-list *ngIf="is_show_autocomplete">
      <ion-item *ngFor="let user of usersTmp" (click)="chooseUserTag(user)">
        {{ user.fullname }}
      </ion-item>
    </ion-list>
    <ion-searchbar #searchbar placeholder="Với" [(ngModel)]="search" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-row>

  <ion-row class="addfeed_bottom_nav">
    <ion-col col-4>
      <button ion-button full clear>
        <ion-icon class="addfeed_bottom_nav_icon" name="people" (click)="showTagFriend()"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-4>
      <button ion-button full clear (click)="onLocation()">
        <ion-icon name="flag"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-4>
      <button ion-button full clear (click)='imageAction()'>
        <ion-icon class="addfeed_bottom_nav_icon" name="images"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-footer>