<ion-header>
  <ion-navbar>
    <ion-title>Cộng đồng</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content" *ngIf="page">
  <div class="about-header">
    <img src="{{page.avatar}}" alt="ionic logo">
  </div>
  <div class="bar bar-header bar-dark" style="background-color: #fff;">
    <ion-row text-center>
      <ion-col col-4 *ngIf="is_owner" >
        <button ion-button icon-left clear small color="danger" (click)="goInventory();">
          <img width="24px" height="24px" src="assets/imgs/ic_go_to_inventory.png">
          <div>Vào kho</div>
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button icon-left clear small color="danger" (click)="goToPage('gift');">
          <img width="24px" height="24px" src="assets/imgs/ic_send_gift_blue.png">
          <div>Tặng quà</div>
        </button>
      </ion-col>


      <ion-col col-4 *ngIf="page.followed" (click)="likePage(false)" >
        <button ion-button icon-left clear small color="danger">
          <img width="24px" height="24px" src="assets/imgs/ic_like_actived.png">
          <div>Đã thích</div>
        </button>
      </ion-col>

      <ion-col col-4 *ngIf="!page.followed" (click)="likePage(true)">
        <button ion-button icon-left clear small color="danger">
          <img width="24px" height="24px" src="assets/imgs/ic_like.png">
          <div>Thích</div>
        </button>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="newfeedsPage">
    <ion-card style="margin-left: 0px; margin-right: 0px; width: 100%">
      <ion-card-content>
        <ion-row>
          <ion-col col-12>
            <p>
              <img class="icon-header" src="assets/imgs/ic_info_gay.png"> {{page.category}}
            </p>
            <p>
              <img class="icon-header" src="assets/imgs/ic_like_actived.png"> {{page.follow}}
            </p>
            <p>
              <img class="icon-header" src="assets/imgs/ic_location_actived.png"> {{page.address}}
            </p>
            <p>
              <img class="icon-header" src="assets/imgs/ic_play_actived.png">{{page.website}}
            </p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card style="margin-left: 0px; margin-right: 0px; width: 100%">
      <ion-card-header>
        Mô tả
      </ion-card-header>
      <ion-card-content>
        {{page.description}}
      </ion-card-content>
    </ion-card>
    <ion-list *ngIf="business_guid">
      <!-- <ion-item *ngFor="let number of [0,1,2,3,4]"> -->
      <app-feeds  [type]="'businesspage'" [feed_type]="'business'" [owner_guid]="business_guid"></app-feeds>
      <!-- </ion-item> -->
    </ion-list>
  </div>
</ion-content>