 app-search {
   ion-segment {
        display: block;
        white-space: nowrap;
        font-size: 0;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }

        ion-segment-button.segment-button {
            display: inline-block;
            min-width: 100px;
            width: auto;
        }
    }
     .product_feature_price {
    color: #D9534F;
    font-size: 14px;
    text-transform: capitalize;
  }
  .product_sale_price {
    color: #b6b7b7;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: line-through;
  }
 }
