<div class="product_feature_container" *ngIf="productsMostSold.length>0">
  <ion-row>
    <ion-col col-8>
      <h3 *ngIf="!is_feature" class="product_feature_label" style="font-weight: bold;">Sản phẩm bán chạy</h3>
      <h3 *ngIf="is_feature" class="product_feature_label" style="font-weight: bold;">Sản phẩm tiêu biểu</h3>
    </ion-col>
    <!-- <ion-col col-4 class="product_feature_readmore" (click)="goToPage('all',null);">Xem tất cả</ion-col> -->
  </ion-row>
  <ion-scroll scrollX class="product_feature">
    <div class="scroll-item" *ngIf="productsMostSold">
      <ion-col *ngFor="let product of productsMostSold" (click)="goToPage('product',product)">
        <div class="item-card">
          <div class="imgageProduct" *ngIf="product.images[0]==''" style="background-image: url('assets/imgs/image_not_found.jpg')"></div>
          <div class="imgageProduct" *ngIf="product.images[0]" [style.background]="'url(' + product.images[0] + ')'"></div>
          <div class="product_feature_info">
            <h4 class="product_feature_title">{{product.title}}</h4>
            <div class="product_feature_price">{{formatCurrency(product.price,product.currency)}}</div>
          </div>
        </div>
      </ion-col>
    </div>
  </ion-scroll>
</div>