<div class="product_feature_container" *ngIf="productsMostSold.length>0">
  <ion-row>
    <ion-col col-8>
      <h3 class="product_feature_label">Sản phẩm bán chạy</h3>
    </ion-col>
    <ion-col col-4 class="product_feature_readmore" (click)="goToPage('all',null);">Xem tất cả</ion-col>
  </ion-row>
  <ion-scroll scrollX class="product_feature">
    <div class="scroll-item" *ngIf="productsMostSold">
      <ion-col *ngFor="let product of productsMostSold" (click)="goToPage('product',product)">
        <div class="item-card">
          <img class="imgageProduct" *ngIf="product.images[0]==''" src="assets/imgs/image_not_found.jpg">
          <img class="imgageProduct" *ngIf="product.images[0]" src="{{product.images[0]}}">
          <div class="product_feature_info">
            <h4 class="product_feature_title">{{product.title}}</h4>
            <div class="product_feature_price">{{formatCurrency(product.price,product.currency)}}</div>
          </div>
        </div>
      </ion-col>
    </div>
  </ion-scroll>
</div>