app-products-feature {
  .inner {
    height: 100%;
    ion-card {
      display: table-cell;
      border: 1px solid #eee;
    }
  }
  img1 {
    border: 2px solid #BA55D3;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    background-color:#4B0082;
    box-shadow: 1px 1px 1px 1px yellow;
  }
  .item-card {
    display: inline-block;
    position: relative;
    width: 15%;
  }
  
  ion-scroll[scrollX] {
    white-space: nowrap;
    .scroll-item {
      display: inline-block;
    }
  }
  
  .imgageProduct{
        width: 70%;
  }

}