app-products-feature {
  .inner {
    height: 100%;
    ion-card {
      display: table-cell;
      border: 1px solid #eee;
    }
  }

  .item-card {
    display: inline-block;
    position: relative;
    width: 50vw;
  }
  
  ion-scroll[scrollX] {
    .scroll-item {
      display: flex;
    }
  }
  
  .imgageProduct{
    width: 45vw;
    height: 30vh;
    max-width: none;
    max-height: none;
  }

  .product_feature {
    min-height: 42vh;
  }

  .product_feature_label {
    float: left;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0px 10px 0px;
    text-transform: uppercase;
    color: #333;
  }

  .product_feature_readmore {
    margin: 12px 0px 0px 0px;
    font-size: 14px;
    font-weight: 400;
    color: #488AFF;
    font-style: italic;
    text-align: right;
    padding: 5px 7px 0px 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .product_feature_info {
    margin-top: 10px;
    padding: 0px 3vw 0px 3vw;
  }

  .product_feature_title {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0px 0px 5px 0px;
    height: 20px;
    overflow: hidden;
    color: #333;
  }

  .product_feature_price {
    color: #D9534F;
    font-size: 14px;
    text-transform: capitalize;
  }

}