app-products-feature {
  .inner {
    height: 100%;
    ion-card {
      display: table-cell;
      border: 1px solid #eee;
    }
  }
  img1 {
    border: 2px solid #BA55D3;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    background-color:#4B0082;
    box-shadow: 1px 1px 1px 1px yellow;
  }
  .item-card {
    display: inline-block;
    position: relative;
  }
  
  ion-scroll[scrollX] {
    white-space: nowrap;
    .scroll-item {
      display: inline-block;
    }
  }
  
  .imgageProduct{
    width: 70%;
  }

  .product_feature {
    height: 100vh;
  }

  .product_feature_label {
    float: left;
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0px 5px 0px;
    text-transform: capitalize;
    color: #333;
  }

  .product_feature_readmore {
    margin: 14px 0px 0px 0px;
    font-size: 14px;
    font-weight: 400;
    color: #488AFF;
    font-style: italic;
    text-align: right;
    padding: 5px 7px 0px 0px;
    box-sizing: border-box;
  }

  .product_feature_title {
    font-size: 16px;
    text-transform: capitalize;
  }

  .product_feature_price {
    color: #D9534F;
    font-size: 14px;
    text-transform: capitalize;
  }

}