<div>
  <ion-card *ngIf="isHasData">
    <ion-item class="feeds_item" *ngFor="let post of posts">
      <app-feed (uploaded)="someMethod($event)" *ngIf="post" [post]="post" [user]="getPoster(post.poster_guid)" [mood]="getMood(post.mood_guid)"
        [isShowMoreContent]=true [user_tag]="getUsersTag(post.description)" [type]="type" [shares]="shares" [users]="users">
      </app-feed>
    </ion-item>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>

<ion-footer *ngIf="feed_type!='friends'" >
  <ion-fab class="feeds_fab" *ngIf="is_show_btn_add_feed">
    <button ion-fab class="feeds_fab_icon" (click)="addNewFeed()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-footer>