<div>
  <ion-card *ngIf="isHasData">
    <ion-item *ngFor="let post of posts">
      <app-feed (uploaded)="someMethod($event)" *ngIf="post" [post]="post" [user]="getPoster(post.poster_guid)" [mood]="getMood(post.mood_guid)"
        [isShowMoreContent]=true [user_tag]="getUsersTag(post.description)" [type]="type">
      </app-feed>
    </ion-item>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>

<ion-fab class="feeds_button">
  <button ion-fab (click)="addNewFeed()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>