app-feeds {
    .content-ios.outer-content {
        background: #efeff4;
    }

    .button-ios span {
        color: #999;
        font-size: 14px;
    }

    .button-ios {
        padding: 0px 5px 0px 5px;
        text-transform: capitalize;
        color: #4a8bfc;
    }

    .card-ios {
        box-shadow: none;
        background: none;
        width: 100%;
        margin: 0px;
    }

    .label-ios {
        margin: 5px 5px 1px 9px;
        background-color: white;
    }
    
    .item-card {
        display: inline-block;
        position: relative;
    }

    .item-ios.item-block .item-inner {
        padding: 0px;
    }

    .item-ios {
        background-color: #fff;
        margin: 0px 0px 7px 0px;
        padding: 0px;
    }
    
    ion-scroll[scrollX] {
        white-space: nowrap;

        .scroll-item {
            display: inline-block;
        }
    }

    .feeds_fab {
        position: fixed;
        bottom: 12vh;
        right: 4vw;
        z-index: 100;

        .feeds_fab_icon {
            background-color: #f0ad4e;
            color: #fff;

            ion-icon {
                font-weight: bold;
            }
        }
    }

    .feeds_item {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }

    ion-infinite-scroll {
        display: block;
        width: 100%;
        margin-top: -110px;
    }

    .fakeItem {
     h2, h3, p {
         background: linear-gradient(to right, lightgray, white, lightgray);
         animation: skeleton 2s infinite;
         animation-timing-function: cubic-bezier(0.36,0.66,0.04,1);
         background-repeat: no-repeat;
         background-position-x: -300px;
         background-position-y: 0;
         background-color: lightgray;
         opacity: 0.5;
         height: 1em;
         margin-top: 10px;
    }
     h2 {
         max-width: 95px;
    }
     h3 {
         max-width: 95px;
    }
     p {
         max-width: 150px;
    }
  }
 .divCustom{
     background: linear-gradient(to right, lightgray, white, lightgray);
     animation: skeleton 2s infinite;
     animation-timing-function: cubic-bezier(0.36,0.66,0.04,1);
     background-repeat: no-repeat;
     background-position-x: -300px;
     background-position-y: 0;
     background-color: lightgray;
     opacity: 0.5;
     height: 6em;
     width: 22.5em;
  }
 .divCustom2{
     background: linear-gradient(to right, lightgray, white, lightgray);
    animation: skeleton 2s infinite;
    animation-timing-function: cubic-bezier(0.36,0.66,0.04,1);
    background-repeat: no-repeat;
    background-position-x: -300px;
    background-position-y: 0;
    background-color: lightgray;
    opacity: 0.5;
    width: 55px;
    height: 55px;
    margin: 0px 0px 0px 0;
    border-radius: 50%;
    border: 3px solid #fff;
    overflow: hidden;
    z-index: 1;
  }
 @keyframes skeleton {
     0% {
         background-position-x: -150px;
    }
     100% {
         background-position-x: 150px;
    }
  }

  .offer_myself_box {
        margin: 20px 0px;
        position: relative;
        padding: 0px 7px 0px 7px;
        text-align: center;
    }
   .offer_myself_main {
        background-color: #fff;
        border-radius: 10px;
        padding: 1px 25px 20px;
        box-shadow: 1px 1px #ccc;
    }
    .offer_myself_location {
        padding-top: 30px;
        margin: 20px 0px 10px 0px;
        font-size: 15px;
        padding: 0px;
        color: #55acee;
        font-size: 13px;
        text-align: center;
    }

    .offer_myself_location .item-inner {
        border-bottom: none !important;
    }  

    ion-card img {
        display: initial;
        width: 100%;
    }
}