app-feeds {
    .content-ios.outer-content {
        background: #efeff4;
    }

    .button-ios span {
        color: #999;
        font-size: 14px;
    }

    .button-ios {
        padding: 0px 5px 0px 5px;
        text-transform: capitalize;
        color: #4a8bfc;
    }

    .card-ios {
        box-shadow: none;
        background: none;
        width: 100%;
        margin: 0px;
    }

    .label-ios {
        margin: 7px 10px 7px 10px;
        background-color: white;
    }
    
    .item-card {
        display: inline-block;
        position: relative;
    }

    .item-ios.item-block .item-inner {
        padding: 0px;
    }

    .item-ios {
        background-color: #fff;
        margin: 1px 0px 10px 0px;
        padding: 1px 1px 0px 1px;
        box-sizing: border-box;
        width: auto;
    }
    
    ion-scroll[scrollX] {
        white-space: nowrap;
        .scroll-item {
        display: inline-block;
        }
    }

    .feeds_fab {
        position: fixed;
        bottom: 12vh;
        right: 4vw;
        z-index: 100;

        .feeds_fab_icon {
            background-color: #f0ad4e;
            color: #fff;

            ion-icon {
                font-weight: bold;
            }
        }
    }

    .feeds_item {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
}