app-feeds {
    .content-ios.outer-content {
        background: #efeff4;
    }

    .button-ios span {
        color: #999;
        font-size: 14px;
    }

    .button-ios {
        padding: 0px 5px 0px 5px;
        text-transform: capitalize;
        color: #4a8bfc;
    }

    .card-ios {
        box-shadow: none;
        background: none;
        width: 100%;
        margin: 0px;
    }

    .label-ios {
        margin: 7px 10px 7px 10px;
        background-color: white;
    }
    
    .item-card {
        display: inline-block;
        position: relative;
    }

    .item-ios.item-block .item-inner {
        padding: 0px;
    }

    .item-ios {
        background-color: #fff;
        margin: 1px 0px 10px 0px;
        padding: 0px 0px 0px 0px;
        box-sizing: border-box;
        width: auto;
    }
    
    ion-scroll[scrollX] {
        white-space: nowrap;
        .scroll-item {
        display: inline-block;
        }
    }

    .feeds_button {
        position: fixed;
        bottom: 75px;
        right: 10px;

        button {
            background-color:#f18b5a; 
            color: #fff
        }
    }
}