<ion-content class="outer-content">
  <ion-list>
    <ion-item class="inventory_history_item" *ngFor="let transaction of transactions" (click)="openHistoryDetail(transaction)">
      <a *ngIf="transaction.status==='requested'" class="inventory_history_row" style="color: #666">
        <ion-icon ios="ios-archive" class="inventory_history_icon" md="md-archive"></ion-icon> Đã tặng món quà số #{{transaction.guid}}</a>
      <a *ngIf="transaction.status==='rejected'" class="inventory_history_row" style="color: #DC202A"> 
        <ion-icon ios="ios-close-circle" class="inventory_history_icon" md="md-close-circle"></ion-icon> Đã từ chối quà số #{{transaction.guid}}</a>
      <a *ngIf="transaction.status==='accepted'" class="inventory_history_row" style="color: #00A474">
        <ion-icon ios="ios-checkmark-circle" class="inventory_history_icon" md="md-checkmark-circle"></ion-icon> Đã đồng ý nhận quà số #{{transaction.guid}}</a>
      <div class="inventory_history_datetime">{{getDateCreate(transaction.time_created) | date:'dd/MM/yyyy'}}</div>
    </ion-item>
  </ion-list>
</ion-content>
