<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start>
      <button class="ion_navbar_box" ion-button (click)="dismiss()">
        <ion-icon class="ion_navbar_icon" ios="md-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <div class="ion_navbar_title">Danh Mục</div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="category_all_main" *ngIf="categoriesParent">
    <ion-row *ngIf="categoriesParent">
      <ion-col col-4 style="text-align: center" *ngFor="let category of categoriesParent" (click)="goToPage(category);">
        <div class="categories_images" [style.background]="'url(' + category.logo + ')'"></div>
        <h4 class="categories_title">{{category.title}}</h4>
      </ion-col>
    </ion-row>
  </div>
</ion-content>