app-categories-all {
    .ion-page > .content {
		background-color: #fff;
	}

	#divTitle {
		position: relative;
		left: 0px;
	}
	
	.categories_label {
		float: left;
		font-size: 16px;
		font-weight: normal;
		margin: 10px 0px 5px 0px;
		text-transform: uppercase;
		color: #333;
	}

	.categories_readmore{
		padding: 0px 5px 0px 0px;
		font-size: 14px;
		font-weight: 400;
		color: #488AFF;
		font-style: italic;
		margin: 12px 0px 0px 0px;
	}

	.categories_title {
		font-size: 1.3rem;
		font-weight: 400;
		height: 34px;
		line-height: 1.3;
		margin: 7px 3px 7px 3px;
		color: #333;
		text-transform: capitalize;
		overflow: hidden;
	}

	.categories_images {
		width: 100%;
		height: 85px;
		background-position: center !important;
		background-size: contain !important;
		background-repeat: no-repeat !important;
	}

	.category_all_main {
		background-color: #fff; 
		padding: 5px; 
		margin: 10px 0px;
	}
}
