<ion-header>
  <ion-navbar swipeBackEnabled="true">
    <ion-title class="gift_nav_title">Chi Tiết Tặng Quà</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content" *ngIf="gift">
  <ion-card class="gift_card">
    <ion-card-header>THÔNG TIN</ion-card-header>
    <ion-card-content class="gift_user_info">
      <ion-row>Người gửi: {{gift.owner.fullname}}</ion-row>
      <ion-row *ngIf="gift.to_user">Người nhận: {{gift.to_user.fullname}}</ion-row>
      <ion-row *ngIf="gift.to_group">Đến nhóm: {{gift.to_group.title}}</ion-row>
      <ion-row *ngIf="gift.to_event" >Đến sự kiện: {{gift.to_event.title}}</ion-row>
      <ion-row>Thời gian: {{convertDate(gift.time_created)| date:'MM/dd/yyyy'}}</ion-row>
      <ion-row>Số lượng: {{gift.item_quantity}}</ion-row>
      <ion-row *ngIf="status == 'accepted'">Tình trạng: Đã nhận</ion-row>
      <ion-row *ngIf="status == 'rejected'">Tình trạng: Từ chối</ion-row>
      <ion-row *ngIf="status == 'requested'">Tình trạng: Đã gửi</ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="gift_product">
    <ion-card-header>CHI TIẾT SẢN PHẨM</ion-card-header>
    <ion-card-content class="gift_product_info">
      <ion-row>{{gift.item.title}}</ion-row>
      <ion-row>{{convertCurrency(gift.item.price,gift.item.currency)}}</ion-row>
      <img *ngIf="gift.item" class="gift_product_img" [src]='sanitizer.bypassSecurityTrustResourceUrl(gift.item.images[0])'>
    </ion-card-content>
  </ion-card>
</ion-content>