app-offers-search{
    .around{
        content: url(../../../../../assets/imgs/ic_location_actived.png);
        width: 24px;
        height: 24px;
    }
    .friend{
        content: url(../../../../../assets/imgs/ic_friend_actived.png);
        width: 24px;
        height: 24px;
    }
    .public{
        content: url(../../../../../assets/imgs/ic_member_actived.png);
        width: 24px;
        height: 24px;
    }
}