<ion-row>
  <ion-col col-6 *ngFor="let offer of offers">
    <ion-row style="position: relative;background-color: #fff; border-radius: 10px;" margin-top>
      <img width="48px" height="48px" src="{{offer.owner.avatar}}" style="position: absolute;top: -10px;z-index: 1;" />
      <ion-col col-12 text-right margin->
        <ion-icon name="timer"></ion-icon> 1 ngay 12:00
      </ion-col>
    </ion-row>
    <ion-row style="background-color: #fff;margin-top: 5px;padding: 10px;border-radius: 10px;position: relative;z-index: 0;">
      <div style="background-color: #fff; border-radius: 10px;margin: 0 auto;">

        <p *ngIf="offer.target=='public'" style="font-size: 15px;" no-margin text-center>
          <ion-icon class="public"></ion-icon> Xunh quanh</p>

        <p *ngIf="offer.target=='location'" style="font-size: 15px;" no-margin text-center>
          <ion-icon class="around"></ion-icon> Theo vị trí</p>

        <p *ngIf="offer.target=='friends'" style="font-size: 15px;" no-margin text-center>
          <ion-icon class="friend"></ion-icon> Bạn bè</p>


        <div style="padding: 0 5px">
          <img *ngIf="offer.product_snapshot.images[0]" width="100%" src="{{offer.product_snapshot.images[0]}}" />
          <img *ngIf="offer.product_snapshot.images[0]==''" width="100%" src="assets/imgs/image_not_found.jpg" />
        </div>
        <p style="font-size: 15px;" no-margin text-center>{{offer.product_snapshot.title}} #{{offer.guid}}</p>

      </div>
      <button ion-button color="danger" outline icon-only style="position: absolute;right: 0;bottom: -20px;border: 0px;padding: 0;margin: 0;">
        <ion-icon name='bookmark' is-active="false"></ion-icon>
      </button>
    </ion-row>
  </ion-col>
</ion-row>