<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Kho</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content">
	<ion-row>
		<ion-col col-12 text-center style="background-color: #fff">
		    <img width="30px" height="30px" src="assets/imgs/logo.png" /> <span>vi111pham</span>
		</ion-col>
		<ion-col col-6>
		  	<ion-card style="margin:0px; width: 100%">
			  <ion-card-header>
			    <ion-icon name="calculator"> Group co kho</ion-icon>
			  </ion-card-header>
			</ion-card>
		</ion-col>
		<ion-col col-6>
			<ion-card style="margin:0px; width: 100%">
			  <ion-card-header>
			    <ion-icon name="calculator"> TỔNG :</ion-icon>
			  </ion-card-header>
			</ion-card>
		</ion-col>
	</ion-row>

	<ion-grid>
	  <ion-row>
	    <ion-col col-4 *ngFor="let number of [0,1,2,3,4,5,6]" (click)="goToPage('items')" >
	      <div class="box inventory">
	        <div class="divImg">
	          <ion-badge item-end class="badge1">0</ion-badge>
	          <img width="100%" src="assets/imgs/logo.png" />
	        </div>
	            <h3 class="h3Img">Ionic</h3>
	     </div>
	    </ion-col>
	    <ion-col col-4>
	      <div class="box inventory">
	            <h3 class="h3Img">...</h3>
	     </div>
	    </ion-col>
	  </ion-row>
	</ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar class="toolbarFooter">
    <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button block (click)="goToPage('items')">Sắp hết hạn dùng</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block (click)="goToPage('items')">Sắp hết hạn lưu kho</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-footer>
