app-inventory {
  
  .wrapper {
     display: flex;
     flex-wrap: wrap;
  }
  .inventory_container{
    background-color: #efeff4;
  }

  .wrapper {
     display: grid;
     grid-gap: 10px;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     grid-auto-rows: minmax(150px, auto);
  }

  header,
  footer {
     padding: 3em;
     margin-left: 5px;
     margin-right: 5px;
     flex: 0 1 100%;
     grid-column: 1 / -1;
     text-align: center;
     background-color: rgba(175, 186, 202, 1);
  }

  .box {
     border-radius: 10px;
     padding: 0em;
     margin-left: 5px;
     margin-right: 5px;
     flex: 1 1 300px;

     h2 {
        font-weight: bold;
    }
  }

  .wrapper > * {
    margin-bottom: 10px;
  }

  @supports (display: grid) {
    .wrapper > * {
      margin: 0;
    }
  }

  .inventory {
  	background-color:  rgba(255, 255, 255, 1);
    height: 100%;
    text-align: center;
    padding: 25px 0 15px 0 !important;
    margin: 0em;
  }

  .invenFooter {
    height: 100%;
    text-align: center;
  }

  .inventory_footer{
    min-height: 45px;
    background-color: #ffb76b;
    bottom: 0px;
  }

  .inventory_metro_badge{
    border-radius: 50% !important;
    color: #fff;
    background-color: #fe974e;
    position: absolute;
    top: -20px;
    right: -30px;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    padding: 0px;
  }

  .inventory_metro_box {
    min-height: 120px;
  }

  .divImg{
    position: relative;
    margin: auto;
    width: 10vw;
    height: 10vw;
  }
  .inventory_metro_title{
    margin: 9px 0px 0px 0px;
    font-weight: normal;
    font-size: 14px;
    text-transform: capitalize;
    padding: 0px 5px 0px 5px;
    box-sizing: border-box;
    color: #666;
    line-height: 18px;
  }
  .itemRM{
    padding-right: 8px;
    border-bottom: 0 !important;
  }

  .divFooter{
    width: 10vw;
    height: 0vw;
    position: relative;
  }

  .badgeFooter{
    position: relative;
    right: -5px;
    background-color: #fe974e;
    border-radius: 100%;
  }

  .buttonFooter{
    right: 15px;
  }

  .buttonFooterBorder{
    border-left: 1px solid;
    border-radius: 0px;
  }

  .inventory_total {
    padding: 10px 0px 0px 0px;
    width: 100%;

    .card-ios {
      margin: 0px;
      width: 100%;
      border-radius: 0px;
    }

    .card-header-ios {
      line-height: 24px;
      color: #666;
      font-size: 15px;
    }
  }

  .inventory_total_img {
    float: left;
    width: 32px;
    height: auto;
    margin: 0px 15px 0px 3px;
  }

  ion-footer {
    left: 0;
    position: absolute;
    z-index: 10;
    display: block;
    width: 100%;
  }

  .inventory_metro_menu {
    margin: 0px;
  }

  .inventory_metro_etc {
    color: #666;
  }

  .inventory_footer_box {
    text-align: center;
    color: white;
    text-transform: capitalize;
    line-height: 30px;
  }

  .inventory_footer_box:first-child {
    border-right: 1px solid white;
  }

  .inventory_footer_quantity {
    background-color: white;
    color: #ffb76b;
    padding: 0px 4px 0px 4px;
    border-radius: 50%;
    text-align: center;
    margin: 0px 0px 0px 5px;
    font-weight: bold;
  }

}

