<ion-header *ngIf="!hidden_header">
	<ion-navbar>
		<ion-title>Kho Quà</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="inventory_container">
	<ion-row class="inventory_user">
		<ion-item *ngIf="inventoryType=='group'" class="inventory_user_info">
			<ion-avatar item-start>
				<img *ngIf="group.owner.avatar" src="{{group.owner.avatar}}" />
			</ion-avatar>
			<div class="inventory_user_fullname">{{group.owner.fullname}}</div>
		</ion-item>
		<ion-col class="inventory_product" col-6 *ngIf="inventoryType == 'group'">
			<ion-card class="inventory_product_box">
				<ion-item>
					<ion-thumbnail item-start>
						<img class="inventory_product_image" src="{{group.avatar}}">
					</ion-thumbnail>
					<p>{{group.title}}</p>
				</ion-item>
			</ion-card>
		</ion-col>

		<ion-item *ngIf="inventoryType =='event'" class="inventory_user_info">
			<ion-avatar item-start>
				<img src="{{event.owner.avatar}}" />
			</ion-avatar>
			<div class="inventory_user_fullname">{{event.owner.fullname}}</div>
		</ion-item>
		<ion-col class="inventory_product" col-6 *ngIf="inventoryType == 'event'">
			<ion-card class="inventory_product_box">
				<ion-item>
					<ion-thumbnail item-start>
						<img class="inventory_product_image" src="{{event.avatar}}">
					</ion-thumbnail>
					<p>{{event.title}}</p>
				</ion-item>
			</ion-card>
		</ion-col>

		<ion-item *ngIf="inventoryType=='business'" class="inventory_user_info">
			<ion-avatar item-start>
				<img src="{{page.owner.avatar}}" />
			</ion-avatar>
			<div class="inventory_user_fullname">{{page.owner.fullname}}</div>
		</ion-item>
		<ion-col class="inventory_product" col-6 *ngIf="inventoryType == 'business'">
			<ion-card class="inventory_product_box">
				<ion-item>
					<ion-thumbnail item-start>
						<img class="inventory_product_image" src="{{page.avatar}}">
					</ion-thumbnail>
					<p>{{page.title}}</p>
				</ion-item>
			</ion-card>
		</ion-col>


		<ion-col class="inventory_total" *ngIf="inventoryType!='user'" col-6 (click)="goToPage('items','all','Tất Cả')">
			<ion-card>
				<ion-card-header>
					<img class="inventory_total_img" src="assets/imgs/ic_quantity_gift.png"> TỔNG :{{totalItem}}
				</ion-card-header>
			</ion-card>
		</ion-col>

		<ion-col class="inventory_total" *ngIf="inventoryType=='user'" col-12 (click)="goToPage('items','all','Tất Cả')">
			<ion-card>
				<ion-card-header>
					<img class="inventory_total_img" src="assets/imgs/ic_quantity_gift.png"> TỔNG :{{totalItem}}
				</ion-card-header>
			</ion-card>
		</ion-col>
	</ion-row>

	<ion-grid class="inventory_metro_menu">
		<ion-row>
			<ion-col class="inventory_metro_box" col-4 *ngFor="let type of types" (click)="goToPage('items',type.item_type,type.title)">
				<div class="box inventory">
					<div class="divImg">
						<ion-badge item-end class="inventory_metro_badge">{{type.badge}}</ion-badge>
						<img width="100%" src="{{type.image}}" />
					</div>
					<h6 class="inventory_metro_title">{{type.title}}</h6>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<ion-footer class="inventory_footer">
	<ion-grid>
		<ion-row>
			<ion-col class="inventory_footer_box" col-6 (click)="goToPage('items','nearly_expiry','Sắp hết hạn dùng')">
				Sắp hết hạn dùng <span class="inventory_footer_quantity">{{badge_near_expiry}}</span>
			</ion-col>
			<ion-col class="inventory_footer_box" col-6 (click)="goToPage('items','nearly_stored','Sắp hết hạn lưu kho')">
				Sắp hết hạn lưu kho <span class="inventory_footer_quantity">{{badge_near_stored}}</span>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>