<ion-header *ngIf="!hidden_header">
	<ion-navbar>
		<ion-title>Kho</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="content">
	<ion-row>
		<ion-col *ngIf="inventoryType=='group'" col-12 text-center style="background-color: #fff">
			<img *ngIf="group.owner.avatar"  width="30px" height="30px" src="{{group.owner.avatar}}" />
			<span>{{group.owner.fullname}}</span>
		</ion-col>
		<ion-col col-6 *ngIf="inventoryType=='group'">
			<ion-card style="margin:0px; width: 100%">
				<ion-card-header>
					<img height="30px" width="30px" style="float: left" src="{{group.avatar}}">{{group.title}}
				</ion-card-header>
			</ion-card>
		</ion-col>

		<ion-col *ngIf="inventoryType=='event'" col-12 text-center style="background-color: #fff">
			<img width="30px" height="30px" src="{{event.owner.avatar}}" />
			<span>{{event.owner.fullname}}</span>
		</ion-col>
		<ion-col col-6 *ngIf="inventoryType=='event'">
			<ion-card style="margin:0px; width: 100%">
				<ion-card-header>
				<img height="30px" width="30px" style="float: left" src="{{event.avatar}}">>{{event.title}}
				</ion-card-header>
			</ion-card>
		</ion-col>


		<ion-col *ngIf="inventoryType!='user'" col-6 (click)="goToPage('items','all','Tất Cả')">
			<ion-card style="margin:0px; width: 100%">
				<ion-card-header>
					<img style="float: left;width: 17px;height:17px;margin: 0px 5px 0 0" src="assets/imgs/ic_quantity_gift.png"> TỔNG :{{totalItem}}
				</ion-card-header>
			</ion-card>
		</ion-col>

		<ion-col *ngIf="inventoryType=='user'" col-12 (click)="goToPage('items','all','Tất Cả')">
			<ion-card style="margin:0px; width: 100%">
				<ion-card-header>
					<img style="float: left;width: 17px;height:17px;margin: 0px 5px 0 0" src="assets/imgs/ic_quantity_gift.png"> TỔNG :{{totalItem}}
				</ion-card-header>
			</ion-card>
		</ion-col>
	</ion-row>

	<ion-grid>
		<ion-row>
			<ion-col col-4 *ngFor="let type of types" (click)="goToPage('items',type.item_type,type.title)">
				<div class="box inventory">
					<div class="divImg">
						<ion-badge item-end class="badge1">{{type.badge}}</ion-badge>
						<img width="100%" src="{{type.image}}" />
					</div>
					<h6 class="h3Img">{{type.title}}</h6>
				</div>
			</ion-col>
			<ion-col col-4>
				<div class="box inventory">
					<h3 class="h3Img">...</h3>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
<ion-footer>
	<ion-toolbar class="toolbarFooter">
		<ion-grid>
			<ion-row>
				<ion-col col-6>
					<button ion-button block (click)="goToPage('items')">Sắp hết hạn dùng</button>
				</ion-col>
				<ion-col col-6>
					<button ion-button block (click)="goToPage('items')">Sắp hết hạn lưu kho</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
</ion-footer>