app-user-menu {
    .user_menu_list {
        margin: 0px 0 0px;

        .item-ios {
            padding: 0px 0px 0px 0px;

            .label-ios {
                margin: 0px 3px 0px 14px;
                color: #333;
            }
        }

        ion-icon {
            margin: 0px 5px 0px 0px;
        }
    }
}