app-user-menu {
    .user_menu_list {
        margin: 0px 0 0px;

        .item-ios {
            padding: 0px;

            .label-ios {
                margin: 0px 0px 0px 12px;
                color: #333;
            }
        }

        span {
            vertical-align: middle;
            font-size: 1.5rem;
        }

        .user_menu_icon {
            width: 25px;
            height: auto;
            vertical-align: middle;
            margin: 0px 7px 0px 0px;
        }
    }
}