app-feed-menu {
    .feed_menu_container {
        margin: 0px;

        .item-ios {
            padding: 0px;
            border-bottom: none !important;
        }

        .item-inner {
            padding: 0px 5px 0px 12px;
            font-size: 1.6rem;
            color: #333;
        }

        .item-inner:last-child {
            border-bottom: none;
        }
    }
}