app-main-menu {
    .menu-inner {
        width: 50%;
    }
    
    .main-nav p {
        text-align : center;
        margin-top: 0px;
    }
    .content-main {
        background-image: url("../assets/imgs/background.jpg");
    }
}