app-main-menu {
    .menu-inner {
        width: 50%;
    }

    .content-main {
        background-image: url("../assets/imgs/background.jpg");
    }

    .menu_images {
        border-radius: 50%;
        width: 75px;
        height: 75px;
        background-position: center !important;
        background-size: cover !important;
        margin: auto;
    }

    .main-nav {
        margin-top: 15px;
    }

    .main_title {
        overflow: hidden;
        width: 100%;
        text-align: center;
        margin-top: 0px;
        color: white;
        margin: 10px 0px 0px 0px;
        text-transform: uppercase;
    }

    ::-webkit-scrollbar,
    *::-webkit-scrollbar {
        display: none;
    }
}