app-contact-business {
    .contact_business_avatar {
        width: 50px;
        height: 55px;
        background-position: center !important;
        background-size: cover !important;
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        margin: auto;
    }

    .contact_business_title {
        height: 22px;
        overflow: hidden;
        text-transform: capitalize;
        margin: 0px 0px 0px 0px;
        font-size: 17px;
    }

    .contact_business_description {
        font-size: 13px;
        color: #666;
        overflow: hidden;
        height: 32px;
        white-space: normal;
    }
}