app-contact-business {
    .scroll-content {
        margin-bottom: 43px !important;
    }

    .contact_business_avatar {
        width: 50px;
        height: 55px;
        background-position: center !important;
        background-size: cover !important;
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        margin: auto;
    }

    .contact_business_title {
        height: 22px;
        overflow: hidden;
        white-space: nowrap;
        max-height: 40px;
        text-transform: capitalize;
        padding: 3px 0px 0px 0px;
        text-overflow: ellipsis;
        color: #333;
        text-transform: capitalize;
        margin: 0px 0px 1px 0px;
        font-size: 1.6rem;
        text-transform: capitalize;
        margin: 0px 0px 1px 0px;
        font-size: 1.6rem;
    }

    .contact_business_description {
        font-size: 13px;
        color: #666;
        overflow: hidden;
        height: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 3px 0px 0px 1px;
    }

    .list-ios {
        margin: 0px 0px 35px 0px;

        ion-item {
            padding: 3px 0px 5px 0px;
        }
    }
    
    .fakeItem {
     h2, h3, p {
         background: linear-gradient(to right, lightgray, white, lightgray);
         animation: skeleton 2s infinite;
         animation-timing-function: cubic-bezier(0.36,0.66,0.04,1);
         background-repeat: no-repeat;
         background-position-x: -300px;
         background-position-y: 0;
         background-color: lightgray;
         opacity: 0.5;
         height: 1em;
         margin-top: 10px;
    }
     h2 {
         max-width: 150px;
    }
     h3 {
         max-width: 200px;
    }
     p {
         max-width: 250px;
    }
  }
 .divCustom{
     background: linear-gradient(to right, lightgray, white, lightgray);
     animation: skeleton 2s infinite;
     animation-timing-function: cubic-bezier(0.36,0.66,0.04,1);
     background-repeat: no-repeat;
     background-position-x: -300px;
     background-position-y: 0;
     background-color: lightgray;
     opacity: 0.5;
    height: 70px;
    width: 70px;
    border-radius: 100px;
  }
 @keyframes skeleton {
     0% {
         background-position-x: -150px;
    }
     100% {
         background-position-x: 150px;
    }
  }
}