app-gift-item-detail{
  .buttonIon2 {
    width: 35px;
    height: 30px;
    border-width: 1px;
    border-style: inset;   
    background-color: #488aff;
    color: white;
  }
  .list.list-inline {
    display: -moz-box;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 25px;
    position: relative;
  }
  .buttonIon {
    width: 60px;
    height: 30px;
    border-width: 1px;
    border-style: ridge;
    background-color: #ffffff;
  }
  .range-ios.range-has-pin {
    padding-top: 5px;
    left: 10px;
  }
  .button-round-ios {
    border-radius: 64px;
    padding: 0px 1.6rem;
}
}