app-gift-item-detail{
  .gift_item_send_btn {
    ion-icon {
      color: #fff;
    }
  }

  .gift_item_image {
    height: 8rem;
    border-radius: 5px;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .gift_item_title {
    font-size: 1.8rem;
    color: #333;
    text-transform: capitalize;
    margin: 5px 0px 0px 3px;
  }

  .gift_item_description {
    margin: 10px 0 0 3px;
    background-color: #efeff4;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 7px 10px 9px;
    color: #333;
  }

  .gift_item_quantity {
    margin: 12px 0 0 3px;
    color: #333;

    span {
      color: rgb(173, 43, 43)
    }
  }

  .list.list-inline {
    display: -moz-box;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 25px;
    position: relative;
  }
  .buttonIon {
    width: 60px;
    height: 30px;
    border-width: 1px;
    border-style: ridge;
    background-color: #ffffff;
  }
  .range-ios.range-has-pin {
    padding-top: 5px;
    left: 10px;
  }
  .button-round-ios {
    border-radius: 64px;
    padding: 0px 1.6rem;
}
}