<ion-header>
  <ion-navbar>
    <!-- <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons> -->
    <ion-title>Thông tin quà tặng</ion-title>
    <ion-buttons end>
      <button ion-button (click)="choosenItem()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <img width="100%"  src="{{imageUrl}}" onError="this.src='assets/imgs/image_not_found.jpg';"/>
      </ion-col>
      <ion-col col-8>
        <ion-row>
           {{item.product_snapshot.title}}
        </ion-row>
        <ion-row style="margin: 20px 0 0 0; background-color: rgb(184, 184, 184);border-radius: 8px;padding: 5px;">
           {{item.product_snapshot.description}}
        </ion-row>

        <ion-row style="margin: 20px 0 0 0;">
          Số lượng :
          <a style="color: rgb(173, 43, 43)">{{item.quantity}}</a>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <button ion-button round disabled="true">Số lượng : {{quantitySend}}</button>
      </ion-col>
      <ion-col col-8>
          <ion-range min="1" max="{{item.quantity}}" pin="true" [(ngModel)]="quantitySend" color="secondary">
            <ion-icon style="font-size: 3.4rem;" range-left name="remove" (click)="onMinus()"></ion-icon>
            <ion-icon style="font-size: 3.4rem;" range-right name="add" (click)="onAdd()"></ion-icon>
          </ion-range>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>