<ion-header>
  <ion-navbar>
    <ion-title>Thông tin quà tặng</ion-title>
    <ion-buttons end>
      <button ion-button >
        <ion-icon name="send" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <img width="100%" src="assets/imgs/logo.png" />
      </ion-col>
      <ion-col col-8>
        <ion-row>
          Iphone 8 plus
        </ion-row>
        <ion-row style="margin: 20px 0 0 0; background-color: rgb(184, 184, 184);border-radius: 8px;padding: 5px;">
          Description Description Description Description Description Description Description Description
        </ion-row>

        <ion-row style="margin: 20px 0 0 0;">
          Số lượng :
          <a style="color: rgb(173, 43, 43)">5</a>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <button ion-button round disabled="true">Số lượng</button>
      </ion-col>
      <ion-col col-8>
        <ion-col col-4>
            <button ion-button round>+</button>
        </ion-col>
        <ion-col col-4>
            <button ion-button round>5</button>
        </ion-col>
        <ion-col col-4>
            <button ion-button round>-</button>
        </ion-col>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>