<ion-list>
  <!-- "history" "guest" "member" "visitor" -->
  <ion-item (click)="publicEvent()" *ngIf="eventSerive.publish==1 && is_user_current">
    <ion-icon name="person"></ion-icon> Công bố sự kiện
  </ion-item>
  <ion-item *ngIf="is_user_current"  (click)="closeOpenEvent()">
    <div *ngIf="(eventSerive.publish==1 || eventSerive.publish==2 )">
      <ion-icon name="person"></ion-icon> Đóng sự kiện</div>
    <div *ngIf="(eventSerive.publish==0 ||eventSerive.publish==3)">
      <ion-icon name="person"></ion-icon> Mở sự kiện</div>
  </ion-item>
  <ion-item (click)="openQR()"  *ngIf="event.has_inventory=='1'">
    <div>
      <ion-icon name="person"></ion-icon>Mã QR</div>
  </ion-item>
</ion-list>