<ion-list class="event_menu_list">
  <ion-item class="event_menu_item" (click)="publicEvent()" *ngIf="eventSerive.publish==1 && is_user_current">
    <ion-icon ios="ios-megaphone" md="md-megaphone"></ion-icon> <span>Công bố sự kiện</span>
  </ion-item>

  <ion-item class="event_menu_item" *ngIf="is_user_current" (click)="closeOpenEvent()">
    <div *ngIf="(eventSerive.publish==1 || eventSerive.publish==2 )">
      <ion-icon ios="ios-trash" md="md-trash"></ion-icon> <span>Đóng sự kiện</span>
    </div>
    <div *ngIf="(eventSerive.publish==0 ||eventSerive.publish==3)">
      <ion-icon ios="ios-open" md="md-open"></ion-icon> <span>Mở sự kiện</span>
    </div>
  </ion-item>

  <ion-item class="event_menu_item" (click)="openQR()" *ngIf="event.has_inventory=='1'">
      <ion-icon ios="ios-qr-scanner" md="md-qr-scanner"></ion-icon> <span>Mã QR</span>
  </ion-item>
</ion-list>