app-event-menu {
    .event_menu_list {
        margin: 0px 0 0px;
    }

    .event_menu_item {
        padding: 0px !important;

        .item-inner {
            padding: 0px 5px 0px 12px;

            span {
                margin: 0px 0px 0px 7px;
                font-size: 1.7rem;
            }
        }
    }
}